.footer {
  &__container {
    margin: 0 auto;
    border: 1px solid var(--border-color);
    padding: 0;
  }

  &__descr {
    font-family: var(--font-family);
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    line-height: 100%;
    text-align: center;
  }
}
