
.header {
  &__container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    border: 1px solid var(--border-color);
    padding: 0;
    gap: 10px;
  }

  &__img {
    padding: 0;
    height: 110px;
    background-image: url('./../img/header.jpg');
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;

    @media (width <= 768px) {
      height: 80px;
    }

    @media (width <= 640px) {
      height: 70px;
    }

    @media (width <= 500px) {
      height: 60px;
    }

    @media (width <= 400px) {
      height: 50px;
    }

    @media (width <= 320px) {
      height: 40px;
    }
  }
}

.mainnav {
  display: flex;
  align-items: center;
  padding: 5px;
  background-color: var(--bg-color);

  &__list {
    display: flex;
    gap: 10px;

    @media (width <= 640px) {
      gap: 5px;
    }
  }

  &__btn {
    display: inline-block;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    padding: 5px 10px;
    width: 170px;
    font-family: var(--font-family);
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    line-height: 100%;
    text-align: center;
    text-transform: uppercase;
    color: var(--text-color);
    background:var(--bg-color-1);

    @include btn-eff;

    @media (width <= 640px) {
      padding: 5px;
      width: 100px;
      font-size: 14px;
    }
  }
}
