.book {
  &__content {
    &-img {
      display: block;
      margin: 0 auto;
      text-align: center;

      &:not(:first-child) {
        display: inline;
        margin: 0;
      }
    }
  }

  &__descr {
    margin: 0;
    margin-bottom: 10px;
    font-family: var(--font-family);
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    line-height: 120%;
    text-indent: 20px;

    &-title {
      margin-top: 10px;
      font-style: italic;
    }

    &-tbold {
      margin-top: 20px;
      text-align: left;
      text-indent: 20px;
      font-weight: 600;
    }
  }

  &__descr-list {
    list-style-type: none; /* Убираем исходные маркеры */
    counter-reset:  item; /* Обнуляем счетчик списка */
  }

  &__descr-item::before {
    content: counter(item) ')'; /* Добавляем к числам скобку */
    counter-increment: item; /* Задаём имя счетчика */
  }
}
