.book {
  &__content {
    &-img {
      display: block;
      margin: 0 auto;
      text-align: center;

      &:not(:first-child) {
        display: inline;
        margin: 0;
      }
    }
  }

  &__descr {
    margin: 0;
    margin-bottom: 10px;
    font-family: var(--font-family);
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    line-height: 120%;
    text-indent: 20px;

    &-title {
      margin-top: 10px;
      font-style: italic;
    }
  }

  &__descr-list {
    margin: 0;
    margin-bottom: 10px;
    font-family: var(--font-family);
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    line-height: 120%;
  }
}
