<script type="text/javascript" language="JavaScript">// <![CDATA[
  var res="1213131312";
function check_me()
{
  var count=0;
//  with(document.test) {
if (!document.test.Q1[0].checked&&!document.test.Q1[1].checked&&!document.test.Q1[2].checked)
{count+=1};
if (!document.test.Q2[0].checked&&!document.test.Q2[1].checked&&!document.test.Q2[2].checked)
{count+=1};
if (!document.test.Q3[0].checked&&!document.test.Q3[1].checked&&!document.test.Q3[2].checked)
{count+=1};
if (!document.test.Q4[0].checked&&!document.test.Q4[1].checked&&!document.test.Q4[2].checked)
{count+=1};
if (!document.test.Q5[0].checked&&!document.test.Q5[1].checked&&!document.test.Q5[2].checked)
{count+=1};
if (!document.test.Q6[0].checked&&!document.test.Q6[1].checked&&!document.test.Q6[2].checked)
{count+=1};
if (!document.test.Q7[0].checked&&!document.test.Q7[1].checked&&!document.test.Q7[2].checked)
{count+=1};
if (!document.test.Q8[0].checked&&!document.test.Q8[1].checked&&!document.test.Q8[2].checked)
{count+=1};
if (!document.test.Q9[0].checked&&!document.test.Q9[1].checked&&!document.test.Q9[2].checked)
{count+=1};
if (!document.test.Q10[0].checked&&!document.test.Q10[1].checked&&!document.test.Q10[2].checked)
{count+=1};
if (count>0) alert("Вы выполнили не все задания. Проверьте себя!")
        else answer();
//    }
}

function control(k, f1,f2,f3,f4,f5,f6,f7,f8,f9,f10) {
if (k==1&&f1.checked) return true;
if (k==2&&f2.checked) return true;
if (k==3&&f3.checked) return true;
if (k==4&&f4.checked) return true;
if (k==5&&f5.checked) return true;
if (k==6&&f6.checked) return true;
if (k==7&&f7.checked) return true;
if (k==8&&f8.checked) return true;
if (k==9&&f9.checked) return true;
if (k==10&&f10.checked) return true;
return false;
}

function answer() {
answ="";
//with(document)    {
answ+=control(res.charAt(0), document.test.Q1[0], document.test.Q1[1], document.test.Q1[2])?"1":"0";
answ+=control(res.charAt(1), document.test.Q2[0], document.test.Q2[1], document.test.Q2[2])?"1":"0";
answ+=control(res.charAt(2), document.test.Q3[0], document.test.Q3[1], document.test.Q3[2])?"1":"0";
answ+=control(res.charAt(3), document.test.Q4[0], document.test.Q4[1], document.test.Q4[2])?"1":"0";
answ+=control(res.charAt(4), document.test.Q5[0], document.test.Q5[1], document.test.Q5[2])?"1":"0";
answ+=control(res.charAt(5), document.test.Q6[0], document.test.Q6[1], document.test.Q6[2])?"1":"0";
answ+=control(res.charAt(6), document.test.Q7[0], document.test.Q7[1], document.test.Q7[2])?"1":"0";
answ+=control(res.charAt(7), document.test.Q8[0], document.test.Q8[1], document.test.Q8[2])?"1":"0";
answ+=control(res.charAt(8), document.test.Q9[0], document.test.Q9[1], document.test.Q9[2])?"1":"0";
answ+=control(res.charAt(9), document.test.Q10[0], document.test.Q10[1], document.test.Q10[2])?"1":"0";

showResult();
//    }
}

function showResult()   {
    var nok=0;
    var i,s;

for (i=0; i<answ.length;i++) {nok+=answ.charAt(i)=="1"?1:0;}
if(nok==10) s="ОТЛИЧНО";
if(nok<10) s="ХОРОШО";
if(nok<7.5) s="УДОВЛЕТВОРИТЕЛЬНО";
if (nok<5) s="НЕУДОВЛЕТВОРИТЕЛЬНО";
    document.test.s1.
    value="Количество правильных ответов "+nok+". Ваша оценка "+s+". Посмотрите на окно рядом с номером вопроса. Если ответ правильный, там (+). Если ответ ошибочен, там (-).";

//with(document.test)  {
    if (answ.charAt(0)=="1") {document.test.T1.value=" + "} else {document.test.T1.value=" - "};
    if (answ.charAt(1)=="1") {document.test.T2.value=" + "} else {document.test.T2.value=" - "};
    if (answ.charAt(2)=="1") {document.test.T3.value=" + "} else {document.test.T3.value=" - "};
    if (answ.charAt(3)=="1") {document.test.T4.value=" + "} else {document.test.T4.value=" - "};
    if (answ.charAt(4)=="1") {document.test.T5.value=" + "} else {document.test.T5.value=" - "};
    if (answ.charAt(5)=="1") {document.test.T6.value=" + "} else {document.test.T6.value=" - "};
    if (answ.charAt(6)=="1") {document.test.T7.value=" + "} else {document.test.T7.value=" - "};
    if (answ.charAt(7)=="1") {document.test.T8.value=" + "} else {document.test.T8.value=" - "};
    if (answ.charAt(8)=="1") {document.test.T9.value=" + "} else {document.test.T9.value=" - "};
    if (answ.charAt(9)=="1") {document.test.T10.value=" + "} else {document.test.T10.value=" - "};
//}
}
function showhide(obj){
    if(obj == 'none') return 'inline';
    else return 'none';
}
// ]]>
</script>

&nbsp;&nbsp;&nbsp;<span style="color:#006699;text-decoration:underline;cursor:pointer;" onclick="document.getElementById('instruction').style.display = showhide(document.getElementById('instruction').style.display)">
Инструкция</span>
  <br/>
<div id="instruction" style="display: none; width: 100%;">
<ul>
<li>Выберите один из вариантов в каждом из 10 вопросов;</li>
<li>Нажмите на кнопку "Показать результат";</li>
<li>Скрипт не покажет результат, пока Вы не ответите на все вопросы;</li>
<li>Загляните в окно рядом с номером задания. Если ответ правильный, то там (+). Если Вы ошиблись, там (-).</li>
<li>За каждый правильный ответ начисляется 1 балл;</li>
<li>Оценки: менее 5 баллов - НЕУДОВЛЕТВОРИТЕЛЬНО, от 5, но менее 7.5 - УДОВЛЕТВОРИТЕЛЬНО, 7.5 и менее 10 - ХОРОШО, 10 - ОТЛИЧНО;</li>
<li>Чтобы сбросить результат тестирования, нажать кнопку "Сбросить ответы";</li>
</ul>
</div>
<form name="test"><ol>
<li><INPUT type="text" size="1" value="" name="T1"/><b> Какая сила действует на тело, погруженное в жидкость?</b><br/>
<input type="radio" value="0" name="Q1"/> сила Архимеда<br />
<input type="radio" value="1" name="Q1"/> сила Паскаля<br />
<input type="radio" value="2" name="Q1"/> сила Бернулли<br />
<br/></li><li><INPUT type="text" size="1" value="" name="T2"/><b> Как называется модель жидкости, в которой отсутствует вязкость?</b><br/>
<input type="radio" value="0" name="Q2"/> ньютоновская жидкость<br />
<input type="radio" value="1" name="Q2"/> идеальная жидкость<br />
<input type="radio" value="2" name="Q2"/> гидрофильная жидкость<br />
<br/></li><li><INPUT type="text" size="1" value="" name="T3"/><b> Как называется установившееся течение, при котором значения давления и скорости в каждой точке потока не зависят от времени?</b><br/>
<input type="radio" value="0" name="Q3"/> стационарное<br />
<input type="radio" value="1" name="Q3"/> ламинарное<br />
<input type="radio" value="2" name="Q3"/> турбулентное<br />
<br/></li><li><INPUT type="text" size="1" value="" name="T4"/><b> Какая формула определяет силу внутреннего трения в жидкости?</b><br/>
<input type="radio" value="0" name="Q4"/> <img src="./img/part-2/formula-t5-1.jpg" alt="formula-t5-1" class="book__img book__img-text book__img-small book__img-middle"><br />
<input type="radio" value="1" name="Q4"/> <img src="./img/part-2/formula-t5-2.jpg" alt="formula-t5-2" class="book__img book__img-text book__img-small book__img-middle"><br />
<input type="radio" value="2" name="Q4"/> <img src="./img/part-2/formula-t5-3.jpg" alt="formula-t5-3" class="book__img book__img-text book__img-small book__img-middle"><br />
<br/></li><li><INPUT type="text" size="1" value="" name="T5"/><b> Как изменяется коэффициент вязкости жидкости при увеличении температуры?</b><br/>
<input type="radio" value="0" name="Q5"/> уменьшается<br />
<input type="radio" value="1" name="Q5"/> увеличивается<br />
<input type="radio" value="2" name="Q5"/> не изменяется<br />
<br/></li><li><INPUT type="text" size="1" value="" name="T6"/><b> Какое будет течение жидкости, если Re &lt; Re<sub>кр</sub>?</b><br/>
<input type="radio" value="0" name="Q6"/> стационарное<br />
<input type="radio" value="1" name="Q6"/> турбулентное<br />
<input type="radio" value="2" name="Q6"/> ламинарное<br />
<br/></li><li><INPUT type="text" size="1" value="" name="T7"/><b> Какая жидкость неньютоновская?</b><br/>
<input type="radio" value="0" name="Q7"/> кровь<br />
<input type="radio" value="1" name="Q7"/> лимфа<br />
<input type="radio" value="2" name="Q7"/> плазма крови<br />
<br/></li><li><INPUT type="text" size="1" value="" name="T8"/><b> От чего не зависит коэффициент поверхностного натяжения?</b><br/>
<input type="radio" value="0" name="Q8"/> от температуры<br />
<input type="radio" value="1" name="Q8"/> от вида жидкости<br />
<input type="radio" value="2" name="Q8"/> от площади поверхности жидкости<br />
<br/></li><li><INPUT type="text" size="1" value="" name="T9"/><b> Какое явление мы будем наблюдать, если сила притяжения между молекулами жидкости меньше, чем сила притяжения между молекулами жидкости и молекулами поверхности твёрдого тела?</b><br/>
<input type="radio" value="0" name="Q9"/> явление смачивания<br />
<input type="radio" value="1" name="Q9"/> явление несмачивания<br />
<input type="radio" value="2" name="Q9"/> явление частичного смачивания<br />
<br/></li><li><INPUT type="text" size="1" value="" name="T10"/><b> Для чего служит малый круг кровообращения?</b><br/>
<input type="radio" value="0" name="Q10"/> для доставки кислорода ко всем органам организма, а также для удаления из них углекислого газа и продуктов обмена<br />
<input type="radio" value="1" name="Q10"/> для насыщения пришедшей по венам крови кислородом *<br />
<input type="radio" value="2" name="Q10"/> замены большого круга в случае его отказа<br />
<br/></li></ol>
<CENTER>
<P><TEXTAREA name="s1" rows="4" cols="70" readonly> </TEXTAREA> </P>
<INPUT onclick="check_me()" type="button" value="Показать результат"/>&nbsp;&nbsp;&nbsp;&nbsp;
<INPUT type="reset" value="Сбросить ответы"/>
</CENTER>
</form>
<!-- Test created by service http://test.fromgomel.com -->
