<script type="text/javascript" language="JavaScript">// <![CDATA[
  var res="3213213121";
function check_me()
{
  var count=0;
//  with(document.test) {
if (!document.test.Q1[0].checked&&!document.test.Q1[1].checked&&!document.test.Q1[2].checked)
{count+=1};
if (!document.test.Q2[0].checked&&!document.test.Q2[1].checked&&!document.test.Q2[2].checked)
{count+=1};
if (!document.test.Q3[0].checked&&!document.test.Q3[1].checked&&!document.test.Q3[2].checked)
{count+=1};
if (!document.test.Q4[0].checked&&!document.test.Q4[1].checked&&!document.test.Q4[2].checked)
{count+=1};
if (!document.test.Q5[0].checked&&!document.test.Q5[1].checked&&!document.test.Q5[2].checked)
{count+=1};
if (!document.test.Q6[0].checked&&!document.test.Q6[1].checked&&!document.test.Q6[2].checked)
{count+=1};
if (!document.test.Q7[0].checked&&!document.test.Q7[1].checked&&!document.test.Q7[2].checked)
{count+=1};
if (!document.test.Q8[0].checked&&!document.test.Q8[1].checked&&!document.test.Q8[2].checked)
{count+=1};
if (!document.test.Q9[0].checked&&!document.test.Q9[1].checked&&!document.test.Q9[2].checked)
{count+=1};
if (!document.test.Q10[0].checked&&!document.test.Q10[1].checked&&!document.test.Q10[2].checked)
{count+=1};
if (count>0) alert("Вы выполнили не все задания. Проверьте себя!")
        else answer();
//    }
}

function control(k, f1,f2,f3,f4,f5,f6,f7,f8,f9,f10) {
if (k==1&&f1.checked) return true;
if (k==2&&f2.checked) return true;
if (k==3&&f3.checked) return true;
if (k==4&&f4.checked) return true;
if (k==5&&f5.checked) return true;
if (k==6&&f6.checked) return true;
if (k==7&&f7.checked) return true;
if (k==8&&f8.checked) return true;
if (k==9&&f9.checked) return true;
if (k==10&&f10.checked) return true;
return false;
}

function answer() {
answ="";
//  with(document)    {
answ+=control(res.charAt(0), document.test.Q1[0], document.test.Q1[1], document.test.Q1[2])?"1":"0";
answ+=control(res.charAt(1), document.test.Q2[0], document.test.Q2[1], document.test.Q2[2])?"1":"0";
answ+=control(res.charAt(2), document.test.Q3[0], document.test.Q3[1], document.test.Q3[2])?"1":"0";
answ+=control(res.charAt(3), document.test.Q4[0], document.test.Q4[1], document.test.Q4[2])?"1":"0";
answ+=control(res.charAt(4), document.test.Q5[0], document.test.Q5[1], document.test.Q5[2])?"1":"0";
answ+=control(res.charAt(5), document.test.Q6[0], document.test.Q6[1], document.test.Q6[2])?"1":"0";
answ+=control(res.charAt(6), document.test.Q7[0], document.test.Q7[1], document.test.Q7[2])?"1":"0";
answ+=control(res.charAt(7), document.test.Q8[0], document.test.Q8[1], document.test.Q8[2])?"1":"0";
answ+=control(res.charAt(8), document.test.Q9[0], document.test.Q9[1], document.test.Q9[2])?"1":"0";
answ+=control(res.charAt(9), document.test.Q10[0], document.test.Q10[1], document.test.Q10[2])?"1":"0";

showResult();
//    }
}

function showResult()   {
    var nok=0;
    var i,s;

for (i=0; i<answ.length;i++) {nok+=answ.charAt(i)=="1"?1:0;}
if(nok==10) s="ОТЛИЧНО";
if(nok<10) s="ХОРОШО";
if(nok<7.5) s="УДОВЛЕТВОРИТЕЛЬНО";
if (nok<5) s="НЕУДОВЛЕТВОРИТЕЛЬНО";
    document.test.s1.
    value="Количество правильных ответов "+nok+". Ваша оценка "+s+". Посмотрите на окно рядом с номером вопроса. Если ответ правильный, там (+). Если ответ ошибочен, там (-).";

//with(document.test)
//  {
    if (answ.charAt(0)=="1") {document.test.T1.value=" + "} else {document.test.T1.value=" - "};
    if (answ.charAt(1)=="1") {document.test.T2.value=" + "} else {document.test.T2.value=" - "};
    if (answ.charAt(2)=="1") {document.test.T3.value=" + "} else {document.test.T3.value=" - "};
    if (answ.charAt(3)=="1") {document.test.T4.value=" + "} else {document.test.T4.value=" - "};
    if (answ.charAt(4)=="1") {document.test.T5.value=" + "} else {document.test.T5.value=" - "};
    if (answ.charAt(5)=="1") {document.test.T6.value=" + "} else {document.test.T6.value=" - "};
    if (answ.charAt(6)=="1") {document.test.T7.value=" + "} else {document.test.T7.value=" - "};
    if (answ.charAt(7)=="1") {document.test.T8.value=" + "} else {document.test.T8.value=" - "};
    if (answ.charAt(8)=="1") {document.test.T9.value=" + "} else {document.test.T9.value=" - "};
    if (answ.charAt(9)=="1") {document.test.T10.value=" + "} else {document.test.T10.value=" - "};
//  }
}
function showhide(obj){
    if(obj == 'none') return 'inline';
    else return 'none';
}
// ]]>
</script>

&nbsp;&nbsp;&nbsp;<span style="color:#006699;text-decoration:underline;cursor:pointer;" onclick="document.getElementById('instruction').style.display = showhide(document.getElementById('instruction').style.display)">
Инструкция</span>
  <br/>
<div id="instruction" style="display: none; width: 100%;">
<ul>
<li>Выберите один из вариантов в каждом из 10 вопросов;</li>
<li>Нажмите на кнопку "Показать результат";</li>
<li>Скрипт не покажет результат, пока Вы не ответите на все вопросы;</li>
<li>Загляните в окно рядом с номером задания. Если ответ правильный, то там (+). Если Вы ошиблись, там (-).</li>
<li>За каждый правильный ответ начисляется 1 балл;</li>
<li>Оценки: менее 5 баллов - НЕУДОВЛЕТВОРИТЕЛЬНО, от 5, но менее 7.5 - УДОВЛЕТВОРИТЕЛЬНО, 7.5 и менее 10 - ХОРОШО, 10 - ОТЛИЧНО;</li>
<li>Чтобы сбросить результат тестирования, нажать кнопку "Сбросить ответы";</li>
</ul>
</div>
<form name="test"><ol>
<li><INPUT type="text" size="1" value="" name="T1"/><b> Что не является пространственной характеристикой движения?</b><br/>
<input type="radio" value="0" name="Q1"/> траектория<br />
<input type="radio" value="1" name="Q1"/> перемещение<br />
<input type="radio" value="2" name="Q1"/> время<br />
<br/></li><li><INPUT type="text" size="1" value="" name="T2"/><b> Движение по окружности – это пример ...</b><br/>
<input type="radio" value="0" name="Q2"/> прямолинейного движения<br />
<input type="radio" value="1" name="Q2"/> криволинейного движения<br />
<input type="radio" value="2" name="Q2"/> углового движения<br />
<br/></li><li><INPUT type="text" size="1" value="" name="T3"/><b> Период – это ...</b><br/>
<input type="radio" value="0" name="Q3"/> время одного полного оборота тела вокруг точки или оси<br />
<input type="radio" value="1" name="Q3"/> количество оборотов тела вокруг точки или оси в единицу времени<br />
<input type="radio" value="2" name="Q3"/> это разность конечного и начального времени движения<br />
<br/></li><li><INPUT type="text" size="1" value="" name="T4"/><b> Какая характеристика не является пространственно-временной?</b><br/>
<input type="radio" value="0" name="Q4"/> скорость<br />
<input type="radio" value="1" name="Q4"/> ускорение<br />
<input type="radio" value="2" name="Q4"/> путь<br />
<br/></li><li><INPUT type="text" size="1" value="" name="T5"/><b> Какая физическая величина не является векторной?</b><br/>
<input type="radio" value="0" name="Q5"/> перемещение<br />
<input type="radio" value="1" name="Q5"/> время<br />
<input type="radio" value="2" name="Q5"/> ускорение<br />
<br/></li><li><INPUT type="text" size="1" value="" name="T6"/><b> Мгновенная скорость равна средней скорости тела при ...</b><br/>
<input type="radio" value="0" name="Q6"/> равномерном движении<br />
<input type="radio" value="1" name="Q6"/> равноускоренном движении<br />
<input type="radio" value="2" name="Q6"/> замедленном движении<br />
<br/></li><li><INPUT type="text" size="1" value="" name="T7"/><b> Как называется физическая величина, которая характеризует изменение угловой скорости в единицу времени?</b><br/>
<input type="radio" value="0" name="Q7"/> нормальное ускорение<br />
<input type="radio" value="1" name="Q7"/> тангенциальное ускорение<br />
<input type="radio" value="2" name="Q7"/> угловое ускорение<br />
<br/></li><li><INPUT type="text" size="1" value="" name="T8"/><b> Какое движение мы имеем, если направление вектора тангенциального ускорения и вектора скорости совпадают?</b><br/>
<input type="radio" value="0" name="Q8"/> ускоренное<br />
<input type="radio" value="1" name="Q8"/> замедленное<br />
<input type="radio" value="2" name="Q8"/> равномерное<br />
<br/></li><li><INPUT type="text" size="1" value="" name="T9"/><b> Какая физическая величина имеет направление по радиусу к центру окружности?</b><br/>
<input type="radio" value="0" name="Q9"/> угловая скорость<br />
<input type="radio" value="1" name="Q9"/> нормальное ускорение<br />
<input type="radio" value="2" name="Q9"/> линейная скорость<br />
<br/></li><li><INPUT type="text" size="1" value="" name="T10"/><b> Какое направление имеет линейная скорость?</b><br/>
<input type="radio" value="0" name="Q10"/> по касательной к окружности<br />
<input type="radio" value="1" name="Q10"/> такое же, как вектор перемещения<br />
<input type="radio" value="2" name="Q10"/> такое же, как вектор ускорения<br />
<br/></li></ol>
<CENTER>
<P><TEXTAREA name="s1" rows="4" cols="70" readonly> </TEXTAREA> </P>
<INPUT onclick="check_me()" type="button" value="Показать результат"/>&nbsp;&nbsp;&nbsp;&nbsp;
<INPUT type="reset" value="Сбросить ответы"/>
</CENTER>
</form>
<!-- Test created by service http://test.fromgomel.com -->
