<div class="book__content">
  <p class="book__descr">
    Пространственные характеристики: траектория, путь, перемещение (рисунок 5.1&nbsp;а).
  </p>

  <figure class="book__figure book__figure-text">
    <img class="book__img book__img-big" loading="lazy" src="./img/part-2/pic-2-5-1.jpg" alt="характеристики движения">
    <img class="book__img book__img-big" loading="lazy" src="./img/part-2/pic-2-5-2.jpg" alt="характеристики движения">
    <figcaption>Рисунок&nbsp;5.1&nbsp;&mdash; Линейные (а) и&nbsp;угловые&nbsp;(б) пространственные характеристики движения</figcaption>
  </figure>

  <p class="book__descr">
    Траектория&nbsp;&mdash; это линия, которую описывает тело во&nbsp;время движения. Траектория бывает прямолинейная и&nbsp;криволинейная. Прямолинейная траектория&nbsp;&mdash; это траектория тела, которое движется по&nbsp;прямой линии. Криволинейная траектория&nbsp;&mdash; это траектория тела, которое движется по&nbsp;кривой линии. Простейший пример криволинейного движения&nbsp;&mdash; это движение по&nbsp;окружности.
  </p>
  <p class="book__descr">
    Путь&nbsp;&mdash; это длина траектории. Путь обозначают буквой&nbsp;<i>s</i>. Единица пути&nbsp;&mdash; метр [м].
  </p>
  <p class="book__descr">
    Перемещение бывает линейное и&nbsp;угловое.
  </p>
  <p class="book__descr">
    Линейное перемещение&nbsp;&mdash; это вектор, который соединяет начальную и&nbsp;конечную точку пути. Линейное перемещение обозначают  <img src="./img/part-2/formula-1.jpg" alt="vector s" align="bottom" style="height: 20px;">. Единица перемещения&nbsp;&mdash; метр [м]. Линейное перемещение характеризуется численным значением (модулем) и&nbsp;направлением.
  </p>
  <p class="book__descr">
    Угловое перемещение (угол поворота)&nbsp;&mdash; это угол, на&nbsp;который перемещается радиус-вектор точки при движении из&nbsp;начальной точки (точка&nbsp;<i>А</i>) в&nbsp;конечную точку (точка&nbsp;<i>В</i>) (рисунок 5.1&nbsp;б). Угол поворота обозначают буквой&nbsp;&phi;. Единица углового перемещения&nbsp;&mdash; радиан [рад].
  </p>
</div>
