<div class="book__content">
  <p class="book__descr">
    Для определения положения тела человека в&nbsp;пространстве достаточно указать положение общего центра тяжести человека (ОЦТ).
  </p>
  <p class="book__descr">
    Тело человека состоит из&nbsp;звеньев: туловища, головы, рук и&nbsp;ног. Каждое звено имеет свой центр масс. При движении центры масс звеньев перемещаются, поэтому ОЦТ тоже изменяется. Положение ОЦТ зависит от&nbsp;пола, возраста, телосложения, позы человека и&nbsp;других факторов. Так у&nbsp;женщин ОЦТ расположен ниже, чем у&nbsp;мужчин, а&nbsp;у&nbsp;детей выше, чем у&nbsp;взрослых (рисунок 4.1).
  </p>
  <p class="book__descr">
    Для того чтобы определить ориентацию тела в&nbsp;пространстве надо указать общий центр тяжести тела человека&nbsp;и, например, центр тяжести нижних или верхних конечностей или угол наклона звеньев тела.
  </p>
  <p class="book__descr">
  </p>
  <p class="book__descr">
  </p>
  <p class="book__descr">
  </p>
  <figure class="book__figure book__figure-text">
    <img class="book__img book__img-big" loading="lazy" src="./img/part-2/pic-2-4-1.jpg" alt="Расположение ОЦТ">
    <img class="book__img book__img-big" loading="lazy" src="./img/part-2/pic-2-4-2.jpg" alt="Расположение ОЦТ">
    <figcaption>Рисунок&nbsp;4.1&nbsp;&mdash; Расположение ОЦТ у&nbsp;мужчин и&nbsp;женщин (а) и&nbsp;зависимость расположения ОЦТ по&nbsp;положения тела&nbsp;(б)</figcaption>
  </figure>
</div>
