<div class="book__content">
  <br>
  <p class="book__descr">
    <b>Биомеханика</b> изучает механические свойства живых тканей, органов и&nbsp;организма в&nbsp;целом, то&nbsp;есть <b>изучает движение в&nbsp;живых системах</b>. Чаще всего в&nbsp;биомеханике рассматривают механику движения человека или животного, биомеханику дыхательного аппарата, биомеханику кровообращения.
  </p>
  <p class="book__descr">
    Биомеханика основана на&nbsp;физике, математике и&nbsp;анатомии. При изучении биомеханики считают, что части тела человека или животного аналогичны механическим структурам. Например, кости выполняют роль рычагов, мышцы&nbsp;&mdash; это пружины, а&nbsp;сухожилия&nbsp;&mdash; это канаты.
  </p>
  <p class="book__descr">
    Важными компонентами в&nbsp;биомеханике являются перемещение, сила, импульс, рычаг и&nbsp;равновесие.
  </p>
  <p class="book__descr">
    <b><i>Перемещение</i></b>&nbsp;&mdash; это вектор, который соединяет начальную и&nbsp;конечную точку движения.
  </p>
  <p class="book__descr">
    <b><i>Сила</i></b>&nbsp;&mdash; это векторная физическая величина, которая показывает меру взаимодействия тел. Под действием силы тело изменяет направление движения, останавливается, ускоряется или замедляется или не&nbsp;изменяет своего состояния.
  </p>
  <p class="book__descr">
    <b><i>Импульс</i></b>&nbsp;&mdash; это векторная физическая величина, которая равна произведению массы тела на&nbsp;его скорость.
  </p>
  <p class="book__descr">
    <b><i>Рычаг</i></b>&nbsp;&mdash; это простейший механизм, при помощи которого можно перемещать грузы. Рычаг состоит из&nbsp;балки, которая может вращаться вокруг точки опоры. Характеристиками рычага являются: точка опоры, точки приложения сил, плечи сил (рисунок 2.1).
  </p>

  <figure class="book__figure book__figure-text">
    <img class="book__img book__img-text" loading="lazy" src="./img/part-2/pic-2-2.jpg" alt="Рычаг">
    <figcaption>Рисунок&nbsp;2.1&nbsp;&mdash; Рычаг</figcaption>
  </figure>

  <p class="book__descr">
    <b><i>Равновесие</i></b>&nbsp;&mdash; это состояние тела, при котором его части остаются неподвижными по&nbsp;отношению к&nbsp;выбранной системе отсчёта.
  </p>
</div>
