<div class="book__content">
  <br>
  <p class="book__descr">
    Исходное анатомическое положение&nbsp;&mdash; человек стоит, ноги параллельны и&nbsp;соединены вместе, руки опущены вдоль туловища, ладони обращены вперёд (рисунок 3.1)
  </p>

  <figure class="book__figure book__figure-text">
    <img class="book__img book__img-text" loading="lazy" src="./img/part-2/pic-2-3.jpg" alt="Исходное анатомическое положение">
    <figcaption>Рисунок&nbsp;3.1&nbsp;&mdash; Исходное анатомическое положение</figcaption>
  </figure>

  <p class="book__descr">
    Анатомической позиции соответствуют три оси тела, которые пересекаются под прямыми углами (вертикальная продольная ось, сагиттальная ось, поперечная или фронтальная ось) и&nbsp;три плоскости (сагиттальная или срединная плоскость, фронтальная или коронарная плоскость, горизонтальная или поперечная плоскость).
  </p>
  <p class="book__descr">
    <b><i>Оси:</i></b>
  </p>
  <p class="book__descr">
    <i>Вертикальная продольная ось</i> проходит перпендикулярно опоре через центр тела (ось 1&nbsp;рисунок 3.1).
  </p>
  <p class="book__descr">
    <i>Поперечная или фронтальная ось</i> проходит параллельно плоскости опоры и&nbsp;перпендикулярно сагиттальной оси (ось 2&nbsp;рисунок 3.1).
  </p>
  <p class="book__descr">
    <i>Сагиттальная ось</i> проходит параллельно плоскости опоры через область талии (ось 3&nbsp;рисунок 3.1).
  </p>
  <p class="book__descr">
     <b><i>Плоскости:</i></b>
  </p>
  <p class="book__descr">
    <i>Сагиттальная плоскость</i>&nbsp;&mdash; это вертикальная плоскость, которая делит тело человека на&nbsp;правую и&nbsp;левую части.
  </p>
  <p class="book__descr">
    <i>Фронтальная плоскость</i>&nbsp;&mdash; это вертикальная плоскость, перпендикулярная сагиттальной, делит тело человека на&nbsp;переднюю и&nbsp;заднюю части.
  </p>
  <p class="book__descr">
    <i>Поперечная плоскость</i>&nbsp;&mdash; это горизонтальная плоскость, которая делит тело челове-ка на&nbsp;верхнюю и&nbsp;нижнюю части (рисунок 3.1).
  </p>

</div>
