<div class="book__content">
  <br>
  <p class="book__descr">
    Явления смачивания и&nbsp;несмачивания поверхности твёрдого тела жидкостью являются результатом взаимодействия молекул жидкости и&nbsp;молекул поверхностного слоя твёрдого тела.
  </p>
  <p class="book__descr">
    Смачивание&nbsp;&mdash; это способность жидкости растекаться по&nbsp;поверхности твёрдого тела. Смачивание возможно, если сила притяжения между молекулами жидкости меньше, чем сила притяжения между молекулами жидкости и&nbsp;молекулами поверхности твёрдого тела. Если сила притяжения между молекулами жидкости больше, чем между молекулами жидкости и&nbsp;твёрдого тела, то&nbsp;поверхность не&nbsp;смачивается. Поверхность жидкости на&nbsp;границе с&nbsp;поверхностью искривляется и&nbsp;образует вогнутый (если жидкость смачивает поверхность) или выпуклый (если жидкость не&nbsp;смачивает поверхность) мениск (рисунок 24.1).
  </p>

  <figure class="book__figure book__figure-text">
    <img class="book__img book__img-text" loading="lazy" src="./img/part-2/pic-2-24-1.jpg" alt="жидкость">
    <figcaption>Рисунок&nbsp;24.1&nbsp;&mdash; Смачивающая (а) и&nbsp;не&nbsp;смачивающая&nbsp;(б) жидкость</figcaption>
  </figure>

  <p class="book__descr">
    Если поверхностное натяжение на&nbsp;границе твёрдого тела и&nbsp;газа (&sigma;<sub>тг</sub>) больше или равна сумме поверхностных натяжений на&nbsp;границах твёрдое тело-жидкость (&sigma;<sub>тж</sub>) и&nbsp;жидкость-газ (&sigma;<sub>жг</sub>), то&nbsp;жидкость полностью смачивает поверхность твёрдого тела:
  </p>

  <figure class="book__figure book__figure-text">
    <img class="book__img book__img-text" loading="lazy" src="./img/part-2/formula-24-1.jpg" alt="формула 1">
  </figure>

  <p class="book__descr">
    Если &sigma;<sub>тж</sub>&nbsp;&ge;&nbsp;&sigma;<sub>тг</sub>&nbsp;+&nbsp;&sigma;<sub>жг</sub>, то&nbsp;жидкость полностью не&nbsp;смачивает поверхность твёрдого тела. На&nbsp;практике чаще всего наблюдается частичное смачивание или не&nbsp;смачивание поверхности (рисунок 24.2).
  </p>

  <figure class="book__figure book__figure-text">
    <img class="book__img book__img-text" loading="lazy" src="./img/part-2/pic-2-25-1.jpg" alt="поверхности">
    <img class="book__img book__img-text" loading="lazy" src="./img/part-2/pic-2-25-2.jpg" alt="поверхности">
    <figcaption>Рисунок&nbsp;24.2&nbsp;&mdash; Смачивание (а) и&nbsp;не&nbsp;смачивание&nbsp;(б) поверхности</figcaption>
  </figure>
</div>
