<div class="book__content">
  <p class="book__descr">
  </p>
  <figure class="book__figure book__figure-text">
    <img class="book__img book__img-big" loading="lazy" src="./img/part-2/shema-2-1.jpg" alt="схема">
  </figure>
  <p class="book__descr">
  </p>
  <p class="book__descr">
  </p>
  <p class="book__descr">
  </p>
  <p class="book__descr">
  </p>
  <ol class="book__lits">
    <li class="book__lit">
    </li>
    <li class="book__lit">
    </li>
    <li class="book__lit">
    </li>
    <li class="book__lit">
    </li>

    <figure class="book__figure book__figure-text">
      <img class="book__img book__img-big" loading="lazy" src="./img/part-2/pic-2-1.jpg" alt="Состав системы отсчёта">
      <figcaption>Рисунок&nbsp;1.1&nbsp;&mdash; Состав системы отсчёта</figcaption>
    </figure>

    <li class="book__lit">
    </li>
  </ol>
  <p class="book__descr">
  </p>
</div>
