<div class="book__content">
  <br>
  <p class="book__descr">
    Гидрофильность и&nbsp;гидрофобность&nbsp;&mdash; это противоположные понятия физики. Они являются характеристиками межмолекулярного взаимодействия вещества и&nbsp;жидкости. Мерой этого взаимодействия является поверхностное натяжение на&nbsp;границе раздела двух сред. Чем больше гидрофильность вещества, тем меньше поверхностное натяжение.
  </p>
  <p class="book__descr">
    Если молекулы вещества интенсивно взаимодействуют с&nbsp;водой, то&nbsp;это гидрофильное вещество. Эти вещества легко взаимодействуют с&nbsp;водой и&nbsp;растворяются в&nbsp;ней. Примерами гидрофильных веществ являются соль, сахар и&nbsp;некоторые белки.
  </p>
  <p class="book__descr">
    Гидрофобные вещества имеют химическую структуру далекую от&nbsp;воды. При попадании в&nbsp;воду гидрофобные вещества образуют скопления или агрегаты, избегая прямого контакта с&nbsp;молекулами воды. Гидрофобные вещества отталкивают воду, поэтому на&nbsp;их&nbsp;поверхности она собирается каплями. Примерами гидрофобных веществ являются жиры, масла, воски.
  </p>
  <p class="book__descr">
    Количественно гидрофильность и&nbsp;гидрофобность оцениваются краевым углом смачивания. Краевой угол смачивания &Theta;&nbsp;&mdash; это угол между касательной к&nbsp;поверхности жидкости и&nbsp;поверхностью в&nbsp;точке соприкосновения трех фаз (жидкости, поверхности твёрдого тела и&nbsp;газа) (рисунок 25.1).
  </p>

  <figure class="book__figure book__figure-text">
    <img class="book__img book__img-text" loading="lazy" src="./img/part-2/pic-2-10.jpg" alt="Смачивание">
    <figcaption>Рисунок&nbsp;25.1&nbsp;&mdash; Смачивание водой гидрофильной (а) и&nbsp;гидрофобной&nbsp;(б) поверхности</figcaption>
  </figure>

  <p class="book__descr">
    Если &Theta;&nbsp;&lt;&nbsp;90&deg;, то&nbsp;поверхность гидрофильная (рисунок 25.1&nbsp;а). Если &Theta;&nbsp;&gt;&nbsp;90&deg;, то&nbsp;поверхность гидрофобная (рисунок 25.1&nbsp;б).
  </p>
</div>
