<div class="book__content">
  <br>
  <p class="book__descr">
    <b>Механика</b>&nbsp;&mdash; это раздел физики, который изучает движение и&nbsp;взаимодействие тел.
  </p>
  <figure class="book__figure book__figure-text">
    <img class="book__img book__img-big" loading="lazy" src="./img/part-2/shema-2-1.jpg" alt="схема">
  </figure>
  <p class="book__descr">
    <b><i>Кинематика</i></b>&nbsp;&mdash; это раздел механики, который изучает движение тел. Для кинематики не&nbsp;важны причины движения тела.
  </p>
  <p class="book__descr">
    <b><i>Динамика</i></b>&nbsp;&mdash; это раздел механики, который изучает причины изменения механического движения.
  </p>
  <p class="book__descr">
    <b><i>Статика</i></b>&nbsp;&mdash; это раздел механики, который изучает условия равновесия тел.
  </p>
  <p class="book__descr">
    Для описания механического движения необходимы понятия:
  </p>
  <ol class="book__lits">
    <li class="book__lit">
      <i>материальная точка</i>&nbsp;&mdash; это тело, имеющее массу, размер и&nbsp;форму, которые не&nbsp;важны для решения данной задачи (то&nbsp;есть при описании движения ими можно пренебречь),
    </li>
    <li class="book__lit">
      <i>абсолютно твёрдое тело</i>&nbsp;&mdash; это тело, которое не&nbsp;изменяет свою форму при воздействии на&nbsp;него (то&nbsp;есть не&nbsp;деформируется и&nbsp;сохраняет неизменное расстояние между своими частями),
    </li>
    <li class="book__lit">
     <i> механическое движение</i>&nbsp;&mdash; это изменение положения тела в&nbsp;пространстве с&nbsp;течением времени,
    </li>
    <li class="book__lit">
      <i>система отсчёта</i>&nbsp;&mdash; это тело, которое мы&nbsp;считаем неподвижным и&nbsp;часы, относительно которых рассматривается движение тела. Система отсчёта состоит из&nbsp;тела отсчёта, связанной с&nbsp;ним системы координат и&nbsp;часов (рисунок 1.1):
    </li>

    <figure class="book__figure book__figure-text">
      <img class="book__img book__img-text" loading="lazy" src="./img/part-2/pic-2-1.jpg" alt="Состав системы отсчёта">
      <figcaption>Рисунок&nbsp;1.1&nbsp;&mdash; Состав системы отсчёта</figcaption>
    </figure>

    <li class="book__lit">
      <i>тело отсчёта</i>&nbsp;&mdash; это тело, относительно которого рассматривают движение других тел в&nbsp;пространстве.
    </li>
  </ol>

</div>
