<div class="book__content">
  <br>
  <p class="book__descr">
    Капиллярные явления&nbsp;&mdash; это явление опускания или подъема жидкости в&nbsp;узких трубках, которые называют капиллярами. Если жидкость смачивает капилляр, то&nbsp;ее&nbsp;уровень в&nbsp;капилляре буде выше, чем в&nbsp;сосуде, а&nbsp;если не&nbsp;смачивает&nbsp;&mdash; то&nbsp;ниже (рисунок 26.1).
  </p>

  <figure class="book__figure book__figure-text">
    <img class="book__img book__img-text" loading="lazy" src="./img/part-2/pic-2-26-1.jpg" alt="капилляр">
    <img class="book__img book__img-text" loading="lazy" src="./img/part-2/pic-2-26-2.jpg" alt="капилляр">
    <figcaption>Рисунок&nbsp;26.1&nbsp;&mdash; Жидкость смачивает капилляр (а) и&nbsp;не&nbsp;смачивает капилляр&nbsp;(б)</figcaption>
  </figure>

  <p class="book__descr">
    Высота подъема (опускания) жидкости, которая полностью смачивает (не&nbsp;смачивает) капилляр, равна:
  </p>

  <figure class="book__figure book__figure-text">
    <img class="book__img book__img-text" loading="lazy" src="./img/part-2/formula-26-1.jpg" alt="формула">
  </figure>

  <p class="book__descr">
    где &sigma;&nbsp;&mdash; поверхностное натяжение жидкости,
  </p>
  <p class="book__descr">
    &rho;&nbsp;&mdash; плотность жидкости,
  </p>
  <p class="book__descr">
    <i>r</i>&nbsp;&mdash; радиус капилляра.
  </p>
  <p class="book__descr">
    Величина капиллярного давления определяется уравнением Лапласа:
  </p>

  <figure class="book__figure book__figure-text">
    <img class="book__img book__img-text" loading="lazy" src="./img/part-2/formula-26-2.jpg" alt="формула">
  </figure>

  <p class="book__descr">
    где &sigma;&nbsp;&mdash; поверхностное натяжение,
  </p>
  <p class="book__descr">
    <i>r</i>r&nbsp;&mdash; средний радиус кривизны поверхности.
  </p>
</div>
