<div class="book__content">
  <br>
  <p class="book__descr book__subtitle">
    <b><i>Невесомость</i></b>
  </p>
  <p class="book__descr">
   Невесомость&nbsp;&mdash; это состояние, при котором нет силы взаимодействия с&nbsp;опорой или подвесом (у&nbsp;тела нет веса). В&nbsp;условиях невесомости движение тела человека происходит под воздействием только силы гравитационного взаимодействия. Это отрицательно сказывается на&nbsp;состоянии человека и&nbsp;животных при условии длительного нахождения в&nbsp;состоянии невесомости:
  </p>
  <ul class="book__lits">
    <li class="book__lit">
      атрофируется группа мышц, которая отвечает за&nbsp;противодействие силе тяжести,
    </li>
    <li class="book__lit">
      снижается общая мышечная масса
    </li>
    <li class="book__lit">
      нарушается мозговое кровообращение
    </li>
    <li class="book__lit">
      наблюдается прилив крови к&nbsp;голове
    </li>
    <li class="book__lit">
      уменьшается объём крови в&nbsp;сердечно-сосудистой системе человека
    </li>
    <li class="book__lit">
      уменьшается костная плотность и др.
    </li>
  </ul>
  <p class="book__descr book__subtitle">
    <b><i>Перегрузка</i></b>
  </p>
  <p class="book__descr">
    Перегрузка&nbsp;&mdash; это состояние, которое получается при движении тела с&nbsp;ускорением, направленным противоположно ускорению свободного падения. Вес тела становится больше силы тяжести (рисунок 10.1). Часто величину перегрузки выражают в&nbsp;единицах стандартного ускорения свободного падения&nbsp;<i>g</i>.
  </p>

  <figure class="book__figure book__figure-text">
    <img class="book__img book__img-text" loading="lazy" src="./img/part-2/pic-2-10.jpg" alt="Перегрузка">
    <figcaption>Рисунок&nbsp;10.1&nbsp;&mdash; Перегрузка</figcaption>
  </figure>

  <p class="book__descr">
  </p>
  <p class="book__descr">
  </p>

  <p class="book__descr">
  </p>
</div>
