<div class="book__content">
  <br>
  <p class="book__descr">
    Артериальное давление является одним из&nbsp;главных параметров кровообращения. Артериальное давление&nbsp;&mdash; это давление, которое оказывает кровь на&nbsp;стенки кровеносных сосудов. Артериальное давление имеет два основных вида: систолическое и&nbsp;диастолическое.
  </p>
  <p class="book__descr">
    Систолическое артериальное давление (САД)&nbsp;&mdash; это максимальное давление в&nbsp;левом желудочке и&nbsp;аорте во&nbsp;время сокращения сердца (систолы).
  </p>
  <p class="book__descr">
    Диастолическое давление (ДАД)&nbsp;&mdash; это минимальное давление в&nbsp;артериях, которое возникает во&nbsp;время расслабления сердца (диастолы).
  </p>
  <p class="book__descr">
    Пульсовое давление&nbsp;&mdash; это разность между систолическим и&nbsp;диастолическим давлениями.
  </p>
  <p class="book__descr">
    Усредненный эталон давления&nbsp;&mdash; 120/80 мм.рт.ст. Отклонение на&nbsp;10&nbsp;единиц является нормой и&nbsp;зависит от&nbsp;телосложения человека, наследственности и&nbsp;физических нагрузок. Отклонение давления выше 140/90 (гипертония) и&nbsp;ниже 100/60 (гипотония) является признаком болезни и&nbsp;поводом обратиться к&nbsp;врачу.
  </p>

</div>
