<div class="book__content">
  <p class="book__descr">
    Движение&nbsp;&mdash; это изменение положения тела в&nbsp;пространстве с&nbsp;течением времени. Временные характеристики движения: начальное и&nbsp;конечное время, время движения, момент времени, промежуток времени, период, частота.
  </p>
  <p class="book__descr">
    Начальное время&nbsp;&mdash; это время начала движения. Начальное время обычно обозначают <i>t</i><sub>0</sub> или <i>t</i><sub>н</sub>. Единица времени&nbsp;&mdash; секунда [с].
  </p>
  <p class="book__descr">
    Конечное время&nbsp;&mdash; это время окончания движения. Конечное время обычно обозначаю <i>t</i>&nbsp;или <i>t</i><sub>к</sub>.
  </p>
  <p class="book__descr">
    Время движения&nbsp;&mdash; это разность конечного времени движения и&nbsp;начального времени движения: <i>t</i>&nbsp;=&nbsp;&Delta;<i>t</i>&nbsp;=&nbsp;<i>t</i>&nbsp;&minus;&nbsp;<i>t</i><sub>0</sub>.
  </p>
  <p class="book__descr">
    Момент времени&nbsp;&mdash; это точка на&nbsp;временной оси, которая соответствует времени рассмотрения движения.
  </p>
  <p class="book__descr">
    Промежуток времени&nbsp;&mdash; это разность двух последовательных моментов времени: &Delta;<i>t</i><sub>12</sub>&nbsp;=&nbsp;t<sub>2</sub>&nbsp;&minus;&nbsp;t<sub>1</sub>.
  </p>
  <p class="book__descr">
    Период&nbsp;&mdash; это время одного полного оборота тела вокруг точки или оси, то&nbsp;есть тело поворачивается на&nbsp;угол 2&pi;. Период обозначают буквой Т.&nbsp;Единица периода&nbsp;&mdash; секунда [с].
  </p>
  <p class="book__descr">
    Частота&nbsp;&mdash; количество оборотов тела вокруг точки или оси в&nbsp;единицу времени. Частоту обозначают буквой&nbsp;&nu; (ню). Единица частоты&nbsp;&mdash; герц или секунда в&nbsp;степени минус один [Гц, с<sup>-1</sup>]. Частота&nbsp;&mdash; это величина обратная периоду: <img src="./img/part-2/formula-2.jpg" alt="частота" align="bottom" style="height: 20px;">.
  </p>

</div>
