<div class="book__content">
  <br>
  <p class="book__descr">
    На&nbsp;молекулу жидкости, которая находится внутри жидкости, действуют силы притяжения других молекул жидкости. Эти силы уравновешиваются, и&nbsp;молекула находится внутри. Молекулы, которые находятся на&nbsp;границе раздела жидкость-газ, не&nbsp;уравновешены. Сила притяжения со&nbsp;стороны молекул жидкости больше, чем сила притяжения со&nbsp;стороны газа, поэтому равнодействующая этих сил направлена внутрь жидкость. Это способствует задержанию молекул жидкости на&nbsp;границе жидкость-газ.
  </p>
  <p class="book__descr">
    Добавочную потенциальную энергию жидкости, которая возникает из-за разницы свойств жидкости внутренней области и&nbsp;поверхностного слоя, называют поверхностной энергией:
  </p>

  <figure class="book__figure book__figure-text">
    <img class="book__img book__img-text" loading="lazy" src="./img/part-2/formula-23-1.jpg" alt="формула 1">
  </figure>

  <p class="book__descr">
    где <i>W</i>&nbsp;&mdash; поверхностная энергия,
  </p>
  <p class="book__descr">
    &sigma;&nbsp;&mdash; коэффициент поверхностного натяжения,
  </p>
  <p class="book__descr">
    <i>S</i>&nbsp;&mdash; площадь поверхности жидкости.
  </p>
  <p class="book__descr">
    Коэффициент поверхностного натяжения уменьшается при увеличении температуры и&nbsp;зависит от&nbsp;вида жидкости, свойств газа, с&nbsp;которым граничит жидкость, наличия поверхностно-активных веществ в&nbsp;жидкости. Коэффициент поверхностного натяжения не&nbsp;зависит от&nbsp;площади поверхности жидкости. Площадь <i>S</i>&nbsp;используют только для его расчета.
  </p>
  <p class="book__descr">
    Поверхностное натяжение&nbsp;&mdash; это характеристика жидкости, которая показывает стремление жидкости минимизировать свою свободную поверхность. Поэтому капля воды в&nbsp;космосе принимает форму шара, а&nbsp;поле сил тяготения стремится к&nbsp;ней.
  </p>
  <p class="book__descr">
    Сила поверхностного натяжения&nbsp;&mdash; это сила, которая действует вдоль поверхности жидкости и&nbsp;стремится сократить ее&nbsp;площадь:
  </p>

  <figure class="book__figure book__figure-text">
    <img class="book__img book__img-text" loading="lazy" src="./img/part-2/formula-23-2.jpg" alt="формула 2">
  </figure>

  <p class="book__descr">
    &sigma;&nbsp;&mdash; коэффициент поверхностного натяжения (Н&nbsp;&dot;&nbsp;м),
  </p>
  <p class="book__descr">
    <i>l</i>&nbsp;&mdash; длина контура, ограничивающего поверхность (м).
  </p>
</div>
