<div class="book__content">
  <p class="book__descr">
    <i>Теория.</i>
  </p>
  <p class="book__descr">
    Для оценки физического развития детей используют следующие средние показатели&nbsp;&mdash; масса тела (разная для мальчиков и&nbsp;девочек), длина тела, окружность головы, окружность груди. При антропометрическом методе исследования изучают тело человека и&nbsp;его частей с&nbsp;помощью измерений, определения пропорций тела, соотношений разных видов тканей и&nbsp;так далее. Анализ показателей физического развития позволяет определить уровень и&nbsp;гармоничности развития человека.
  </p>
  <p class="book__descr">
    Приблизительно определить массу тела ребёнка в&nbsp;первый год жизни можно, использую формулу <i>m</i>&nbsp;=&nbsp;<i>m</i><sub>0</sub>&nbsp;+&nbsp;<i>m</i><sub>прибавка</sub>, где <i>m</i><sub>0</sub>&nbsp;&mdash; масса ребенка при рождении, а&nbsp;<i>m</i><sub>прибавка</sub>&nbsp;&mdash; это увеличение массы тела за&nbsp;месяц (<i>m</i><sub>прибавка</sub> определяется с&nbsp;помощью специальных медицинских таблиц).
  </p>
  <p class="book__descr">
    Оценку степени гипотрофии проводят с&nbsp;помощью классификации на&nbsp;основе дефицита массы, выраженного в&nbsp;процентах.
  </p>
  <p class="book__descr">
    Для расчёта питания грудных детей в&nbsp;сутки в&nbsp;разные периоды используют формулы, связывающие массу тела ребёнка, возраст ребёнка в&nbsp;днях или месяцах. При расчёте разового объёма пищи используют зависимость от&nbsp;количества кормлений.
  </p>
  <p class="book__descr">
    <i>Практика.</i>
  </p>
  <p class="book__descr">
    1.&nbsp;Расчёт объёма пищи.
  </p>
  <p class="book__descr">
    Ребенок родился с&nbsp;массой 3500г, в&nbsp;настоящее время ему 4&nbsp;месяца. Определить суточный и&nbsp;разовый объём пищи.
  </p>
  <p class="book__descr">
    Решение.
  </p>
  <p class="book__descr">
    Сначала нужно рассчитать массу, которую ребенок должен иметь в&nbsp;настоящее время (используя таблицу прибавки массы): 3500&nbsp;+&nbsp;600&nbsp;+&nbsp;800&nbsp;+&nbsp;800&nbsp;+&nbsp;750&nbsp;=&nbsp;6450&nbsp;(г).
  </p>
  <p class="book__descr">
    Затем нужно определить объём пищи.
  </p>

  <img src="./img/part-1/pic-4-1.jpg" alt="pic-4-1" class="book__img book__img-text book__img-big">
  <img src="./img/part-1/pic-4-2.jpg" alt="pic-4-2" class="book__img book__img-text book__img-big">

  <p class="book__descr">
    Ответ.&nbsp;921&nbsp;мл; 153,5&nbsp;мл.
  </p>
  <p class="book__descr">
    2.&nbsp;Оценка степени гипотрофии.
  </p>
  <p class="book__descr">
    Масса ребенка при рождении составила 3300&nbsp;г, в&nbsp;три месяца&nbsp;&mdash; 4900&nbsp;г. Определить степень гипотрофии.
  </p>
  <p class="book__descr">
    Решение.
  </p>
  <p class="book__descr">
    Сначала нужно определить, сколько должен весить ребенок в&nbsp;3&nbsp;месяца. Для этого к&nbsp;массе при рождении ребенка прибавим ежемесячные прибавки:
  </p>

  <img src="./img/part-1/pic-4-3.jpg" alt="pic-4-3" class="book__img book__img-text book__img-big">

  <p class="book__descr">
    Затем определим, на&nbsp;сколько отличаются фактическая масса и&nbsp;масса, определённая, исходя из&nbsp;норм прибавки:
  </p>

  <img src="./img/part-1/pic-4-4.jpg" alt="pic-4-4" class="book__img book__img-text book__img-big">

  <p class="book__descr">
    Теперь можно определить, какой процент составляет дефицит массы:
  </p>

  <img src="./img/part-1/pic-4-5.jpg" alt="pic-4-5" class="book__img book__img-text book__img-big">

  <p class="book__descr">
    Таким образом, гипотрофия составляет 10,9%, что по&nbsp;таблице классификации соответствует I&nbsp;степени.
  </p>
  <p class="book__descr">
    Ответ. Гипотрофия I&nbsp;степени и&nbsp;составляет 10,9%.
  </p>
  <p class="book__descr">
    3.	Прогноз массы тела ребёнка.
  </p>
  <p class="book__descr">
    При рождении ребёнок весил 3900&nbsp;г. Какая масса должна быть у&nbsp;него в&nbsp;6&nbsp;месяцев, 6&nbsp;лет, 12&nbsp;лет?
  </p>
  <p class="book__descr">
    Решение.
  </p>
  <p class="book__descr">
    Для определения массы тела ребёнка до&nbsp;года используют таблицу увеличения массы тела за&nbsp;каждый месяц первого года жизни:
  </p>

  <img src="./img/part-1/pic-4-6.jpg" alt="pic-4-6" class="book__img book__img-text book__img-big">

  <p class="book__descr">
    Массу тела ребёнка от&nbsp;1&nbsp;года до&nbsp;10&nbsp;лет можно рассчитать по&nbsp;формуле: <i>m</i> = 10 + 2<i>n</i>, где 10&nbsp;&mdash; средняя масса ребёнка в&nbsp;1&nbsp;год, 2&nbsp;&mdash; ежегодная прибавка массы, n&nbsp;&mdash; возраст ребёнка.
  </p>

  <img src="./img/part-1/pic-4-7.jpg" alt="pic-4-7" class="book__img book__img-text book__img-big">

  <p class="book__descr">
    Массу тела ребёнка после 10&nbsp;лет можно рассчитать по&nbsp;формуле: <i>m</i> = 30 + 4(<i>n</i>&nbsp;&minus;&nbsp;10), где 30&nbsp;&mdash; средняя масса ребёнка в&nbsp;10&nbsp;лет, 4&nbsp;&mdash; ежегодная прибавка массы, <i>n</i>&nbsp;&mdash; возраст ребёнка.
  </p>

  <img src="./img/part-1/pic-4-8.jpg" alt="pic-4-8" class="book__img book__img-text book__img-big">

  <p class="book__descr">
    Ответ.&nbsp;8,2&nbsp;кг; 22&nbsp;кг; 38&nbsp;кг.
  </p>

</div>
