<div class="book__content">
  <ul class="list-reset list book__list-img">
    <li class="list__item list__item-img">
      <a href="#text-1-1" class="btn-reset list__link book__link" data-target="text-1-1">
        <span class="book__figure">
          А
        </span>
      </a>
      <div id="text-1-1" class="book__content visually-hidden">
        <p class="book__descr">
          <i>Амбулато&#769;рия</i> (сущ., ж.р.)&nbsp;&mdash; лечебно-профилактическое учреждение, в&nbsp;котором оказывают медицинскую помощь приходящим больным и&nbsp;больным на&nbsp;дому, проводят консультации специалистов, наблюдение за&nbsp;состоянием здоровья отдельных групп населения.
        </p>
        <p class="book__descr">
          <i>Амбулато&#769;рное наблюде&#769;ние</i> (ср.р.)&nbsp;&mdash; наблюдение за&nbsp;состоянием здоровья пациента как в&nbsp;целом, так и&nbsp;за&nbsp;отдельными показателями.
        </p>
        <p class="book__descr">
          <i>А&#769;мпула</i> (сущ., ж.р.)&nbsp;&mdash; полностью запаянный, суженный к&nbsp;концу сосуд из&nbsp;термически и&nbsp;химически стойкого стекла (рис.&nbsp;1).
        </p>
        <figure class="book__figure book__figure-text">
          <img class="book__img book__img-big" loading="lazy" src="./img/part-1/pic-6-1.jpg" alt="Типы ампул">
          <img class="book__img book__img-big" loading="lazy" src="./img/part-1/pic-6-2.jpg" alt="Типы ампул">
          <figcaption>Рисунок&nbsp;1. Типы ампул</figcaption>
        </figure>
        <p class="book__descr">
          <i>Аппара&#769;т у&#769;льтразвуково&#769;го иссле&#769;дования (УЗИ)</i>&nbsp;&mdash; это диагностическое оборудование для исследования мягких тканей и&nbsp;внутренних органов без вторжения в&nbsp;организм.
        </p>
        <figure class="book__figure book__figure-text">
          <img class="book__img book__img-big" loading="lazy" src="./img/part-1/pic-6-3.jpg" alt="Аппарат УЗИ">
          <figcaption>Рисунок&nbsp;2. Аппарат УЗИ</figcaption>
        </figure>
        <p class="book__descr">
          <i>Артериа&#769;льное давле&#769;ние</i> (ср.р.)&nbsp;&mdash; это давление, которое развивается кровью в&nbsp;артериальных сосудах организма. Единица давления&nbsp;&mdash; 1&nbsp;мм ртутного столба (рт.&nbsp;ст.). Различают систолическое и&nbsp;диастолическое артериальное давление.
        </p>
      </div>
    </li>
    <li class="list__item list__item-img">
      <a href="#text-1-2" class="btn-reset list__link book__link" data-target="text-1-2">
        <span class="book__figure">
          Б
        </span>
      </a>
      <div id="text-1-2" class="book__content visually-hidden">
        <p class="book__descr">
          <i>Бере&#769;менность</i> (сущ., ж.р.)&nbsp;&mdash; это физиологический процесс, при котором из&nbsp;оплодотворенной яйцеклетки в&nbsp;женском организме развивается плод.
        </p>
        <p class="book__descr">
          <i>Биофи&#769;зика</i> (ж.р.)&nbsp;&mdash; это наука, которая изучает физические свойства и&nbsp;явления в&nbsp;организме как едином целом, в&nbsp;отдельных органах, тканях, клетках организма, физико-химические основы процессов жизнедеятельности.
        </p>
        <p class="book__descr">
          <i>Биохи&#769;мия</i> (ж.р.)&nbsp;&mdash; это биологическая наука, которая изучает химическую природу веществ, входящих в&nbsp;состав живых организмов, превращения веществ и&nbsp;связь этих превращений с&nbsp;деятельностью органов и&nbsp;тканей.
        </p>
      </div>
    </li>
    <li class="list__item list__item-img">
      <a href="#text-1-3" class="btn-reset list__link book__link" data-target="text-1-3">
        <span class="book__figure">
          Г
        </span>
      </a>
      <div id="text-1-3" class="book__content visually-hidden">
        <p class="book__descr">
          <i>Гене&#769;тика</i> (ж.р.)&nbsp;&mdash; это наука о&nbsp;наследственности и&nbsp;изменчивости организмов.
        </p>
        <p class="book__descr">
          <i>Гипотрофи&#769;я</i> (сущ., ж.р.)&nbsp;&mdash; это одна из&nbsp;форм хронического расстройства питания у&nbsp;детей. Гипотрофия характеризуется истощением разной степени выраженности. Встречается, в&nbsp;основном, у&nbsp;детей раннего возраста.
        </p>
        <p class="book__descr">
          <i>Грудно&#769;й ребёнок</i> (м.р.)&nbsp;&mdash; это ребенок от&nbsp;момента рождения до&nbsp;конца первого года жизни (рис.&nbsp;3).
        </p>
        <figure class="book__figure book__figure-text">
          <img class="book__img book__img-big" loading="lazy" src="./img/part-1/pic-6-4.jpg" alt="Грудной ребёнок">
          <figcaption>Рисунок&nbsp;3. Грудной ребёнок</figcaption>
        </figure>
      </div>
    </li>
    <li class="list__item list__item-img">
      <a href="#text-1-4" class="btn-reset list__link book__link" data-target="text-1-4">
        <span class="book__figure">
          Д
        </span>
      </a>
      <div id="text-1-4" class="book__content visually-hidden">
        <p class="book__descr">
          <i>Дефици&#769;т ма&#769;ссы</i>&nbsp;&mdash; состояние организма ребёнка, когда фактическая масса тела меньше прогнозируемого в&nbsp;соответствие с&nbsp;нормами развития значения массы для данного возраста.
        </p>
        <p class="book__descr">
          <i>Диа&#769;гноз</i> (м.р.)&nbsp;&mdash; это медицинское заключение об&nbsp;имеющемся заболевании (травме) или о&nbsp;причине смерти. Диагноз выражают в&nbsp;терминах, которые предусмотрены принятыми классификациями и&nbsp;номенклатурой болезней.
        </p>
        <p class="book__descr">
          <i>Диагно&#769;стика</i> (ж.р.)&nbsp;&mdash; это раздел клинической медицины, изучающий содержание, методы и&nbsp;последовательные ступени процесса распознавания болезней или особых физиологических состояний.
        </p>
        <p class="book__descr">
          Также <i>диагностика</i>&nbsp;&mdash; это сам процесс распознавания болезни и&nbsp;оценки индивидуальных биологических и&nbsp;социальных особенностей субъекта, который включает в&nbsp;себя целенаправленное медицинское обследование, описание и&nbsp;объяснение полученных результатов и&nbsp;их&nbsp;обобщение в&nbsp;виде установленного диагноза.
        </p>
      </div>
    </li>
    <li class="list__item list__item-img">
      <a href="#text-1-5" class="btn-reset list__link book__link" data-target="text-1-5">
        <span class="book__figure">
          З
        </span>
      </a>
      <div id="text-1-5" class="book__content visually-hidden">
        <p class="book__descr">
          <i>Заболева&#769;ние</i> (сущ., ср.р.)&nbsp;&mdash; это болезнь у&nbsp;отдельного человека, случай болезни; воз-никновение болезни.
        </p>
        <p class="book__descr">
          <i>Здоро&#769;вье</i> (сущ., ср.р.)&nbsp;&mdash; это состояние полного физического, духовного и&nbsp;социального благополучия.
        </p>
        <p class="book__descr">
          <i>Здоро&#769;вье населе&#769;ния</i>&nbsp;&mdash; это статистическое понятие, которое характеризуется комплексом демографических показателей&nbsp;&mdash; рождаемостью, смертностью, детской смертностью, уровнем физического развития, заболеваемостью, средней продолжительностью жизни, а&nbsp;также специальными социально-биологическими исследованиями.
        </p>
        <p class="book__descr">
          <i>Здра&#769;воохране&#769;ние</i> (сущ., ср.р.)&nbsp;&mdash; это система социально-экономических и&nbsp;медицинских мероприятий, цель которых&nbsp;&mdash; сохранить и&nbsp;повысить уровень здоровья каждого отдельного человека и&nbsp;населения в&nbsp;целом.
        </p>
      </div>
    </li>
    <li class="list__item list__item-img">
      <a href="#text-1-6" class="btn-reset list__link book__link" data-target="text-1-6">
        <span class="book__figure">
          И
        </span>
      </a>
      <div id="text-1-6" class="book__content visually-hidden">
        <p class="book__descr">
          <i>Инсу&#769;льт</i> (м.р.)&nbsp;&mdash; это острое нарушение мозгового кровообращения. Нарушение кровообращения может быть в&nbsp;головном мозге (церебральный инсульт) или в&nbsp;спинном мозге (спинальный инсульт).
        </p>
        <p class="book__descr">
          <i>Инъе&#769;кция</i> (сущ., ж.р.)&nbsp;&mdash; это способ введения в&nbsp;организм лекарств или диагностических средств (обычно в&nbsp;виде растворов или суспензий объемом до&nbsp;20&nbsp;мл) в&nbsp;различные среды организма с&nbsp;помощью шприца с&nbsp;иглой или других средств. Инъекции выполняют внутрикожно, подкожно, внутримышечно, внутривенно (рис.&nbsp;4), а&nbsp;по&nbsp;специальным показаниям&nbsp;&mdash; в&nbsp;артерии, в&nbsp;органы, внутрикостно, в&nbsp;спинномозговой канал и&nbsp;другие среды организма.
        </p>
        <figure class="book__figure book__figure-text">
          <img class="book__img book__img-big" loading="lazy" src="./img/part-1/pic-6-5.jpg" alt="Виды инъекций">
          <figcaption>Рисунок&nbsp;4. Виды инъекций</figcaption>
        </figure>
      </div>
    </li>
    <li class="list__item list__item-img">
      <a href="#text-1-7" class="btn-reset list__link book__link" data-target="text-1-7">
        <span class="book__figure">
          К
        </span>
      </a>
      <div id="text-1-7" class="book__content visually-hidden">
        <p class="book__descr">
          <i>Кардиоло&#769;гия</i> (сущ., ж.р.)&nbsp;&mdash; это раздел внутренних болезней, который изучает функцию, морфологию в&nbsp;норме и&nbsp;патологию сердечно-сосудистой системы, отдельные болезни системы кровообращения, их&nbsp;происхождение, клинические проявления, диагностику, профилактику и&nbsp;лечение.
        </p>
        <p class="book__descr">
          <i>Кли&#769;ника</i> (ж.р.)&nbsp;&mdash; это лечебно-профилактическое учреждение, в&nbsp;котором лечение больных сочетается с&nbsp;педагогической и&nbsp;научно-исследовательской работой.
        </p>
        <p class="book__descr">
          <i>Клини&#769;ческие да&#769;нные</i> (мн.ч.)&nbsp;&mdash; это информация о&nbsp;пациенте, которая создана медицинским специалистом. Клинические данные могут быть использованы для оценки состояния здоровья или лечения данного пациента.
        </p>
        <p class="book__descr">
          <i>Компью&#769;терный томо&#769;граф</i> (м.р.)&nbsp;&mdash; это медицинское диагностическое устройство, в&nbsp;котором используют рентгеновское излучение и&nbsp;компьютерную обработку данных, чтобы создавать подробные снимки-срезы внутренних структур организма (рис.&nbsp;5).
        </p>
        <figure class="book__figure book__figure-text">
          <img class="book__img book__img-big" loading="lazy" src="./img/part-1/pic-6-6.jpg" alt="Компьютерный томограф">
          <img class="book__img book__img-big" loading="lazy" src="./img/part-1/pic-6-7.jpg" alt="Компьютерный томограф">
          <figcaption>Рисунок&nbsp;5. Компьютерный томограф</figcaption>
        </figure>
      </div>
    </li>
    <li class="list__item list__item-img">
      <a href="#text-1-8" class="btn-reset list__link book__link" data-target="text-1-8">
        <span class="book__figure">
          Л
        </span>
      </a>
      <div id="text-1-8" class="book__content visually-hidden">
        <p class="book__descr">
          <i>Лека&#769;рство</i> (ср.р.)&nbsp;&mdash; это вещество, которое применяют для лечения какое-либо заболевание или для его профилактики.
        </p>
        <p class="book__descr">
          <i>Лека&#769;рственный препара&#769;т</i> (м.р.)&nbsp;&mdash; это фармацевтический продукт, который приготовлен в&nbsp;виде определённой лекарственной формы и&nbsp;готов к&nbsp;применению.
        </p>
        <p class="book__descr">
          <i>Лече&#769;ние</i> (сущ., ср.р.)&nbsp;&mdash; это комплекс медицинских действий, которые выполняются по&nbsp;назначению медицинского работника для устранения или облегчения проявлений заболевания пациента.
        </p>
      </div>
    </li>
    <li class="list__item list__item-img">
      <a href="#text-1-9" class="btn-reset list__link book__link" data-target="text-1-9">
        <span class="book__figure">
          П
        </span>
      </a>
      <div id="text-1-9" class="book__content visually-hidden">
        <p class="book__descr">
          <i>Пацие&#769;нт</i> (м.р.)&nbsp;&mdash; это физическое лицо, которому оказывается медицинская помощь или которое обратилось за&nbsp;оказанием медицинской помощи.
        </p>
        <p class="book__descr">
          <i>Педиатри&#769;я</i> (сущ., ж.р.)&nbsp;&mdash; это область клинической медицины, которая изучает здоровье ребенка в&nbsp;процессе его развития, физиологию, патологию, методы профилактики и&nbsp;лечения заболеваний, которые могут стать причиной нарушения гармоничного развития или представляющих опасность для жизни детского организма.
        </p>
        <p class="book__descr">
          <i>Пеницилли&#769;н</i> (м.р.)&nbsp;&mdash; это антибиотик с&nbsp;антибактериальным действием. Различают пенициллины природные и&nbsp;полусинтетические.
        </p>
        <p class="book__descr">
          <i>Профила&#769;ктика</i> (ж.р.)&nbsp;&mdash; это система государственных, социальных, гигиенических и&nbsp;медицинских мер, которые направлены на&nbsp;обеспечение высокого уровня здоровья и&nbsp;предупреждение болезней. Профилактика является ведущим разделом медицины.
        </p>
      </div>
    </li>
    <li class="list__item list__item-img">
      <a href="#text-1-10" class="btn-reset list__link book__link" data-target="text-1-10">
        <span class="book__figure">
          Р
        </span>
      </a>
      <div id="text-1-10" class="book__content visually-hidden">
        <p class="book__descr">
          <i>Раствори&#769;тель</i> (м.р.)&nbsp;&mdash; это химическое вещество, которое нужно для растворения различных материалов, веществ, лекарственных препаратов, приготовленных в&nbsp;виде порошка.
        </p>
      </div>
    </li>
    <li class="list__item list__item-img">
      <a href="#text-1-11" class="btn-reset list__link book__link" data-target="text-1-11">
        <span class="book__figure">
          Ф
        </span>
      </a>
      <div id="text-1-11" class="book__content visually-hidden">
        <p class="book__descr">
          <i>Фармаколо&#769;гия</i> (сущ., ж.р.)&nbsp;&mdash; это наука о&nbsp;взаимодействии химических соединений с&nbsp;живыми организмами.
        </p>
        <p class="book__descr">
          <i>Фармаце&#769;вт</i> (м.р.)&nbsp;&mdash; это специалист с&nbsp;высшим или средним фармацевтическим образованием, который имеет право изготавливать, хранить, перевозить, продавать лекарственные препараты.
        </p>
        <p class="book__descr">
          <i>Физиологическая убыль массы новорожденного</i>&nbsp;&mdash; это переходное состояние детского организма, период адаптации к&nbsp;окружающей среде.
        </p>
        <p class="book__descr">
          <i>Физиоло&#769;гия</i> (сущ., ж.р.)&nbsp;&mdash; это наука о&nbsp;закономерностях функционирования живых организмов, их&nbsp;отдельных систем, органов и&nbsp;тканей. Физиология включает также изучение закономерностей взаимодействия живых организмов с&nbsp;окружающей средой, их&nbsp;поведения в&nbsp;различных условиях (экологическая физиология), а&nbsp;также на&nbsp;разных стадиях роста и&nbsp;развития, начиная с&nbsp;эмбриогенеза и&nbsp;кончая старческим возрастом.
        </p>
        <p class="book__descr">
          <i>Флако&#769;н</i> (м.р.)&nbsp;&mdash; это специальная тара в&nbsp;виде склянки небольших размеров, которая изготовлена из&nbsp;полимерных материалов либо прозрачного или тёмного стекла для хранения вязко-жидких материалов (рис.&nbsp;6).
        </p>
        <figure class="book__figure book__figure-text">
          <img class="book__img book__img-big" loading="lazy" src="./img/part-1/pic-6-8.jpg" alt="Флаконы">
          <figcaption>Рисунок&nbsp;6. Флаконы с&nbsp;пробками для различных форм лекарственных средств</figcaption>
        </figure>
      </div>
    </li>
    <li class="list__item list__item-img">
      <a href="#text-1-12" class="btn-reset list__link book__link" data-target="text-1-12">
        <span class="book__figure">
          Ш
        </span>
      </a>
      <div id="text-1-12" class="book__content visually-hidden">
        <p class="book__descr">
          <i>Шприц</i> (м.р.)&nbsp;&mdash; это инструменты для дозированного введения в&nbsp;ткани организма жидких лекарственных средств, промывания полостей и&nbsp;так далее. Шприц&nbsp;&mdash; это ручной поршневой насос, который состоит из&nbsp;цилиндра, поршня и&nbsp;другой арматуры (рис.&nbsp;7).
        </p>
        <figure class="book__figure book__figure-text">
          <img class="book__img book__img-big" loading="lazy" src="./img/part-1/pic-6-9.jpg" alt="Виды шприцев">
          <figcaption>Рисунок&nbsp;7. Виды шприцев</figcaption>
        </figure>
      </div>
    </li>
  </ul>

</div>
