<div class="book__content">
  <p class="book__descr">
    <i>Теория.</i>
  </p>
  <p class="book__descr">
    Сотая часть числа&nbsp;&mdash; это процент. Процент обозначается знаком&nbsp;%. При решении задач на&nbsp;проценты можно применять специальные формулы или использовать пропорцию.
  </p>
  <p class="book__descr">
    <i>Практика.</i>
  </p>
  <p class="book__descr">
    1.&nbsp;Медицинская практика&nbsp;&mdash; приготовление растворов для инъекций.
  </p>
  <p class="book__descr">
    Пациенту врач назначил ввести 5&nbsp;мл 10% раствора хлористого кальция (CaCl<sub>2</sub>). Какое количество растворителя надо добавить, если в&nbsp;ампуле объёмом 20&nbsp;мл содержится&nbsp;15% раствор хлористого кальция?
  </p>
  <p class="book__descr">
    <i>Решение.</i>
  </p>
  <p class="book__descr">
    Сначала нужно найти содержание хлористого кальция в&nbsp;ампуле объёмом 20&nbsp;мл. Составим и&nbsp;решим пропорцию:
  </p>

  <img src="./img/part-1/pic-3-1.jpg" alt="pic-3-1" class="book__img book__img-text book__img-big">

  <p class="book__descr">
    То&nbsp;есть в&nbsp;ампуле объёмом 20&nbsp;мл содержится 3&nbsp;г хлористого кальция.
  </p>
  <p class="book__descr">
    Затем нужно определить, сколько растворителя потребуется, чтобы получить&nbsp;10% раствор. Снова составим и&nbsp;решим пропорцию:
  </p>

  <img src="./img/part-1/pic-3-2.jpg" alt="pic-3-2" class="book__img book__img-text book__img-big">

  <p class="book__descr">
    То&nbsp;есть в&nbsp;ампулу нужно добавить 10&nbsp;мл растворителя.
  </p>
  <p class="book__descr">
    Ответ: 10&nbsp;мл.
  </p>
  <p class="book__descr">
    2.&nbsp;Педиатрия&nbsp;&mdash; определение физиологической убыли массы новорожденного ребёнка.
  </p>
  <p class="book__descr">
    Ребёнок родился с&nbsp;массой 3500&nbsp;г, а&nbsp;на&nbsp;третьи сутки его масса составила 3300&nbsp;г. Определить процент потери массы.
  </p>
  <p class="book__descr">
    Решение.
  </p>
  <p class="book__descr">
    Потеря массы на&nbsp;третьи сутки составила 3500&nbsp;&minus; 3300 = 200&nbsp;грамм. Чтобы найти, сколько процентов 200&nbsp;г составляет от&nbsp;3500&nbsp;г, используем определение процента:
  </p>

  <img src="./img/part-1/pic-3-3.jpg" alt="pic-3-3" class="book__img book__img-text book__img-big">

  <p class="book__descr">
    Поскольку в&nbsp;норме ребёнок после рождения может потерять до&nbsp;10% массы, то&nbsp;вычисленное значение находится в&nbsp;пределах нормы.
  </p>
  <p class="book__descr">
    Ответ: физиологическая убыль массы в&nbsp;норме и&nbsp;составила 5,7%.
  </p>
  <p class="book__descr">
    3.&nbsp;Кардиология&nbsp;&mdash; изменение артериального давления [3].
  </p>
  <p class="book__descr">
    Для классификации изменений артериального давления применяется специальная таблица, для которой расчёты с&nbsp;использованием систолического артериального давления (SBP) выполняются по&nbsp;формуле:
  </p>

  <img src="./img/part-1/pic-3-4.jpg" alt="pic-3-4" class="book__img book__img-text book__img-big">

  <p class="book__descr">
    На&nbsp;основании амбулаторных наблюдений, вычислений по&nbsp;приведённой формуле и&nbsp;данных таблицы классификации скачков артериального давления врачи могут делать вывод о&nbsp;вероятности возникновения инсульта.
  </p>
</div>
