<div class="book__content">
  <p class="book__descr">
    <i>Теория.</i>
  </p>
  <p class="book__descr">
    Частное двух чисел a&nbsp;и&nbsp;b, которые не&nbsp;равны нулю,&nbsp;&mdash; это отношение <i>a</i>&nbsp;к&nbsp;<i>b</i>. Равенство двух отношений&nbsp;&mdash; это пропорция. Пропорция имеет вид: <img src="./img/part-1/pic-2-1.jpg" alt="pic-2-1" align="absmiddle" style="height: 30px;">. Здесь Числа <i>a</i>&nbsp;и&nbsp;<i>d</i>&nbsp;&mdash; это крайние члены пропорции, а&nbsp;числа <i>b</i>&nbsp;и&nbsp;<i>c</i>&nbsp;&mdash; это средние члены пропорции.
  </p>
  <p class="book__descr">
    При решении задач используют основное свойство пропорции.
  </p>
  <p class="book__descr">
    Произведение крайних членов пропорции равно произведению средних членов пропорции: <img src="./img/part-1/pic-2-2.jpg" alt="pic-2-2" align="absmiddle" style="height: 30px;">
  </p>
  <p class="book__descr">
    <i>Практика.</i>
  </p>
  <p class="book__descr">
    1.&nbsp;Фармакология&nbsp;&mdash; разработка новых лекарств.
  </p>
  <p class="book__descr">
    Фармацевты, используя теоретические знания, составляют растворы лекарственных веществ в&nbsp;таких пропорциях, чтобы оказать помощь организму человека, не&nbsp;нанося вред.
  </p>
  <p class="book__descr">
    2.&nbsp;Медицинская практика&nbsp;&mdash; расчёт дозы лекарства.
  </p>
  <p class="book__descr">
    Объём необходимого для лечения заболевания препарата может определяться в&nbsp;зависимости от&nbsp;массы пациента.
  </p>
  <p class="book__descr">
    3.&nbsp;Медицинская практика&nbsp;&mdash; приготовление растворов для инъекций.
  </p>
  <p class="book__descr">
    Во&nbsp;флаконе 500000ЕД пенициллина. Врач назначил вводить пациенту 100000ЕД пенициллина 4&nbsp;раза в&nbsp;сутки. Какое количество растворителя необходимо ввести во&nbsp;флакон для разведения, и&nbsp;сколько миллилитров раствора надо набрать в&nbsp;шприц?
  </p>
  <p class="book__descr">
    Решение:
  </p>
  <p class="book__descr">
    Сначала нужно определить количество растворителя. Составим и&nbsp;решим пропорцию:
  </p>

  <img src="./img/part-1/pic-2-3.jpg" alt="pic-2-3" class="book__img book__img-text book__img-big">

  <p class="book__descr">
    То&nbsp;есть во&nbsp;флакон нужно ввести 2,5&nbsp;мл растворителя.
  </p>
  <p class="book__descr">
    Далее следует определим количество раствора лекарственного вещество, которое нужно набрать в&nbsp;шприц. Вновь составим и&nbsp;решим пропорцию:
  </p>

  <img src="./img/part-1/pic-2-4.jpg" alt="pic-2-4" class="book__img book__img-text book__img-big">

  <p class="book__descr">
    То&nbsp;есть в&nbsp;шприц нужно набрать 0,5&nbsp;мл раствора.
  </p>
  <p class="book__descr">
    Ответ: 2,5&nbsp;мл растворителя; 0,5&nbsp;мл раствора.
  </p>

</div>
