<div class="book__content">
  <p class="book__descr">
    Статистика&nbsp;&mdash; это наука, которая изучает количественную сторону массовых общественных явлений и&nbsp;процессов в&nbsp;постоянной тесной связи с&nbsp;их&nbsp;качественной стороной. Статистика&nbsp;&mdash; это универсальная наука. Она охватывающая все отрасли человеческой деятельности, в&nbsp;том числе медицину и&nbsp;здравоохранение.
  </p>
  <p class="book__descr">
    Биомедицинская статистика&nbsp;&mdash; это статистическая информация и&nbsp;методы, которые используются для изучения вопросов здравоохранения и&nbsp;социальных проблем. Биомедицинская статистика изучает биологические, общественные, социальные явления.
  </p>
  <p class="book__descr">
    Медицинская статистика&nbsp;&mdash; это раздел биомедицинской статистики, который изучает количественные закономерности показателей здоровья, здравоохранения, состояния организма человека, биохимических процессов, происходящие в&nbsp;организме человека. Также медицинская статистика разрабатывает методы статистического анализа клинических и&nbsp;лабораторных данных. Медицинская статистика позволяет дать оценку состояния здоровья населения страны, региона&nbsp;и, используя подобную информацию, разработать меры, которые направлены на&nbsp;улучшение общественного здоровья.
  </p>
  <p class="book__descr">
    Медицинская статистика применяется для изучения массовых явлений и&nbsp;выявления их&nbsp;общих закономерностей. Методы медицинской статистики используются при решении особо проявляющихся текущих проблем в&nbsp;области здравоохранения, таких, как потребность уменьшения заболеваемости, смертности, повышения продолжительности жизни населения.
  </p>
  <p class="book__descr">
    В&nbsp;медицине статистика&nbsp;&mdash; это ведущий метод, так как он&nbsp;позволяет:
  </p>
  <ul class="book__lits">
    <li class="book__lit">
      количественно измерять показатели здоровья населения и&nbsp;показатели деятельности медицинских учреждений;
    </li>
    <li class="book__lit">
      определять силу влияния различных факторов на&nbsp;здоровье населения;
    </li>
    <li class="book__lit">
      определять эффективность лечения и&nbsp;оздоровительных мероприятий;
    </li>
    <li class="book__lit">
      оценивать изменения показателей здоровья и&nbsp;прогнозировать&nbsp;их;
    </li>
    <li class="book__lit">
      получить данные для разработки норм и&nbsp;нормативов здравоохранения.
    </li>
  </ul>

</div>
