<div class="book__content">
  <p class="book__descr">
    Математика&nbsp;&mdash; очень важная наука. Многие учёные с&nbsp;давних времён отмечали важность математики. Знаки, символы, формулы математики можно назвать универсальными. Математические обозначения можно использовать, чтобы описать процессы и&nbsp;явления окружающего мира. Многие области научного знания используют законы математики. Все точные расчёты невозможно выполнить без математики, без правил выполнения основных арифметических действий. Медицина&nbsp;&mdash; не&nbsp;исключение.
  </p>
  <p class="book__descr">
    В&nbsp;медицине математика помогает улучшать диагностику, лечение, профилактику заболеваний, повышать качество медицинской помощи, делать многие медицинские процессы оптимальными.
  </p>
  <p class="book__descr">
    Так, чтобы назначить пациенту лекарство, врач должен провести расчёты количество препарата на&nbsp;один приём, количество приёмов в&nbsp;сутки, общую длительность приёма препарата. Также процесс создания лекарственных препаратов не&nbsp;обходится без математических вычислений.
  </p>
  <p class="book__descr">
    В&nbsp;современных медицинских исследованиях используется математическое моделирование различных процессов. Для сбора и&nbsp;анализа клинических данных используются методы математической статистики и&nbsp;теории вероятностей. При расшифровке и&nbsp;чтении данных, полученных с&nbsp;помощью аппаратов УЗИ, компьютерных томографов необходимо владеть математическими знаниями.
  </p>
  <p class="book__descr">
    В&nbsp;акушерстве используются математические формулы, описывающие связь различных данных со&nbsp;сроком беременности. В&nbsp;педиатрии сразу после рождения малыша оценивают параметры его здоровья, используя формулы, связывающие массу, рост ребёнка и&nbsp;другие данные. В&nbsp;последствии при наблюдении оценивают развитие ребёнка с&nbsp;помощью специальных математических методов.
  </p>
  <p class="book__descr">
    Кроме того, математические методы постоянно используются в&nbsp;биофизике, биохимии, генетике, физиологии, медицинском приборостроении, создании биотехнических систем.
  </p>
</div>
