<script type="text/javascript" language="JavaScript">// <![CDATA[
 var res6="31213123";
function check_me6()
{
    var count=0;
//    with(document.test) {
if (!document.test6.Q1[0].checked&&!document.test6.Q1[1].checked&&!document.test6.Q1[2].checked)
{count+=1};
if (!document.test6.Q2[0].checked&&!document.test6.Q2[1].checked&&!document.test6.Q2[2].checked)
{count+=1};
if (!document.test6.Q3[0].checked&&!document.test6.Q3[1].checked&&!document.test6.Q3[2].checked)
{count+=1};
if (!document.test6.Q4[0].checked&&!document.test6.Q4[1].checked&&!document.test6.Q4[2].checked)
{count+=1};
if (!document.test6.Q5[0].checked&&!document.test6.Q5[1].checked&&!document.test6.Q5[2].checked)
{count+=1};
if (!document.test6.Q6[0].checked&&!document.test6.Q6[1].checked&&!document.test6.Q6[2].checked)
{count+=1};
if (!document.test6.Q7[0].checked&&!document.test6.Q7[1].checked&&!document.test6.Q7[2].checked)
{count+=1};
if (!document.test6.Q8[0].checked&&!document.test6.Q8[1].checked&&!document.test6.Q8[2].checked)
{count+=1};
if (count>0) alert("Вы выполнили не все задания. Проверьте себя!")
        else answer6();
//    }
}

function control6(k, f1,f2,f3,f4,f5,f6,f7,f8) {
if (k==1&&f1.checked) return true;
if (k==2&&f2.checked) return true;
if (k==3&&f3.checked) return true;
if (k==4&&f4.checked) return true;
if (k==5&&f5.checked) return true;
if (k==6&&f6.checked) return true;
if (k==7&&f7.checked) return true;
if (k==8&&f8.checked) return true;
return false;
}

function answer6() {
answ="";
//     with(document)    {
    answ+=control6(res6.charAt(0), document.test6.Q1[0], document.test6.Q1[1], document.test6.Q1[2])?"1":"0";
    answ+=control6(res6.charAt(1), document.test6.Q2[0], document.test6.Q2[1], document.test6.Q2[2])?"1":"0";
    answ+=control6(res6.charAt(2), document.test6.Q3[0], document.test6.Q3[1], document.test6.Q3[2])?"1":"0";
    answ+=control6(res6.charAt(3), document.test6.Q4[0], document.test6.Q4[1], document.test6.Q4[2])?"1":"0";
    answ+=control6(res6.charAt(4), document.test6.Q5[0], document.test6.Q5[1], document.test6.Q5[2])?"1":"0";
    answ+=control6(res6.charAt(5), document.test6.Q6[0], document.test6.Q6[1], document.test6.Q6[2])?"1":"0";
    answ+=control6(res6.charAt(6), document.test6.Q7[0], document.test6.Q7[1], document.test6.Q7[2])?"1":"0";
    answ+=control6(res6.charAt(7), document.test6.Q8[0], document.test6.Q8[1], document.test6.Q8[2])?"1":"0";

showResult6();
//    }
}

function showResult6()   {
    var nok=0;
    var i,s;

for (i=0; i<answ.length;i++) {nok+=answ.charAt(i)=="1"?1:0;}
if(nok==8) s="ОТЛИЧНО";
if(nok<8) s="ХОРОШО";
if(nok<6) s="УДОВЛЕТВОРИТЕЛЬНО";
if (nok<4) s="НЕУДОВЛЕТВОРИТЕЛЬНО";
    document.test6.s1.
    value="Количество правильных ответов "+nok+". Ваша оценка "+s+". Посмотрите на окно рядом с номером вопроса. Если ответ правильный, там (+). Если ответ ошибочен, там (-).";

//with(document.test)    {
    if (answ.charAt(0)=="1") {document.test6.T1.value=" + "} else {document.test6.T1.value=" - "};
    if (answ.charAt(1)=="1") {document.test6.T2.value=" + "} else {document.test6.T2.value=" - "};
    if (answ.charAt(2)=="1") {document.test6.T3.value=" + "} else {document.test6.T3.value=" - "};
    if (answ.charAt(3)=="1") {document.test6.T4.value=" + "} else {document.test6.T4.value=" - "};
    if (answ.charAt(4)=="1") {document.test6.T5.value=" + "} else {document.test6.T5.value=" - "};
    if (answ.charAt(5)=="1") {document.test6.T6.value=" + "} else {document.test6.T6.value=" - "};
    if (answ.charAt(6)=="1") {document.test6.T7.value=" + "} else {document.test6.T7.value=" - "};
    if (answ.charAt(7)=="1") {document.test6.T8.value=" + "} else {document.test6.T8.value=" - "};
//     }
}
function showhide6(obj){
    if(obj == 'none') return 'inline';
    else return 'none';
}
// ]]>
</script>

&nbsp;&nbsp;&nbsp;<span style="color:#006699;text-decoration:underline;cursor:pointer;" onclick="document.getElementById('instruction6').style.display = showhide6(document.getElementById('instruction6').style.display)">
Инструкция</span>
 <br/>
<div id="instruction6" style="display: none; width: 100%;">
<ul>
<li>Выберите один из вариантов в каждом из 8 вопросов;</li>
<li>Нажмите на кнопку "Показать результат";</li>
<li>Скрипт не покажет результат, пока Вы не ответите на все вопросы;</li>
<li>Загляните в окно рядом с номером задания. Если ответ правильный, то там (+). Если Вы ошиблись, там (-).</li>
<li>За каждый правильный ответ начисляется 1 балл;</li>
<li>Оценки: менее 4 баллов - НЕУДОВЛЕТВОРИТЕЛЬНО, от 4, но менее 6 - УДОВЛЕТВОРИТЕЛЬНО, 6 и менее 8 - ХОРОШО, 8 - ОТЛИЧНО;</li>
<li>Чтобы сбросить результат тестирования, нажать кнопку "Сбросить ответы";</li>
</ul>
</div>
<form name="test6"><ol>
<li><INPUT type="text" size="1" value="" name="T1"/><b> Металлические строительные материалы изготавливают из ...</b><br/>
<input type="radio" value="0" name="Q1"/> глины, полевого шпата и кварца<br />
<input type="radio" value="1" name="Q1"/> цемента, песка, щебня, воды<br />
<input type="radio" value="2" name="Q1"/> стали, чугуна, алюминия, меди<br />
<br/></li><li><INPUT type="text" size="1" value="" name="T2"/><b> Древесные строительные материалы изготовлены из ...</b><br/>
<input type="radio" value="0" name="Q2"/> сосны, дуба<br />
<input type="radio" value="1" name="Q2"/> цемента, песка<br />
<input type="radio" value="2" name="Q2"/> стали, чугуна, меди<br />
<br/></li><li><INPUT type="text" size="1" value="" name="T3"/><b> ДСП &mdash; что это?</b><br/>
<input type="radio" value="0" name="Q3"/> древесно-волокнистые плиты<br />
<input type="radio" value="1" name="Q3"/> древесно-стружечные плиты<br />
<input type="radio" value="2" name="Q3"/> ориентировано-стружечные плиты<br />
<br/></li><li><INPUT type="text" size="1" value="" name="T4"/><b> ДВП &mdash; что это?</b><br/>
<input type="radio" value="0" name="Q4"/> древесно-волокнистые плиты<br />
<input type="radio" value="1" name="Q4"/> древесно-стружечные плиты<br />
<input type="radio" value="2" name="Q4"/> ориентировано-стружечные плиты<br />
<br/></li><li><INPUT type="text" size="1" value="" name="T5"/><b> OSB &mdash; что это?</b><br/>
<input type="radio" value="0" name="Q5"/> древесно-волокнистые плиты<br />
<input type="radio" value="1" name="Q5"/> древесно-стружечные плиты<br />
<input type="radio" value="2" name="Q5"/> ориентировано-стружечные плиты<br />
<br/></li><li><INPUT type="text" size="1" value="" name="T6"/><b> Асбестоцемент состоит из ...</b><br/>
<input type="radio" value="0" name="Q6"/> цемента и асбестового волокна<br />
<input type="radio" value="1" name="Q6"/> цемента с порами, заполненными полимером<br />
<input type="radio" value="2" name="Q6"/> бетона с фиброволокнами<br />
<br/></li><li><INPUT type="text" size="1" value="" name="T7"/><b> Бетонополимер состоит из ...</b><br/>
<input type="radio" value="0" name="Q7"/> цемента и асбестового волокна<br />
<input type="radio" value="1" name="Q7"/> цемента с порами, заполненными полимером<br />
<input type="radio" value="2" name="Q7"/> бетона с фиброволокнами<br />
<br/></li><li><INPUT type="text" size="1" value="" name="T8"/><b> Фибробетон состоит из ...</b><br/>
<input type="radio" value="0" name="Q8"/> цемента и асбестового волокна<br />
<input type="radio" value="1" name="Q8"/> цемента с порами, заполненными полимером<br />
<input type="radio" value="2" name="Q8"/> бетона с фиброволокнами<br />
<br/></li></ol>
<CENTER>
<P><TEXTAREA name="s1" rows="4" cols="70" readonly> </TEXTAREA> </P>
<INPUT onclick="check_me6()" type="button" value="Показать результат"/>&nbsp;&nbsp;&nbsp;&nbsp;
<INPUT type="reset" value="Сбросить ответы"/>
</CENTER>
</form>
<!-- Test created by service http://test.fromgomel.com -->
