<header class="header">
  <div class="container header__container">
    <div class="header__img"></div>
    <nav class="nav header__nav mainnav">
      <ul class="list-reset mainnav__list">
        <li class="mainnav__item">
          <a href="./index.html" class="btn-reset mainnav__btn">
            Главная
          </a>
        </li>
        <li class="mainnav__item">
          <a href="./posobie.html" class="btn-reset mainnav__btn">
            Пособие
          </a>
        </li>
        <li class="mainnav__item">
          <a href="./about.html" class="btn-reset mainnav__btn">
            Об авторах
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header>
