<hr>
<div class="book__content">
  <p class="book__descr book__descr-tbold">
    7. Прочитайте текст.
  </p>

  <p class="book__descr book__descr-tbold">
    Количество информации
  </p>
  <p class="book__descr">
    Измерение информации&nbsp;&mdash; это задача, которую изучает теоретическая информатика.
  </p>
  <p class="book__descr">
    Компьютер работает с&nbsp;данными. При работе с&nbsp;данными важно знать, сколько памяти нужно иметь, чтобы сохранить данные, сколько времени нужно, чтобы передать данные от&nbsp;одного компьютера другому компьютеру. Для этого можно определить количество знаков, которыми записаны данные. Это <i>объёмный подход</i> к&nbsp;определению количества информации.
  </p>
  <p class="book__descr">
    Количество информации в&nbsp;сообщении равно количеству знаков в&nbsp;этом сообщении. Значит, разные сообщения с&nbsp;одинаковым количеством знаков будут иметь одинаковый объём информации.
  </p>
  <p class="book__descr">
    Чтобы записать данные в&nbsp;виде, удобном для обработки на&nbsp;компьютере, используют цифры 0&nbsp;и&nbsp;1. Цифры 0&nbsp;и&nbsp;1&nbsp;&mdash; это двоичные цифры (англ. <i>binary digits</i>).
  </p>
  <p class="book__descr">
    <i>Бит</i> (англ. <i>binary digit</i>)&nbsp;&mdash; это количество информации, которую можно записать с&nbsp;помощью одной двоичной цифры. Бит&nbsp;&mdash; это наименьшая единица количества информации.
  </p>
  <p class="book__descr">
    1&nbsp;бит&nbsp;&mdash; это количество информации, в&nbsp;котором могут быть только два различных варианта. Если вариантов больше, то&nbsp;битов для записи сообщения должно быть больше. Значит, информации в&nbsp;сообщении будет больше. Количество вариантов&nbsp;<i>N</i> и&nbsp;количество битов информации&nbsp;<i>I</i> связаны формулой <i>N</i>&nbsp;=&nbsp;2<sup><i>I</i></sup>. Из&nbsp;этой формулы получим: <i>I</i>&nbsp;=&nbsp;log<sub>2</sub>&nbsp;<i>N</i>. Это формула Хартли.
  </p>
  <p class="book__descr">
    С&nbsp;помощью формулы Хартли можно определить теоретическое количество информации в&nbsp;сообщении, которое содержит <i>L</i>&nbsp;символов: <i>I</i>&nbsp;=&nbsp;<i>L</i>&nbsp;&middot;&nbsp;log<sub>2</sub>&nbsp;<i>N</i>. Это <i>алфавитный подход</i>.
  </p>
  <p class="book__descr">
    Например, если алфавит, на&nbsp;котором написано сообщение, состоит из&nbsp;40&nbsp;знаков, а&nbsp;само сообщение содержит 1000&nbsp;знаков, то&nbsp;общий объём информации в&nbsp;таком сообщении находим по&nbsp;формуле:
  </p>

  <img src="./img/part-4/formula-1.jpg" alt="formula-1" class="book__img book__img-text book__img-big">

  <p class="book__descr">
    Для больших объёмов информации используют единицы количества информации, которые больше, чем бит.
  </p>
  <p class="book__descr">
    <i>Байт</i> (англ. <i>byte</i>)&nbsp;&mdash; это основная единица количества информации.&nbsp;1&nbsp;байт = 8&nbsp;бит.
  </p>
  <p class="book__descr">
    Крупные единицы количества информации:
  </p>
  <p class="book__descr">
    1&nbsp;Кбайт (килобайт) = 1024 байт = 2<sub>10</sub>&nbsp;байт;
  </p>
  <p class="book__descr">
    1&nbsp;Мбайт (мегабайт) = 1024 Кбайт = 2<sub>10</sub>&nbsp;Кбайт;
  </p>
  <p class="book__descr">
    1&nbsp;Гбайт (гигабайт) = 1024 Мбайт = 2<sub>10</sub>&nbsp;Мбайт;
  </p>
  <p class="book__descr">
    1&nbsp;Тбайт (терабайт) = 1024 Гбайт = 2<sub>10</sub>&nbsp;Гбайт.
  </p>

  <p class="book__descr book__descr-tbold">
    Кодирование информации
  </p>
  <p class="book__descr">
    Чтобы информацию было удобно обрабатывать на&nbsp;компьютере, информацию нужно закодировать.
  </p>
  <p class="book__descr">
    <i>Кодирование</i>&nbsp;&mdash; это запись информации с&nbsp;помощью знаков в&nbsp;форме, удобной для хранения, обработки и&nbsp;передачи. Правило, по&nbsp;которому выполняют кодирование информации,&nbsp;&mdash; это <i>код</i>. <i>Декодирование</i>&nbsp;&mdash; это обратный переход от&nbsp;закодированного сообщения к&nbsp;исходной информации.
  </p>
  <p class="book__descr">
    Коды можно разделить на&nbsp;равномерные и&nbsp;неравномерные. При неравномерном кодировании коды разных символов могут быть разной длины (например, код Морзе). При равномерном кодировании коды всех символов алфавита имеют одинаковую длину.
  </p>
  <p class="book__descr">
    <i>Двоичное кодирование</i>&nbsp;&mdash; это запись информации с&nbsp;помощью цифр 0&nbsp;и&nbsp;1.
  </p>
  <p class="book__descr">
    В&nbsp;конце XVII века немецкий учёный Г.&nbsp;В.&nbsp;Лейбниц создал механическую вычислительную машину, в&nbsp;которой использовал кодирование чисел с&nbsp;помощью цифр 0&nbsp;и&nbsp;1.
  </p>
  <p class="book__descr">
    Двоичное кодирование&nbsp;&mdash; это равномерное кодирование. Чтобы определить длину двоичного кода, нужно использовать формулу Хартли.
  </p>
  <p class="book__descr">
    Например, дан алфавит, который содержит 64&nbsp;знака. Определим минимальную длину двоичного кода для каждого знака этого алфавита:
  </p>

  <img src="./img/part-4/formula-2.jpg" alt="formula-2" class="book__img book__img-text book__img-big">

  <p class="book__descr">
    Таким образом, длина кода каждого знака для заданного алфавита равна 6&nbsp;битам.
  </p>
  <p class="book__descr">
    Для кодирования информации, представленной в&nbsp;разных формах, используют разные правила.
  </p>
  <p class="book__descr">
    Для кодирования числовой информации используют запись чисел в&nbsp;двоичной системе счисления. Для дополнительной информации прочитайте текст &laquo;Двоичное кодирование числовой информации&raquo;.
  </p>
  <p class="book__descr">
    Для кодирования текстовой информации используют специальные стандарты&nbsp;&mdash; кодовые таблицы. Основными являются стандарт ASCII&nbsp;с расширениями (ANSI) и&nbsp;стандарт UNICODE. Для дополнительной информации прочитайте текст &laquo;Кодовые таблицы ASCII, ANSI и&nbsp;UNICODE&raquo;.
  </p>
  <p class="book__descr">
    При кодировании графической информации используют два метода&nbsp;&mdash; растровое кодирование и&nbsp;векторное кодирование. Для дополнительной информации прочитайте тексты &laquo;Растровое кодирование&raquo; и&nbsp;&laquo;Векторное кодирование&raquo;.
  </p>
  <p class="book__descr">
    Для кодирования звуковой информации используют устройства, которые преобразуют звук в&nbsp;электрический сигнал (микрофон), а&nbsp;затем электрический сигнал преобразуют в&nbsp;двоичный код (звуковая карта).
  </p>
  <p class="book__descr">
    Чтобы закодировать видеоинформацию, нужно закодировать звук, закодировать изображение, которое изменяется, и&nbsp;соединить их&nbsp;так, чтобы звук и&nbsp;изображение совпадали.
  </p>

</div>
