<hr>
<div class="book__content">
  <p class="book__descr book__descr-tbold">
    8. Найдите в&nbsp;тексте ответы на&nbsp;вопросы.
  </p>
  <ol class="book__lits">
    <li class="book__lit">
      Какую задачу изучает теоретическая информатика?
    </li>
    <li class="book__lit">
      Что важно знать при работе с&nbsp;данными на&nbsp;компьютере?
    </li>
    <li class="book__lit">
      Как определить количество информации, если использовать объёмный подход?
    </li>
    <li class="book__lit">
      Что такое двоичные цифры?
    </li>
    <li class="book__lit">
      Что такое бит?
    </li>
    <li class="book__lit">
      Какое количество информации может хранить только два состояния?
    </li>
    <li class="book__lit">
      Как связаны количество вариантов&nbsp;N и&nbsp;количество битов информации I?
    </li>
    <li class="book__lit">
      Как определить количество информации, если использовать алфавитный подход?
    </li>
    <li class="book__lit">
      Что такое байт?
    </li>
    <li class="book__lit">
      Какие есть крупные единицы количества информации?
    </li>
    <li class="book__lit">
      Что такое кодирование?
    </li>
    <li class="book__lit">
      Что такое код?
    </li>
    <li class="book__lit">
      Что такое декодирование?
    </li>
    <li class="book__lit">
      На&nbsp;какие группы можно разделить коды?
    </li>
    <li class="book__lit">
      Чем отличаются равномерные и&nbsp;неравномерные коды?
    </li>
    <li class="book__lit">
      Что такое двоичное кодирование?
    </li>
    <li class="book__lit">
      Как определить длину кода при равномерном кодировании?
    </li>
    <li class="book__lit">
      Что используют для кодирования числовой информации?
    </li>
    <li class="book__lit">
      Что используют для кодирования текстовой информации?
    </li>
    <li class="book__lit">
      Какие методы используют для кодирования графической информации?
    </li>
    <li class="book__lit">
      Какие устройства используют для кодирования звуковой информации?
    </li>
    <li class="book__lit">
      Что нужно сделать, чтобы закодировать видеоинформацию?
    </li>
  </ol>

  <p class="book__descr book__descr-tbold">
    9. Закончите предложения.
  </p>
  <ol class="book__lits">
    <li class="book__lit">
      Измерение информации&nbsp;&mdash; это ... .
    </li>
    <li class="book__lit">
      Бит&nbsp;&mdash; это ... .
    </li>
    <li class="book__lit">
      Байт&nbsp;&mdash; это ... .
    </li>
    <li class="book__lit">
      Код&nbsp;&mdash; это ... .
    </li>
    <li class="book__lit">
      Кодирование&nbsp;&mdash; это ... .
    </li>
    <li class="book__lit">
      Декодирование&nbsp;&mdash; это ... .
    </li>
    <li class="book__lit">
      Двоичное кодирование&nbsp;&mdash; это ... .
    </li>
  </ol>

  <p class="book__descr book__descr-tbold">
    10. Вставьте вместо точек глаголы, данные под чертой, в&nbsp;нужной форме.
  </p>
  <ol class="book__lits">
    <li class="book__lit">
      Измерение информации&nbsp;&mdash; это задача, которую ... теоретическая информатика.
    </li>
    <li class="book__lit">
      Чтобы ... данные в&nbsp;виде, удобном для обработки на&nbsp;компьютере, ... цифры 0&nbsp;и&nbsp;1.
    </li>
    <li class="book__lit">
      Для больших объёмов информации ... единицы количества информации, которые больше, чем бит.
    </li>
    <li class="book__lit">
      Код&nbsp;&mdash; это правило, по&nbsp;которому ... кодирование информации.
    </li>
    <li class="book__lit">
      При равномерном кодировании коды всех символов алфавита ... одинаковую длину.
    </li>
    <li class="book__lit">
      Для кодирования звуковой информации ... устройства, которые ... звук в&nbsp;двоичный код.
    </li>
    <li class="book__lit">
      Чтобы определить длину двоичного кода, нужно ... формулу Хартли.
    </li>
    <li class="book__lit">
      Чтобы информацию было удобно ... на&nbsp;компьютере, информацию нужно ... .
    </li>
  </ol>
  <table class="table table__words">
    <tbody>
      <tr class="table__row">
        <td class="table__cell-border">Изучать, записать, использовать, выполнять, иметь, преобразовать, обрабатывать, закодировать.</td>
      </tr>
    </tbody>
  </table>

  <p class="book__descr book__descr-tbold">
    11. Выполните перевод единиц количества информации:
  </p>
  <table class="table table__words">
    <tbody>
      <tr class="table__row">
        <td>5&nbsp;байт = _________ бит </td>
        <td>205&nbsp;байт = ________ бит </td>
        <td>2405&nbsp;бит = ________ байт </td>
      </tr>
      <tr class="table__row">
        <td>5&nbsp;Кбайт = ________ байт	</td>
        <td>12&nbsp;Кбайт = ______ байт	 </td>
        <td>1&nbsp;Кбайт = ________ бит  </td>
      </tr>
      <tr class="table__row">
        <td>2560&nbsp;байт = ______ Кбайт		</td>
        <td>73728&nbsp;бит = _____ Кбайт</td>
        <td>6&nbsp;Мбайт = ________ Кбайт</td>
      </tr>
      <tr class="table__row">
        <td>1600&nbsp;бит = _______ байт	</td>
        <td>0,5&nbsp;Кбайт = ______ бит	</td>
        <td>1,5&nbsp;Мбайт = _______ Кбайт</td>
      </tr>
      <tr class="table__row">
        <td>0,5&nbsp;Мбайт =_______ байт	</td>
        <td>0,5&nbsp;Гбайт = ______ Кбайт	</td>
        <td>7,5&nbsp;Кбайт = _______ бит</td>
      </tr>
    </tbody>
  </table>

  <p class="book__descr book__descr-tbold">
    12. Решите задачи.
  </p>
  <ol class="book__lits">
    <li class="book__lit">
      Для кодирования сообщений используют знаки &laquo;+&raquo; и &laquo;*&raquo;. Сколько можно закодировать сообщений длиной 5&nbsp;знаков?
    </li>
    <li class="book__lit">
      Для передачи сообщений Миша и&nbsp;Ваня используют таблицу. В&nbsp;каждую ячейку таблицы они ставят знаки &laquo;Х&raquo; и&nbsp;&laquo;0&raquo;. Всего ребята могут закодировать 512&nbsp;сообщений. Сколько ячеек должно быть в&nbsp;таблице?
    </li>
    <li class="book__lit">
      В&nbsp;некотором устройстве для хранения одного целого числа используют 12&nbsp;битов. Сколько разных целых чисел можно закодировать для хранения на&nbsp;таком устройстве?
    </li>
    <li class="book__lit">
      Какое самое маленькое число битов нужно, чтобы закодировать одно число, если известно, что это число меньше, чем 60?
    </li>
    <li class="book__lit">
      Какой длины должен быть двоичный код, чтобы им&nbsp;можно было закодировать показания термометра? Значения температуры&nbsp;&mdash; это целые числа от &mdash;30 до&nbsp;45.
    </li>
  </ol>

  <p class="book__descr book__descr-tbold">
    13. Составьте план текста и&nbsp;расскажите текст по&nbsp;плану.
  </p>

  <p class="book__descr book__descr-tbold">
    14. Прочитайте тексты про учёных. Найдите в&nbsp;текстах ответы на&nbsp;вопросы и&nbsp;запишите их&nbsp;в&nbsp;тетрадь.
  </p>
  <ol class="book__lits">
    <li class="book__lit">
      Инженер, криптоаналитик и&nbsp;математик Клод Элвуд Шеннон.
    </li>
    <li class="book__lit">
      Учёный-электронщик, изобретатель Ральф Хартли.
    </li>
    <li class="book__lit">
      Изобретатель и&nbsp;художник Сэмюэл Морзе.
    </li>
  </ol>
  <p class="book__descr">
    Вопросы:
  </p>
  <ol class="book__lits">
    <li class="book__lit">
      Где и&nbsp;когда родился учёный?
    </li>
    <li class="book__lit">
      Где учился, что изучал?
    </li>
    <li class="book__lit">
      Где работал, чем занимался?
    </li>
    <li class="book__lit">
      Какие важные для информатики открытия сделал?
    </li>
    <li class="book__lit">
      Когда умер?
    </li>
  </ol>

  <p class="book__descr book__descr-tbold">
    15. Подготовьте сообщения на&nbsp;следующие темы:
  </p>
  <ol class="book__lits">
    <li class="book__lit">
      Двоичное кодирование числовой информации.
    </li>
    <li class="book__lit">
      Кодовые таблицы ASCII и&nbsp;UNICODE.
    </li>
    <li class="book__lit">
      Растровое кодирование.
    </li>
    <li class="book__lit">
      Векторное кодирование.
    </li>
  </ol>
  <p class="book__descr">
    Для сообщений используйте тексты для дополнительного чтения и&nbsp;план:
  </p>
  <ol class="book__lits">
    <li class="book__lit">
      Определение понятий.
    </li>
    <li class="book__lit">
      Описание правил кодирования.
    </li>
    <li class="book__lit">
      Примеры кодирования.
    </li>
  </ol>

</div>
