<div class="book__content">
  <br>
  <p class="book__descr">
    <i>Растровая графика</i>&nbsp;&mdash; это вид компьютерной графики, где описание графического изображения задаётся с&nbsp;помощью таблицы пикселей. В&nbsp;этой таблице сохраняется номер цвета каждого пикселя.
  </p>
  <p class="book__descr">
    <i>Пиксель</i> (англ. <i>pixel</i>, <i>picture element</i>)&nbsp;&mdash; это минимальный элемент рисунка, который имеет свой цвет.
  </p>
  <p class="book__descr">
    Рисунок на&nbsp;бумаге&nbsp;&mdash; это пример непрерывной информации. Чтобы закодировать такую информацию, её&nbsp;нужно разделить на&nbsp;части. Для этого на&nbsp;рисунок накладывают сетку&nbsp;&mdash; растр. Чем больше сделать ячеек сетки, тем лучше будет закодированное изображение.
  </p>
  <p class="book__descr">
    Для кодирования цвета одного пикселя используется двоичное число. Для кодирования двух цветов достаточно 1&nbsp;бита. Например, белый цвет&nbsp;&mdash; 0, чёрный цвет&nbsp;&mdash; 1&nbsp;(рис.&nbsp;5).
  </p>
  <p class="book__descr">
    Для кодирования цветных изображений использую цветовые модели, в&nbsp;которых каждый цвет раскладывают на&nbsp;составляющие. Например, в&nbsp;модели RGB (рис.&nbsp;6) каждый цвет раскладывают на&nbsp;три составляющие&nbsp;&mdash; красный (англ. <i>red</i>), зелёный (англ. <i>green</i>), синий (англ. <i>blue</i>). И&nbsp;яркость каждой составляющей изменяется от&nbsp;0&nbsp;до&nbsp;255.
  </p>

  <figure class="book__figure book__figure-text">
    <img class="book__img book__img-text" loading="lazy" src="./img/part-4/pic-4-8.jpg" alt="Кодирование">
    <figcaption>Рисунок&nbsp;5. Кодирование чёрно-белого рисунка</figcaption>
  </figure>

  <figure class="book__figure book__figure-text">
    <img class="book__img book__img-text" loading="lazy" src="./img/part-4/pic-4-9.jpg" alt="RGB">
    <figcaption>Рисунок&nbsp;6. Цветовой куб RGB</figcaption>
  </figure>

  <p class="book__descr">
    Кодирование с&nbsp;помощью модели RGB лучше всего описывает цвет, который излучается устройством, например, экраном монитора. А&nbsp;для печати изображений используют цветовую модель CMYK (рис.&nbsp;7). В&nbsp;этой модели каждый цвет раскладывают на&nbsp;четыре цвета&nbsp;&mdash; голубой (англ. <i>cyan</i>), пурпурный (англ. <i>magenta</i>), жёлтый (англ. <i>yellow</i>) и&nbsp;чёрный (англ. <i>black</i>).
  </p>

  <figure class="book__figure book__figure-text">
    <img class="book__img book__img-text" loading="lazy" src="./img/part-4/pic-4-10.jpg" alt="RGB-CMYK">
    <figcaption>Рисунок&nbsp;7. Цветовые модели RGB и&nbsp;CMYK</figcaption>
  </figure>

  <p class="book__descr">
    Существуют и&nbsp;другие модели для кодирования информации о&nbsp;цвете пикселя.
  </p>
  <p class="book__descr">
    Плюсы растрового кодирования&nbsp;&mdash; можно закодировать любое изображение, даже изображения, которые не&nbsp;имеют чётких границ (размытые).
  </p>
  <p class="book__descr">
    Минусы растрового кодирования&nbsp;&mdash; потеря качества при наложении растра и&nbsp;при изменении размеров изображения, большой размер графического файла.
  </p>

</div>
