<hr>
<div class="book__content">
  <p class="book__descr book__descr-tbold">
    2. Сгруппируйте однокоренные слова.
  </p>
  <p class="book__descr">
    Измерять, объём, расширение, код, растр, вычисление, определение, вектор, изображение, письмо, расширять, запись, измерить, измерение, определить, вычислить, измеренный, изобразить, объёмный, кодовый, расширенный, электричество, записывать, кодирование, определённый, закодировать, декодировать, декодирование, закодированный, растровый, шире, векторный, изображать, кодировать, электрический, записать, записанный, вычислять, определять, расширить, изображаемый, вычисленный, широкий.
  </p>

  <p class="book__descr book__descr-tbold">
    3. Образуйте существительные от&nbsp;данных глаголов по&nbsp;образцу.
  </p>
  <p class="book__descr">
    А) <i>Образец</i>: выполнить&nbsp;&mdash; выполн<b>ение</b>
  </p>
  <p class="book__descr">
    Измерить, определить, хранить, изобразить (з//ж), представить (в//вл), расширить, соединить, разделить, изучить, сообщить, изменить.
  </p>
  <p class="book__descr">
    Б) <i>Образец</i>: указать&nbsp;&mdash; указ<b>ание</b>
  </p>
  <p class="book__descr">
    Кодировать, преобразовать, декодировать, использовать.
  </p>

  <p class="book__descr book__descr-tbold">
    4. Образуйте прилагательные от данных существительных по&nbsp;образцу.
  </p>
  <p class="book__descr">
    А) <i>Образец</i>: смысл&nbsp;&mdash; смысл<b>овой</b>
  </p>
  <p class="book__descr">
    Число, звук, цифра, код, байт, растр.
  </p>
  <p class="book__descr">
    Б) <i>Образец</i>: система&nbsp;&mdash; систем<b>ный</b>
  </p>
  <p class="book__descr">
    Компьютер, вектор, объём, алфавит.
  </p>

  <p class="book__descr book__descr-tbold">
    5. Подберите существительные к&nbsp;прилагательным. Укажите, где возможно, варианты. Поставьте прилагательные в&nbsp;правильной форме.
  </p>
  <table class="table table__words">
    <tbody>
      <tr class="table__row">
        <td class="table__cell-middle">
          <p class="book__descr">
            векторный
          </p>
          <p class="book__descr">
            объёмный
          </p>
          <p class="book__descr">
            кодовый
          </p>
          <p class="book__descr">
            графический
          </p>
          <p class="book__descr">
            двоичный
          </p>
          <p class="book__descr">
            равномерный
          </p>
          <p class="book__descr">
            алфавитный
          </p>
          <p class="book__descr">
            числовой
          </p>
          <p class="book__descr">
            растровый
          </p>
          <p class="book__descr">
            электрический
          </p>
          <p class="book__descr">
            текстовый
          </p>
          <p class="book__descr">
            неравномерный
          </p>
        </td>
        <td class="table__cell-middle">
          <p class="book__descr">
            подход
          </p>
          <p class="book__descr">
            код
          </p>
          <p class="book__descr">
            кодирование
          </p>
          <p class="book__descr">
            информация
          </p>
          <p class="book__descr">
            таблица
          </p>
          <p class="book__descr">
            ток
          </p>
        </td>
      </tr>
    </tbody>
  </table>

  <p class="book__descr book__descr-tbold">
    6. Преобразуйте словосочетания по&nbsp;образцу.
  </p>
  <p class="book__descr">
    <i>Образец</i>: выполнить действие (4)&nbsp;&mdash; выполнение действия (2)
  </p>
  <p class="book__descr">
    Измерить информацию, определить количество информации, использовать специальные стандарты, кодировать информацию, декодировать информацию, соединить изображения, определить длину, выполнять кодирование, преобразовать звук.
  </p>

</div>
