<hr>
<div class="book__content">
  <p class="book__descr">
    <b>1. Прочитайте слова и&nbsp;словосочетания, переведите, запомните их&nbsp;значения.</b>
  </p>

  <table class="table table__words">
    <tbody>
      <tr class="table__row">
        <td>Измеря&#769;ть&nbsp;I, измер&#769;ить&nbsp;II (что?)</td>
        <td>Изме&#769;рить коли&#769;чество информа&#769;ции</td>
      </tr>
      <tr class="table__row">
        <td>Измере&#769;ние (сущ., ср.р.)</td>
        <td>Измере&#769;ние информа&#769;ции</td>
      </tr>
      <tr class="table__row">
        <td>Объём</td>
        <td>Объём па&#769;мяти</td>
      </tr>
      <tr class="table__row">
        <td>Объёмный, -ая, -ое, -ые</td>
        <td>Объёмный подхо&#769;д</td>
      </tr>
      <tr class="table__row">
        <td>Двои&#769;чный, -ая, -ое, -ые</td>
        <td>
          <p class="table__cell">Двои&#769;чные ци&#769;фры</p>
          <p class="table__cell">Двои&#769;чная систе&#769;ма счисле&#769;ния</p>
        </td>
      </tr>
      <tr class="table__row">
        <td>Алфави&#769;т	</td>
        <td>Алфави&#769;т языка&#769;</td>
      </tr>
      <tr class="table__row">
        <td>Алфави&#769;тный, -ая, -ое, -ые</td>
        <td>Алфави&#769;тный подхо&#769;д</td>
      </tr>
      <tr class="table__row">
        <td>Бит</td>
        <td> </td>
      </tr>
      <tr class="table__row">
        <td>Байт</td>
        <td> </td>
      </tr>
      <tr class="table__row">
        <td></td>
        <td></td>
      </tr>
      <tr class="table__row">
        <td>Код</td>
        <td>Двои&#769;чный код</td>
      </tr>
      <tr class="table__row">
        <td>Ко&#769;довый, -ая, -ое, -ые</td>
        <td>Ко&#769;довая табли&#769;ца</td>
      </tr>
      <tr class="table__row">
        <td>Коди&#769;ровать, закоди&#769;ровать&nbsp;I (что?)</td>
        <td>Закоди&#769;ровать информа&#769;цию</td>
      </tr>
      <tr class="table__row">
        <td>Коди&#769;рование (сущ., ср.р.)</td>
        <td>
          <p class="table__cell">Коди&#769;рование информа&#769;ции</p>
          <p class="table__cell">Двои&#769;чное коди&#769;рование</p>
          <p class="table__cell">Пра&#769;вила коди&#769;рования</p>
          <p class="table__cell">Станда&#769;рт коди&#769;рования</p>
          <p class="table__cell">Ме&#769;тод коди&#769;рования</p>
        </td>
      </tr>
      <tr class="table__row">
        <td>Декоди&#769;ровать&nbsp;I (что?)</td>
        <td>Декоди&#769;ровать сообще&#769;ние</td>
      </tr>
      <tr class="table__row">
        <td>Декоди&#769;рование (сущ., ср.р.)</td>
        <td>Декоди&#769;рование информа&#769;ции</td>
      </tr>
      <tr class="table__row">
        <td>Равноме&#769;рный, -ая, -ое, -ые</td>
        <td>Равноме&#769;рное коди&#769;рование</td>
      </tr>
      <tr class="table__row">
        <td>Расширя&#769;ть&nbsp;I, расши&#769;рить&nbsp;II (что?)</td>
        <td>Расши&#769;рить ко&#769;довую табли&#769;цу</td>
      </tr>
      <tr class="table__row">
        <td>Расшире&#769;ние (сущ., ср.р.)</td>
        <td>Расшире&#769;ние ко&#769;довой табли&#769;цы</td>
      </tr>
      <tr class="table__row">
        <td>Растр</td>
        <td> </td>
      </tr>
      <tr class="table__row">
        <td>Ра&#769;стровый, -ая, -ое, -ые</td>
        <td>Ра&#769;стровое коди&#769;рование</td>
      </tr>
      <tr class="table__row">
        <td>Ве&#769;ктор</td>
        <td></td>
      </tr>
      <tr class="table__row">
        <td>Ве&#769;кторный, -ая, -ое, -ые</td>
        <td>Ве&#769;кторное коди&#769;рование</td>
      </tr>
      <tr class="table__row">
        <td>Электри&#769;чество (сущ., ср.р.)</td>
        <td></td>
      </tr>
      <tr class="table__row">
        <td>Электри&#769;ческий, -ая, -ое, -ие</td>
        <td>Электри&#769;ческий сигна&#769;л</td>
      </tr>
      <tr class="table__row">
        <td>Изобража&#769;ть&nbsp;I, изобраз&#769;ить&nbsp;II (что?)</td>
        <td> </td>
      </tr>
      <tr class="table__row">
        <td>Изображе&#769;ние (сущ., ср.р.)</td>
        <td> </td>
      </tr>
    </tbody>
  </table>

</div>
