<hr>
<div class="book__content">
  <p class="book__descr book__descr-tbold">
    8. Прочитайте текст.
  </p>

  <p class="book__descr">
    Во&nbsp;все времена человеку нужно было искать записи, книги в&nbsp;библиотеках, сохранять новые знания и&nbsp;передавать их&nbsp;следующим поколениям, прятать секреты от&nbsp;чужих. Другими словами, человек всё время должен был собирать, хранить, обрабатывать и&nbsp;передавать информацию. В&nbsp;конце XIX века появилось научное направление, в&nbsp;котором стали изучать информацию в&nbsp;виде документов,&nbsp;&mdash; <i>information science</i> (англ.)&nbsp;&mdash; наука об&nbsp;информации.
  </p>
  <p class="book__descr">
    Компьютеры позволили людям быстро работать с&nbsp;информацией. В&nbsp;1957 году впервые появилось понятие &laquo;информатика&raquo; как объединение слов &laquo;информация&raquo; и&nbsp;&laquo;автоматика&raquo;. Самостоятельной наукой информатика стала в&nbsp;70-х годах XX&nbsp;века.
  </p>
  <p class="book__descr">
    Современная <i>информатика</i>&nbsp;&mdash; это наука, которая изучает теорию и&nbsp;практику обработки информации с&nbsp;помощью компьютерных систем. В&nbsp;информатике можно выделить 5&nbsp;основных разделов:
  </p>

  <ul class="book__lits">
    <li class="book__lit">
      теоретическая информатика изучает теорию информации, теорию кодирования, математическую логику, теорию автоматов;
    </li>
    <li class="book__lit">
      вычислительная техника изучает устройство компьютеров и&nbsp;компьютерных систем;
    </li>
    <li class="book__lit">
      алгоритмизация и&nbsp;программирование изучают создание алгоритмов и&nbsp;программ;
    </li>
    <li class="book__lit">
      прикладная информатика изучает персональные компьютеры, прикладные программы, информационные системы;
    </li>
    <li class="book__lit">
      искусственный интеллект изучает машинный перевод, понимание речи, алгоритмы самообучения.
    </li>
  </ul>

  <p class="book__descr">
    Информатика&nbsp;&mdash; достаточно молодая, развивающаяся наука. Основное понятие информатики&nbsp;&mdash; информация.
  </p>
  <p class="book__descr">
    <i>Информация</i> (от&nbsp;лат. <i>informatio</i>)&nbsp;&mdash; сведения, данные об&nbsp;окружающем мире и&nbsp;о&nbsp;нас.
  </p>
  <p class="book__descr">
    Информация не&nbsp;имеет формы, размеров, массы. Информация нематериальна.
  </p>
  <p class="book__descr">
    Информация характеризует разнообразие в&nbsp;окружающем мире. Новая информация увеличивает знания и&nbsp;уменьшает неопределённость этих знаний.
  </p>
  <p class="book__descr">
    Человек получает информацию из&nbsp;различных источников. Для получения информации человек использует органы чувств&nbsp;&mdash; глаза, уши, нос, язык, кожу. По&nbsp;способу получения информацию можно разделить на&nbsp;следующие виды:
  </p>

  <ul class="book__lits">
    <li class="book__lit">
      <i>зрительная</i> (визуальная) информация&nbsp;&mdash; информация, которую человек видит;
    </li>
    <li class="book__lit">
      <i>звуковая</i> (аудиальная) информация&nbsp;&mdash; информация, которую человек слышит;
    </li>
    <li class="book__lit">
      <i>обонятельная</i> информация&nbsp;&mdash; информация, которую человек получает, когда чувствует запах;
    </li>
    <li class="book__lit">
      <i>вкусовая</i> информация&nbsp;&mdash; информация, которую человек получает, когда пробует языком;
    </li>
    <li class="book__lit">
      <i>осязательная</i> (тактильная) информация&nbsp;&mdash; информация, которую человек получает, когда трогает предмет.
    </li>
  </ul>

  <p class="book__descr">
    Информацию можно представить в&nbsp;разных формах, чтобы сохранить и&nbsp;потом использовать. Основные формы представления информации:
  </p>

  <ul class="book__lits">
    <li class="book__lit">
      <i>текстовая информация</i>&nbsp;&mdash; набор символов (знаков);
    </li>
    <li class="book__lit">
      <i>числовая информация</i>&nbsp;&mdash; информация, с&nbsp;которой можно выполнять математические операции;
    </li>
    <li class="book__lit">
      <i>графическая информация</i>&nbsp;&mdash; рисунки, чертежи, фотографии, карты;
    </li>
    <li class="book__lit">
      <i>звуковая информация</i>&nbsp;&mdash; голос, музыка, шум;
    </li>
    <li class="book__lit">
      <i>видеоинформация</i>.
    </li>
  </ul>

  <p class="book__descr">
    Если объединить несколько форм представления информации, то&nbsp;получается мультимедийная информация.
  </p>


</div>
