<div class="book__content">
  <br>
  <figure class="book__figure book__figure-text">
      <img class="book__img book__img-text" loading="lazy" src="./img/part-4/pic-4-3.jpg" alt="Морзе">
  </figure>

  <p class="book__descr book__title">
    Сэ&#769;мюэл Фи&#769;нли Бриз Мо&#769;рзе
  </p>
  <p class="book__descr book__title">
    (26.04.1791&nbsp;&mdash; 2.04.1872)
  </p>
  <p class="book__descr">
    Изобретатель и&nbsp;художник Сэмюэл Морзе родился в&nbsp;городе штата Массачусетс в&nbsp;богатой семье. Морзе увлекался живописью, изучал в&nbsp;Англии искусство в&nbsp;Королевской академии художеств.
  </p>
  <p class="book__descr">
    В&nbsp;1825 году Морзе основал в&nbsp;Нью-Йорке Национальную академию дизайна. В&nbsp;1835 году стал профессором начертательных искусств. После знакомства с&nbsp;описанием модели телеграфа Вильгельма Вебера Сэмюэл стал заниматься изобретениями.
  </p>
  <p class="book__descr">
    Он&nbsp;интересовался открытиями в&nbsp;области электричества. И&nbsp;в&nbsp;1837 году продемонстрировал проволочный телеграф, который мог отправлять и&nbsp;принимать сообщения. А&nbsp;в&nbsp;1838 году совместно с&nbsp;Альфредом Вейлом разработал систему передачи букв точками и&nbsp;тире. В&nbsp;настоящее время этот способ записи сообщений называют азбукой (кодом) Морзе. Первая удачная демонстрация азбуки Морзе прошла в&nbsp;1844 году&nbsp;&mdash; из&nbsp;Вашингтона в&nbsp;Балтимор передали первое сообщение.
  </p>
  <p class="book__descr">
    В&nbsp;основе азбуки Морзе лежат три элемента&nbsp;&mdash; точка, тире и&nbsp;пауза. Например, А&nbsp;&mdash; &laquo;точка-тире&raquo; (&middot;&minus;), Б&nbsp;&mdash; &laquo;тире-точка-точка-точка&raquo; (&minus;&middot;&middot;&middot;). Код Морзе&nbsp;&mdash; это пример неравномерного кода. В&nbsp;нём коды разных символов могут иметь разную длину.
  </p>
  <p class="book__descr">
    Азбука Морзе используется и&nbsp;в&nbsp;современном мире, например, когда необходимо передать зашифрованное сообщение.
  </p>

</div>
