<hr>
<div class="book__content">
  <p class="book__descr book__descr-tbold">
    8. Найдите в&nbsp;тексте ответы на&nbsp;вопросы.
  </p>
  <ol class="book__lits">
    <li class="book__lit">
      Что такое программное обеспечение компьютера?
    </li>
    <li class="book__lit">
      Зачем нужно программное обеспечение компьютера?
    </li>
    <li class="book__lit">
      На&nbsp;какие группы можно разделить программное обеспечение компьютера?
    </li>
    <li class="book__lit">
      На&nbsp;какие группы можно разделит всех людей, кто работает с&nbsp;компьютерами?
    </li>
    <li class="book__lit">
      Какие программы используют пользователи? Зачем? Приведите примеры.
    </li>
    <li class="book__lit">
      Какие программы используют программисты? Зачем? Приведите примеры.
    </li>
    <li class="book__lit">
      Что делают системные администраторы?
    </li>
    <li class="book__lit">
      Что такое системное программное обеспечение?
    </li>
    <li class="book__lit">
      Какая задача системных программ?
    </li>
    <li class="book__lit">
      Что входит в&nbsp;состав системного программного обеспечения?
    </li>
    <li class="book__lit">
      Что такое интерфейс?
    </li>
    <li class="book__lit">
      Что такое жёсткий диск?
    </li>
    <li class="book__lit">
      Какие устройства имеют логическое имя?
    </li>
    <li class="book__lit">
      Из&nbsp;чего состоит логическое имя устройства в&nbsp;операционной системе Windows?
    </li>
    <li class="book__lit">
      Что такое файловая система?
    </li>
    <li class="book__lit">
      Какие основные объекты файловой системы?
    </li>
    <li class="book__lit">
      Что такое файл? Зачем нужен файл?
    </li>
    <li class="book__lit">
      Что такое каталог? Зачем нужны каталоги?
    </li>
    <li class="book__lit">
      Что такое имя любого вложенного каталога?
    </li>
    <li class="book__lit">
      Что такое полное имя файла? Из&nbsp;чего состоит полное имя файла?
    </li>
    <li class="book__lit">
      Какую часть полного имени файла даёт пользователь, а&nbsp;какую&nbsp;&mdash; программа?
    </li>
    <li class="book__lit">
      Какую информацию содержит каждая часть полного имени файла?
    </li>
  </ol>

  <p class="book__descr book__descr-tbold">
    9. Закончите предложения.
  </p>
  <ol class="book__lits">
    <li class="book__lit">
      Программное обеспечение&nbsp;&mdash; это ... .
    </li>
    <li class="book__lit">
      Прикладные программы&nbsp;&mdash; это ... .
    </li>
    <li class="book__lit">
      Логический диск&nbsp;&mdash; это ... .
    </li>
    <li class="book__lit">
      Логическое имя устройства внешней памяти&nbsp;&mdash; это ... .
    </li>
    <li class="book__lit">
      Файловая система&nbsp;&mdash; это ... .
    </li>
    <li class="book__lit">
      Файл&nbsp;&mdash; это ... .
    </li>
    <li class="book__lit">
      Каталог&nbsp;&mdash; это ... .
    </li>
    <li class="book__lit">
      Имя любого вложенного каталога&nbsp;&mdash; это ... .
    </li>
    <li class="book__lit">
      Полное имя файла&nbsp;&mdash; это ... .
    </li>
    <li class="book__lit">
      Короткое имя файла&nbsp;&mdash; это ... .
    </li>
    <li class="book__lit">
      Расширение&nbsp;&mdash; это ... .
    </li>
    <li class="book__lit">
      Вложенные каталоги&nbsp;&mdash; это ... .
    </li>
  </ol>

  <p class="book__descr book__descr-tbold">
    10. Вставьте вместо точек глаголы, данные под чертой, в&nbsp;нужной форме.
  </p>
  <ol class="book__lits">
    <li class="book__lit">
      Чтобы человек мог ... компьютер для решения задач, на&nbsp;компьютер нужно ... программное обеспечение.
    </li>
    <li class="book__lit">
      Всё программное обеспечение компьютера можно ... на&nbsp;три группы.
    </li>
    <li class="book__lit">
      Пользователи ... прикладные программы, чтобы решать свои задачи.
    </li>
    <li class="book__lit">
      Системные администраторы ... системное программное обеспечение.
    </li>
    <li class="book__lit">
      В&nbsp;состав системного программного обеспечения ... операционные системы, драйверы, утилиты.
    </li>
    <li class="book__lit">
      Большие жёсткие диски можно ... на&nbsp;логические диски.
    </li>
    <li class="book__lit">
      Файл&nbsp;&mdash; это информация, которая ... имя и ... во&nbsp;внешней памяти компьютера как один объект.
    </li>
    <li class="book__lit">
      Каталоги нужны, чтобы ... файлы на&nbsp;группы для удобной работы.
    </li>
    <li class="book__lit">
      Короткое имя файлу может ... пользователь, который ... файл.
    </li>
    <li class="book__lit">
      Расширение файлу ... программа, в&nbsp;которой пользователь ... файл.
    </li>
    <li class="book__lit">
      Операционная система по&nbsp;расширению ..., какую программу нужно ... для работы с&nbsp;данным файлом.
    </li>
  </ol>
  <table class="table table__words">
    <tbody>
      <tr class="table__row">
        <td class="table__cell-border">Использовать, создавать, установить, разделить, определять, входить, иметь, храниться, настраивать, давать, сохранять.</td>
      </tr>
    </tbody>
  </table>

  <p class="book__descr book__descr-tbold">
    11. Установите соответствие
  </p>
  <table class="table table__words">
    <tbody>
      <tr class="table__row">
        <td>
          <p class="table__cell">1. Имя файла</p>
          <p class="table__cell">2. Файл</p>
          <p class="table__cell">3. Корневой каталог </p>
          <p class="table__cell">4. Жёсткий диск </p>
          <p class="table__cell">5. Вложенный каталог</p>
        </td>
        <td>
          <p class="table__cell">A. Университет</p>
          <p class="table__cell">B. Факультет</p>
          <p class="table__cell">C. Группа</p>
          <p class="table__cell">D. Студент </p>
          <p class="table__cell">E. Имя студента</p>
        </td>
      </tr>
    </tbody>
  </table>

  <p class="book__descr book__descr-tbold">
    12. Заполните таблицу &laquo;Программное обеспечение компьютера&raquo;.
  </p>
  <table class="table table__words">
    <tbody>
      <tr class="table__row table__row-head">
        <td>Вид ПО</td>
        <td>Пример программ</td>
        <td>Кто использует ПО</td>
        <td>Зачем используют ПО</td>
      </tr>
      <tr class="table__row table__row-empty">
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>

  <p class="book__descr book__descr-tbold">
    13. Заполните таблицу &laquo;Типы файлов&raquo;.
  </p>
  <table class="table table__words">
    <tbody>
      <tr class="table__row table__row-head">
        <td>Тип файла</td>
        <td>Пример информации в&nbsp;файле</td>
        <td>Пример расширения файла</td>
        <td>Пример программы для работы с&nbsp;файлом</td>
      </tr>
      <tr class="table__row table__row-empty">
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>

  <p class="book__descr book__descr-tbold">
    14. Расскажите о&nbsp;программном обеспечении компьютера, используюя заполненную таблицу задания&nbsp;12.
  </p>

  <p class="book__descr book__descr-tbold">
    15. Расскажите о&nbsp;файловой системе компьютера, используя заполненную таблицу задания&nbsp;13.
  </p>

  <p class="book__descr book__descr-tbold">
    16. Расскажите, с&nbsp;какими программами на&nbsp;компьютере вы&nbsp;работаете. Объясните, для чего нужны эти программы. Предложения составьте по&nbsp;модели &laquo;Я&nbsp;использую программу ..., чтобы (когда) ...&raquo;.
  </p>
  <p class="book__descr">
    <i>Образец</i> &laquo;Я&nbsp;использую программу Paint, чтобы рисовать.&raquo;
  </p>

  <p class="book__descr book__descr-tbold">
    17. Выберите прикладную программу для компьютера и&nbsp;подготовьте презентацию об&nbsp;этой программе по&nbsp;плану:
  </p>
  <ol class="book__lits">
    <li class="book__lit">
      Название программы + фото главного окна программы.
    </li>
    <li class="book__lit">
      Зачем нужна программа? + фото примеров.
    </li>
    <li class="book__lit">
      Что можно делать в&nbsp;программе? + фото примеров работы в&nbsp;программе.
    </li>
    <li class="book__lit">
      Кто может использовать программу? Зачем? + фото примеров.
    </li>
    <li class="book__lit">
      Как, когда, для чего я&nbsp;могу использовать эту программу? + фото примеров.
    </li>
  </ol>

</div>
