<hr>
<div class="book__content">
  <p class="book__descr">
    <b>1. Прочитайте слова и&nbsp;словосочетания, переведите, запомните их&nbsp;значения.</b>
  </p>

  <table class="table table__words">
    <tbody>
      <tr class="table__row">
        <td>Проце&#769;сс</td>
        <td>Информацио&#769;нный проце&#769;сс</td>
      </tr>
      <tr class="table__row">
        <td>Сигна&#769;л</td>
        <td>Сигна&#769;л&nbsp;&mdash; это измене&#769;ние физи&#769;ческой величины&#769;</td>
      </tr>
      <tr class="table__row">
        <td>Сообща&#769;ть I, сообщ&#769;ить II (что?) </td>
        <td>Сообщи&#769;ть информа&#769;цию</td>
      </tr>
      <tr class="table__row">
        <td>Сообще&#769;ние (сущ., ср.р.)</td>
        <td>Сообще&#769;ние&nbsp;&mdash; это набо&#769;р сигна&#769;лов</td>
      </tr>
      <tr class="table__row">
        <td>Непреры&#769;вный, -ая, -ое, -ые</td>
        <td>Непреры&#769;вный сигна&#769;л</td>
      </tr>
      <tr class="table__row">
        <td>Дискре&#769;тный, -ая, -ое, -ые</td>
        <td>Дискре&#769;тный сигна&#769;л</td>
      </tr>
      <tr class="table__row">
        <td>Бесконе&#769;чный, -ая, -ое, -ые</td>
        <td>Бесконе&#769;чное число&#769; значе&#769;ний</td>
      </tr>
      <tr class="table__row">
        <td>Бесконе&#769;чно</td>
        <td>Бесконе&#769;чно мно&#769;го</td>
      </tr>
      <tr class="table__row">
        <td>Коне&#769;чный, -ая, -ое, -ые	</td>
        <td>Коне&#769;чное число&#769; значе&#769;ний</td>
      </tr>
      <tr class="table__row">
        <td>Сво&#769;йство, сво&#769;йства (мн.ч.)</td>
        <td>Сво&#769;йство информа&#769;ции</td>
      </tr>
      <tr class="table__row">
        <td>Поня&#769;тный, -ая, -ое, -ые</td>
        <td>Поня&#769;тная информа&#769;ция</td>
      </tr>
      <tr class="table__row">
        <td>Поня&#769;тность (ж.р.)</td>
        <td>Поня&#769;тность информа&#769;ции</td>
      </tr>
      <tr class="table__row">
        <td>Объекти&#769;вный, -ая, -ое, -ые</td>
        <td>Объекти&#769;вная информа&#769;ция</td>
      </tr>
      <tr class="table__row">
        <td>Объекти&#769;вность (ж.р.)</td>
        <td>Объекти&#769;вность информа&#769;ции</td>
      </tr>
      <tr class="table__row">
        <td>Достове&#769;рный, -ая, -ое, -ые</td>
        <td>Достове&#769;рная информа&#769;ция</td>
      </tr>
      <tr class="table__row">
        <td>Достове&#769;рность (ж.р.)</td>
        <td>Достове&#769;рность информа&#769;ции</td>
      </tr>
      <tr class="table__row">
        <td>Актуа&#769;льный, -ая, -ое, -ые</td>
        <td>Актуа&#769;льная информа&#769;ция</td>
      </tr>
      <tr class="table__row">
        <td>Актуа&#769;льность (ж.р.)</td>
        <td>Актуа&#769;льность информа&#769;ции</td>
      </tr>
      <tr class="table__row">
        <td>По&#769;лный, -ая, -ое, -ые</td>
        <td>По&#769;лная информа&#769;ция</td>
      </tr>
      <tr class="table__row">
        <td>Полнота&#769;</td>
        <td>Полнота&#769; информа&#769;ции</td>
      </tr>
      <tr class="table__row">
        <td>Поле&#769;зный, -ая, -ое, -ые</td>
        <td>Поле&#769;зная информа&#769;ция</td>
      </tr>
      <tr class="table__row">
        <td>Поле&#769;зность (ж.р.)</td>
        <td>Поле&#769;зность информа&#769;ции</td>
      </tr>
      <tr class="table__row">
        <td>Да&#769;нные (сущ., мн.ч.)</td>
        <td> </td>
      </tr>
      <tr class="table__row">
        <td>Получа&#769;тель (м.р.)</td>
        <td>Получа&#769;тель информа&#769;ции</td>
      </tr>
      <tr class="table__row">
        <td>Принимат&#769;ь, приня&#769;ть I (что?)</td>
        <td>
          <p class="table__cell">Принима&#769;ть информа&#769;цию</p>
          <p class="table__cell">Принима&#769;ть реше&#769;ние</p>
        </td>
      </tr>
      <tr class="table__row">
        <td>Изменя&#769;ть I, измени&#769;ть II (что?)	</td>
        <td>Измени&#769;ть содержа&#769;ние информа&#769;ции</td>
      </tr>
      <tr class="table__row">
        <td>Измене&#769;ние (сущ., ср.р.)</td>
        <td>Измене&#769;ние фо&#769;рмы представле&#769;ния информа&#769;ции</td>
      </tr>
      <tr class="table__row">
        <td>Нести&#769; I, носи&#769;ть II (что?)	</td>
        <td>
          <p class="table__cell">Нести&#769; кни&#769;ги</p>
          <p class="table__cell">Носи&#769;ть оде&#769;жду</p>
        </td>
      </tr>
      <tr class="table__row">
        <td>Носи&#769;тель (м.р.)</td>
        <td>Носи&#769;тель информа&#769;ции</td>
      </tr>
    </tbody>
  </table>

</div>
