<hr>
<div class="book__content">
  <p class="book__descr book__descr-tbold">
    6. Прочитайте текст.
  </p>

  <p class="book__descr">
    Человек получает информацию из&nbsp;различных источников. Например, речь человека, текст в&nbsp;книге, звуки природы, показания приборов содержат различную информацию. Любой объект может быть источником информации о&nbsp;различных процессах.
  </p>
  <p class="book__descr">
    Человек получает информацию в&nbsp;виде сигналов. <i>Сигнал</i>&nbsp;&mdash; это изменения физических величин, например, температуры, цвета, давления и&nbsp;других.
  </p>
  <p class="book__descr">
    <i>Информация для человека</i>&nbsp;&mdash; это содержание сигналов, то&nbsp;есть сообщения. Человек принимает эти сигналы сам или с&nbsp;помощью приборов. Наборы сигналов (сообщения) дают человеку новые знания об&nbsp;окружающем мире и&nbsp;процессах, которые происходят.
  </p>
  <p class="book__descr">
    Сигналы можно разделить на&nbsp;две группы&nbsp;&mdash; непрерывные и&nbsp;дискретные.
  </p>
  <p class="book__descr">
    Непрерывный сигнал принимает бесконечно много значений, и&nbsp;между значениями нет разрыва. Дискретный сигнал принимает конечное число значений. Всем значениям дискретного сигнала можно дать номера&nbsp;&mdash; целые числа.
  </p>
  <p class="book__descr">
    Человек в&nbsp;своей жизни в&nbsp;основном понимает и&nbsp;использует непрерывные сигналы. Например, скорость машины, температура воздуха, звуки природы и&nbsp;так далее. Некоторые дискретные сигналы человек тоже может понимать и&nbsp;использовать. Например, отметка за&nbsp;ответ на&nbsp;уроке может быть одной из&nbsp;четырёх&nbsp;&mdash; 2, 3, 4&nbsp;или&nbsp;5 (принимает одно из&nbsp;четырёх значений).
  </p>
  <p class="book__descr">
    Информация нужна человеку, чтобы принимать правильные решения. Понятная, объективная, достоверная, актуальная, полная и&nbsp;полезная информация помогает принимать правильные решения.
  </p>
  <p class="book__descr">
    Свойства информации:
  </p>

  <ul class="book__lits">
    <li class="book__lit">
      понятность. Информация представлена на&nbsp;языке, который понимает человек&nbsp;&mdash; получатель информации;
    </li>
    <li class="book__lit">
      объективность. Информация не&nbsp;зависит от&nbsp;мнения других людей;
    </li>
    <li class="book__lit">
      достоверность. Информация содержит правильные, верные сообщения;
    </li>
    <li class="book__lit">
      актуальность. Информация важна в&nbsp;настоящее время;
    </li>
    <li class="book__lit">
      полнота. Информации достаточно, чтобы решить задачу или проблему;
    </li>
    <li class="book__lit">
      полезность. Информацию можно использовать, чтобы решить задачу. Для разных задач нужна разная информация.
    </li>
  </ul>

  <p class="book__descr">
    Человек всё время работает с&nbsp;информацией и&nbsp;использует для работы различные устройства. Например, компьютер, смартфон. Устройства работают с&nbsp;данными.
  </p>
  <p class="book__descr">
    Данные&nbsp;&mdash; это информация, которую представили (записали) в&nbsp;виде, удобном для обработки с&nbsp;помощью устройств. Данные могут быть в&nbsp;виде текста, чисел, рисунков, звука, видео. Не&nbsp;все данные может понимать человек.
  </p>
  <p class="book__descr">
    Человек работает с&nbsp;информацией, выполняет информационные процессы.
  </p>
  <p class="book__descr">
    Информационные процессы&nbsp;&mdash; это процессы, которые связаны с&nbsp;изменениями информации, процессы, в&nbsp;которых используется информация.
  </p>
  <p class="book__descr">
    Виды информационных процессов:
  </p>

  <ul class="book__lits">
    <li class="book__lit">
      <i>сбор информации</i>. Чтобы решить любую задачу, сначала надо найти нужную информацию;
    </li>
    <li class="book__lit">
      <i>обработка информации</i>. При решении любой задачи человек думает&nbsp;&mdash; обрабатывает информацию, которую получил в&nbsp;данный момент. Во&nbsp;время обработки происходит изменение содержания или формы представления информации;
    </li>
    <li class="book__lit">
      <i>хранение информации</i>. Чтобы информацию можно было использовать и&nbsp;во&nbsp;время решения задачи, и&nbsp;в&nbsp;другое время, информацию нужно сохранить на&nbsp;носителе. Носитель&nbsp;&mdash; это предмет, на&nbsp;котором можно сохранить информацию, например, лист бумаги, флеш-память и&nbsp;другие;
    </li>
    <li class="book__lit">
      <i>передача информации</i>. Человек передаёт информацию до&nbsp;обработки и&nbsp;после обработки. Человек может передавать информацию сам или с&nbsp;помощью различных устройств.
    </li>
  </ul>

</div>
