<div class="book__content">
  <br>
  <p class="book__descr">
    <i>Векторная графика</i>&nbsp;&mdash; это вид компьютерной графики, где описание графического изображения задаётся с&nbsp;помощью геометрических фигур (графических примитивов). Каждая фигура имеет параметры&nbsp;&mdash; размеры, координаты вершин, углы наклона, цвет контура, заливка. Значения этих параметров сохраняются в&nbsp;виде чисел.
  </p>
  <p class="book__descr">
    Векторный рисунок можно разложить на&nbsp;части&nbsp;&mdash; отдельные фигуры, а&nbsp;потом сложить снова (рис.&nbsp;8). Для растрового рисунка такие действия выполнить нельзя.
  </p>

  <figure class="book__figure book__figure-text">
    <img class="book__img book__img-text" loading="lazy" src="./img/part-4/pic-4-11.jpg" alt="векторное кодирование">
    <figcaption>Рисунок&nbsp;8. Разложение векторного изображения на&nbsp;примитивы</figcaption>
  </figure>

  <p class="book__descr">
    Векторный рисунок&nbsp;&mdash; это своеобразная программа, по&nbsp;которой изображение можно построить на&nbsp;заданном устройстве вывода, использую параметры этого устройства.
  </p>
  <p class="book__descr">
    Плюсы векторного кодирования:
  </p>

  <ol class="book__lits">
    <li class="book__lit">
      если рисунок можно разложить на&nbsp;простейшие геометрические фигуры, то&nbsp;при кодировании нет потери информации;
    </li>
    <li class="book__lit">
      нет потери качества изображения при изменении размеров;
    </li>
    <li class="book__lit">
      чем меньше элементов, из&nbsp;которых состоит рисунок, тем меньше размер графического файла.
    </li>
  </ol>

  <p class="book__descr">
    Минус векторного кодирования&nbsp;&mdash; его нельзя использовать для кодирования изображения, которые не&nbsp;имеют чётких границ (например, фотографии).
  </p>

</div>
