<div class="book__content">
  <br>

  <p class="book__descr">
    Двоичное кодирование информации&nbsp;&mdash; это запись информации с&nbsp;помощью двух знаков. Для двоичного кодирования в&nbsp;компьютерах используют цифры 0&nbsp;и&nbsp;1.
  </p>
  <p class="book__descr">
    Чтобы записать двоичные числа, используют двоичную систему счисления.
  </p>
  <p class="book__descr">
    Система счисления&nbsp;&mdash; это правила записи чисел с&nbsp;помощью цифр и&nbsp;правила выполнения действий с&nbsp;такими числами.
  </p>
  <p class="book__descr">
    В&nbsp;математике используют 10&nbsp;цифр для записи чисел&nbsp;&mdash; это десятичная система. В&nbsp;компьютерах используют 2&nbsp;цифры для записи чисел&nbsp;&mdash; это двоичная система.
  </p>
  <p class="book__descr">
    Чтобы целое положительное число перевести из&nbsp;десятичной системы в&nbsp;двоичную, можно использовать разные методы.
  </p>
  <p class="book__descr">
    <i>Метод деления</i>. Исходное число нужно делить на&nbsp;2&nbsp;с остатком, пока не&nbsp;получится в&nbsp;частном 0. Затем выписать все остатки от&nbsp;деления в&nbsp;обратном порядке (от&nbsp;последнего к&nbsp;первому) (рис. 1а).
  </p>
  <p class="book__descr">
    <i>Табличный метод</i>. Нужно составить таблицу степеней числа 2&nbsp;от&nbsp;степени 0&nbsp;до&nbsp;той степени, значение которой не&nbsp;больше исходного числа. Затем выбрать те&nbsp;степени числа&nbsp;2, которые в&nbsp;сумме составляют исходное число (рис. 1б).
  </p>

  <figure class="book__figure book__figure-text">
      <img class="book__img book__img-text" loading="lazy" src="./img/part-4/pic-4-4-1.jpg" alt="Метод деления">
      <img class="book__img book__img-text" loading="lazy" src="./img/part-4/pic-4-4-2.jpg" alt="Табличный метод">
      <figcaption>Рисунок&nbsp;1. Перевод десятичного числа в&nbsp;двоичную систему: <br>а) метод деления;&nbsp;б) табличный метод</figcaption>
  </figure>

  <p class="book__descr">
    Для перевода двоичного числа в&nbsp;десятичную систему удобно использовать табличный метод. Для этого нужно составить таблицу степеней числа&nbsp;2, записать все цифры двоичного числа под значениями степеней и&nbsp;составить сумму из&nbsp;тех значений степеней, которым соответствует 1&nbsp;из&nbsp;записи двоичного числа (рис.&nbsp;2).
  </p>

  <figure class="book__figure book__figure-text">
      <img class="book__img book__img-text" loading="lazy" src="./img/part-4/pic-4-5.jpg" alt="перевод">
      <figcaption>Рисунок&nbsp;2. Перевод двоичного числа в&nbsp;десятичную систему</figcaption>
  </figure>

  <p class="book__descr">
    Для перевода дробных и&nbsp;отрицательных чисел используют другие правила.
  </p>

</div>
