<hr>
<div class="book__content">
  <p class="book__descr">
    <b>1. Прочитайте слова и&nbsp;словосочетания, переведите, запомните их&nbsp;значения.</b>
  </p>

  <table class="table table__words">
    <tbody>
      <tr class="table__row">
        <td>Информа&#769;тика</td>
        <td>Информа&#769;тика&nbsp;&mdash; это нау&#769;ка</td>
      </tr>
      <tr class="table__row">
        <td>Собира&#769;ть, собра&#769;ть I (что?)</td>
        <td>Собира&#769;ть информа&#769;цию</td>
      </tr>
      <tr class="table__row">
        <td>Сбор</td>
        <td>Сбор информа&#769;ции</td>
      </tr>
      <tr class="table__row">
        <td>Тео&#769;рия (сущ., ж.р.)</td>
        <td>Тео&#769;рия автома&#769;тов</td>
      </tr>
      <tr class="table__row">
        <td>Теорети&#769;ческий, -ая, -ое, -ие</td>
        <td>Теорети&#769;ческая информа&#769;тика</td>
      </tr>
      <tr class="table__row">
        <td>Пра&#769;ктика</td>
        <td> </td>
      </tr>
      <tr class="table__row">
        <td>Систе&#769;ма</td>
        <td>
          <p class="table__cell">Компью&#769;терная систе&#769;ма</p>
          <p class="table__cell">Информацио&#769;нная систе&#769;ма</p>
        </td>
      </tr>
      <tr class="table__row">
        <td>Те&#769;хника </td>
        <td>Вычисли&#769;тельная те&#769;хника </td>
      </tr>
      <tr class="table__row">
        <td>Алгори&#769;тм</td>
        <td> </td>
      </tr>
      <tr class="table__row">
        <td>Алгоритмиза&#769;ция (сущ., ж.р.)</td>
        <td> </td>
      </tr>
      <tr class="table__row">
        <td>Програ&#769;мма</td>
        <td> </td>
      </tr>
      <tr class="table__row">
        <td>Программи&#769;рование (сущ., ср.р.) </td>
        <td> </td>
      </tr>
      <tr class="table__row">
        <td>Интелле&#769;кт</td>
        <td>Иску&#769;сственный интелле&#769;кт</td>
      </tr>
      <tr class="table__row">
        <td>Перево&#769;д</td>
        <td>Маши&#769;нный перево&#769;д</td>
      </tr>
      <tr class="table__row">
        <td>Обуче&#769;ние (сущ., ср.р.)</td>
        <td> </td>
      </tr>
      <tr class="table__row">
        <td>Са&#769;мообуче&#769;ние (сущ., ср.р.) </td>
        <td> </td>
      </tr>
      <tr class="table__row">
        <td>Материа&#769;льный, -ая, -ое, -ые</td>
        <td> </td>
      </tr>
      <tr class="table__row">
        <td>Нематериа&#769;льный, -ая, -ое, -ые</td>
        <td> </td>
      </tr>
      <tr class="table__row">
        <td>Неопределённость (ж.р.)</td>
        <td>Неопределённость информа&#769;ции</td>
      </tr>
      <tr class="table__row">
        <td>Исто&#769;чник </td>
        <td>Исто&#769;чник информа&#769;ции </td>
      </tr>
      <tr class="table__row">
        <td>Получа&#769;ть I, получи&#769;ть II (что?)</td>
        <td>Получи&#769;ть информа&#769;цию</td>
      </tr>
      <tr class="table__row">
        <td>Чу&#769;вство</td>
        <td>Орга&#769;ны чувств</td>
      </tr>
      <tr class="table__row">
        <td>Фо&#769;рма</td>
        <td>Фо&#769;рма представле&#769;ния информа&#769;ции</td>
      </tr>
      <tr class="table__row">
        <td>Информа&#769;ция</td>
        <td>
          <p class="table__cell">Зри&#769;тельная информа&#769;ция</p>
          <p class="table__cell">Звукова&#769;я информа&#769;ция</p>
          <p class="table__cell">Обоня&#769;тельная информа&#769;ция</p>
          <p class="table__cell">Вкусова&#769;я информа&#769;ция</p>
          <p class="table__cell">Осяза&#769;тельная информа&#769;ция</p>
          <p class="table__cell">Те&#769;кстовая информа&#769;ция</p>
          <p class="table__cell">Числова&#769;я информа&#769;ция</p>
          <p class="table__cell">Графи&#769;ческая информа&#769;ция</p>
          <p class="table__cell">Ви&#769;деоинформа&#769;ция</p>
          <p class="table__cell">Мультимеди&#769;йная информа&#769;ция</p>
        </td>
      </tr>
    </tbody>
  </table>

</div>
