<hr>
<div class="book__content">
  <p class="book__descr">
    <b>1. Прочитайте слова и&nbsp;словосочетания, переведите, запомните их&nbsp;значения.</b>
  </p>

  <table class="table table__words">
    <tbody>
      <tr class="table__row">
        <td>Обеспе&#769;чивать&nbsp;I, обеспе&#769;чить&nbsp;II (кого? чем?)</td>
        <td> </td>
      </tr>
      <tr class="table__row">
        <td>Обеспе&#769;чение (сущ., ср.р.)</td>
        <td> </td>
      </tr>
      <tr class="table__row">
        <td>Устана&#769;вливать&nbsp;I, установи&#769;ть&nbsp;II (что?)</td>
        <td>Устана&#769;вливать програ&#769;мму</td>
      </tr>
      <tr class="table__row">
        <td>Устано&#769;вка</td>
        <td>Устано&#769;вка програ&#769;ммы</td>
      </tr>
      <tr class="table__row">
        <td>Систе&#769;ма</td>
        <td>
          <p class="table__cell">Операцио&#769;нная систе&#769;ма</p>
          <p class="table__cell">Фа&#769;йловая систе&#769;ма</p>
        </td>
      </tr>
      <tr class="table__row">
        <td>Програ&#769;мма</td>
        <td>
          <p class="table__cell">Прикладна&#769;я програ&#769;мма</p>
          <p class="table__cell">Систе&#769;мная программа</p>
          <p class="table__cell">Служе&#769;бная програ&#769;мма</p>
        </td>
      </tr>
      <tr class="table__row">
        <td>Програ&#769;ммный, -ая, -ое, -ые</td>
        <td>Програ&#769;ммное обеспе&#769;чение</td>
      </tr>
      <tr class="table__row">
        <td>Программи&#769;ровать I</td>
        <td> </td>
      </tr>
      <tr class="table__row">
        <td>Программи&#769;рование (сущ., ср.р.)</td>
        <td>
          <p class="table__cell">Систе&#769;мное программи&#769;рование</p>
          <p class="table__cell">Систе&#769;мы программи&#769;рования</p>
        </td>
      </tr>
      <tr class="table__row">
        <td>Программи&#769;ст</td>
        <td> </td>
      </tr>
      <tr class="table__row">
        <td>Администра&#769;тор</td>
        <td>Систе&#769;мный администра&#769;тор</td>
      </tr>
      <tr class="table__row">
        <td>Интерфе&#769;йс</td>
        <td>
          <p class="table__cell">По&#769;льзовательский интерфе&#769;йс</p>
          <p class="table__cell">Програ&#769;ммный интерфе&#769;йс</p>
          <p class="table__cell">Аппара&#769;тный интерфе&#769;йс</p>
          <p class="table__cell">Удо&#769;бный интерфе&#769;йс</p>
        </td>
      </tr>
      <tr class="table__row">
        <td>Реда&#769;ктор</td>
        <td>
          <p class="table__cell">Реда&#769;ктор те&#769;кстовой информа&#769;ции</p>
          <p class="table__cell">Графи&#769;ческий реда&#769;ктор</p>
        </td>
      </tr>
      <tr class="table__row">
        <td>Дра&#769;йвер</td>
        <td>Дра&#769;йвер устро&#769;йства</td>
      </tr>
      <tr class="table__row">
        <td>Утили&#769;та</td>
        <td> </td>
      </tr>
      <tr class="table__row">
        <td>Управля&#769;ть&nbsp;I (чем?)</td>
        <td>Управля&#769;ть устро&#769;йствами компью&#769;тера</td>
      </tr>
      <tr class="table__row">
        <td>Управле&#769;ние (сущ., ср.р.)</td>
        <td>Управле&#769;ние устро&#769;йствами компью&#769;тера</td>
      </tr>
      <tr class="table__row">
        <td>Настра&#769;ивать&nbsp;I, настро&#769;ить&nbsp;II (что?)</td>
        <td>Настра&#769;ивать програ&#769;ммное обеспе&#769;чение</td>
      </tr>
      <tr class="table__row">
        <td>Настро&#769;йка</td>
        <td>Настро&#769;йка програ&#769;ммного обеспе&#769;чения</td>
      </tr>
      <tr class="table__row">
        <td>Проверя&#769;ть&nbsp;I, прове&#769;рить&nbsp;II (что?)</td>
        <td>Проверя&#769;ть компью&#769;тер </td>
      </tr>
      <tr class="table__row">
        <td>Прове&#769;рка</td>
        <td>Прове&#769;рка компью&#769;тера</td>
      </tr>
      <tr class="table__row">
        <td>Диск</td>
        <td>
          <p class="table__cell">Физи&#769;ческий диск</p>
          <p class="table__cell">Логи&#769;ческий диск</p>
        </td>
      </tr>
      <tr class="table__row">
        <td>Создава&#769;ть&nbsp;I, созда&#769;ть I-II (что?)</td>
        <td>Созда&#769;ть файл</td>
      </tr>
      <tr class="table__row">
        <td>Созда&#769;ние (сущ., ср.р.)</td>
        <td>Созда&#769;ние фа&#769;йла </td>
      </tr>
      <tr class="table__row">
        <td>Переимено&#769;вывать, переименова&#769;ть&nbsp;I (что?)</td>
        <td>Переименова&#769;ть катало&#769;г</td>
      </tr>
      <tr class="table__row">
        <td>Переименование (сущ., ср.р.)</td>
        <td>Переименова&#769;ние катало&#769;га </td>
      </tr>
      <tr class="table__row">
        <td>Копи&#769;ровать, скопи&#769;ровать&nbsp;I (что?)	</td>
        <td>Скопи&#769;ровать фа&#769;йлы</td>
      </tr>
      <tr class="table__row">
        <td>Копи&#769;рование (сущ., ср.р.)</td>
        <td>Копи&#769;рование фа&#769;йлов</td>
      </tr>
      <tr class="table__row">
        <td>Перемеща&#769;ть&nbsp;I, перемести&#769;ть (ст//щ) II&nbsp;(что?)</td>
        <td>Перемести&#769;ть катало&#769;г</td>
      </tr>
      <tr class="table__row">
        <td>Перемеще&#769;ние (сущ., ср.р.)</td>
        <td>Перемеще&#769;ние каталог&#769;а </td>
      </tr>
      <tr class="table__row">
        <td>Удаля&#769;ть&nbsp;I, удали&#769;ть&nbsp;II (что?)</td>
        <td>Удали&#769;ть файл</td>
      </tr>
      <tr class="table__row">
        <td>Удале&#769;ние (сущ., ср.р.)</td>
        <td>Удале&#769;ние фа&#769;йла </td>
      </tr>
      <tr class="table__row">
        <td>Файл</td>
        <td>
          <p class="table__cell">По&#769;лное и&#769;мя фа&#769;йла</p>
          <p class="table__cell">Коро&#769;ткое и&#769;мя фа&#769;йла</p>
          <p class="table__cell">Расшире&#769;ние фа&#769;йла</p>
          <p class="table__cell">Систе&#769;мный файл</p>
          <p class="table__cell">Исполня&#769;емый файл</p>
          <p class="table__cell">Те&#769;кстовый файл</p>
          <p class="table__cell">Графи&#769;ческий файл</p>
          <p class="table__cell">Звуково&#769;й файл</p>
          <p class="table__cell">Ви&#769;деофа&#769;йл</p>
          <p class="table__cell"></p>
          <p class="table__cell"></p>
          <p class="table__cell"></p>
        </td>
      </tr>
      <tr class="table__row">
        <td>Катало&#769;г</td>
        <td>
          <p class="table__cell">Корнево&#769;й катало&#769;г</p>
          <p class="table__cell">Вло&#769;женный катало&#769;г</p>
          <p class="table__cell">Де&#769;рево катало&#769;гов</p>
        </td>
      </tr>
      <tr class="table__row">
        <td>Презента&#769;ция</td>
        <td> </td>
      </tr>
      <tr class="table__row">
        <td>Бра&#769;узер</td>
        <td></td>
      </tr>
      <tr class="table__row">
        <td>Ба&#769;за да&#769;нных</td>
        <td>Систе&#769;ма управле&#769;ния ба&#769;зами да&#769;нных</td>
      </tr>
      <tr class="table__row">
        <td>Табли&#769;ца	</td>
        <td>Электро&#769;нная табли&#769;ца</td>
      </tr>
      <tr class="table__row">
        <td>Архи&#769;в</td>
        <td></td>
      </tr>
      <tr class="table__row">
        <td>Архиви&#769;ровать, заархиви&#769;ровать&nbsp;I (что?)</td>
        <td>Заархиви&#769;ровать фа&#769;йлы</td>
      </tr>

    </tbody>
  </table>

</div>
