<hr>
<div class="book__content">
  <p class="book__descr book__descr-tbold">
    2. Сгруппируйте однокоренные слова.
  </p>
  <p class="book__descr">
    Создавать, управление, переименовать, копия, архив, использованный, удалить, обеспечение, проверка, перемещать, программа, выполнение, шире, сохранность, записанный, обработать, файловый, корень, удобно, вложение, имя, выполнить, переименованный, записывать, удаление, созданный, место, архивный, расширенный, хранение, переместить, запись, обрабатывать, программирование, удобство, удалённый, копирование, обеспечивать, создать, расширить, файл, переименование, скопировать, проверять, сохранить, воспользоваться, обеспечить, пользователь, управляющий, архивировать, программировать, проверенный, расширение, корневой, вложенный, создание, копировать, удалять, именованный, выполнять, записать, расширять, заархивировать, перемещение, обработка, хранить, управлять, пользоваться, переименовывать, удобный, программист, проверить, архиватор.
  </p>

  <p class="book__descr book__descr-tbold">
    3. Подберите существительные к&nbsp;прилагательным. Укажите, где возможно, варианты. Поставьте прилагательные в&nbsp;правильной форме.
  </p>
  <table class="table table__words">
    <tbody>
      <tr class="table__row">
        <td class="table__cell-middle">
          <p class="book__descr">
            аппаратный
          </p>
          <p class="book__descr">
            вложенный
          </p>
          <p class="book__descr">
            графический
          </p>
          <p class="book__descr">
            звуковой
          </p>
          <p class="book__descr">
            исполняемый
          </p>
          <p class="book__descr">
            корневой
          </p>
          <p class="book__descr">
            логический
          </p>
          <p class="book__descr">
            операционный
          </p>
          <p class="book__descr">
            пользовательский
          </p>
          <p class="book__descr">
            прикладной
          </p>
          <p class="book__descr">
            программный
          </p>
          <p class="book__descr">
            системный
          </p>
          <p class="book__descr">
            служебный
          </p>
          <p class="book__descr">
            текстовый
          </p>
          <p class="book__descr">
            удобный
          </p>
          <p class="book__descr">
            файловый
          </p>
          <p class="book__descr">
            физический
          </p>
          <p class="book__descr">
            электронный
          </p>
        </td>
        <td class="table__cell-middle">
          <p class="book__descr">
            администратор
          </p>
          <p class="book__descr">
            диск
          </p>
          <p class="book__descr">
            интерфейс
          </p>
          <p class="book__descr">
            информация
          </p>
          <p class="book__descr">
            каталог
          </p>
          <p class="book__descr">
            обеспечение
          </p>
          <p class="book__descr">
            программа
          </p>
          <p class="book__descr">
            программирование
          </p>
          <p class="book__descr">
            редактор
          </p>
          <p class="book__descr">
            система
          </p>
          <p class="book__descr">
            таблица
          </p>
          <p class="book__descr">
            файл
          </p>
        </td>
      </tr>
    </tbody>
  </table>

  <p class="book__descr book__descr-tbold">
    4. Образуйте существительные от&nbsp;данных глаголов по&nbsp;образцу.
  </p>
  <p class="book__descr">
    А) <i>Образец</i>: представить (в//вл)&nbsp;&mdash; представл<b>ение</b>
  </p>
  <p class="book__descr">
    Хранить, управлять, расширить, переместить (ст//щ), обеспечить, удалить, выпол-нить, вложить, сохранить.
  </p>
  <p class="book__descr">
    Б) <i>Образец</i>: понимать&nbsp;&mdash; поним<b>ание</b>
  </p>
  <p class="book__descr">
    Создать, переименовать, использовать, копировать.
  </p>
  <p class="book__descr">
    В) <i>Образец</i>: наладить&nbsp;&mdash; налад<b>ка</b>
  </p>
  <p class="book__descr">
    Настроить, проверить, установить, отправить, обработать.
  </p>

  <p class="book__descr book__descr-tbold">
    5. Образуйте прилагательные от данных существительных по&nbsp;образцу.
  </p>
  <p class="book__descr">
    А) <i>Образец</i>: смысл&nbsp;&mdash; смысл<b>овой</b>
  </p>
  <p class="book__descr">
    Файл, звук, текст.
  </p>
  <p class="book__descr">
    Б) <i>Образец</i>: компьютер&nbsp;&mdash; компьютер<b>ный</b>
  </p>
  <p class="book__descr">
    Аппарат, программа, система.
  </p>
  <p class="book__descr">
    В) <i>Образец</i>: математика&nbsp;&mdash; математ<b>ический</b>
  </p>
  <p class="book__descr">
    Физика, логика, графика.
  </p>

  <p class="book__descr book__descr-tbold">
    6. Преобразуйте словосочетания по&nbsp;образцу.
  </p>
  <p class="book__descr">
    <i>Образец</i>: выполнить действие (4)&nbsp;&mdash; выполнение действия (2)
  </p>
  <p class="book__descr">
    Использовать системы программирования, обработать информацию, настроить программы, проверить компьютер, управлять устройствами компьютера, проверить компьютерную систему, создать файл, переименовать каталог, копировать файлы, удалить каталоги, определить вид информации, выполнить операции, определить правила, переместить файл, сохранить файл, разделить файлы на&nbsp;группы.
  </p>

</div>
