<hr>
<div class="book__content">
  <p class="book__descr book__descr-tbold">
    9. Найдите в&nbsp;тексте ответы на&nbsp;вопросы.
  </p>
  <ol class="book__lits">
    <li class="book__lit">
      Что появилось в&nbsp;конце XIX&nbsp;века?
    </li>
    <li class="book__lit">
      Что изучали в&nbsp;новом научном направлении?
    </li>
    <li class="book__lit">
      Когда появилось понятие &laquo;информатика&raquo;?
    </li>
    <li class="book__lit">
      Как появилось понятие &laquo;информатика&raquo;?
    </li>
    <li class="book__lit">
      Что такое современная информатика?
    </li>
    <li class="book__lit">
      Какие разделы можно выделить в&nbsp;современной информатике?
    </li>
    <li class="book__lit">
      Что изучает каждый из&nbsp;разделов современной информатики?
    </li>
    <li class="book__lit">
      Какое основное понятие информатики?
    </li>
    <li class="book__lit">
      Что такое информация?
    </li>
    <li class="book__lit">
      Чего не&nbsp;имеет информация?
    </li>
    <li class="book__lit">
      Что характеризует информация?
    </li>
    <li class="book__lit">
      Что делает новая информация?
    </li>
    <li class="book__lit">
      Откуда человек получает информацию?
    </li>
    <li class="book__lit">
      Что человек использует для получения информации?
    </li>
    <li class="book__lit">
      Какие у&nbsp;человека есть способы получения информации?
    </li>
    <li class="book__lit">
      На&nbsp;какие виды можно разделить информацию по&nbsp;способу получения?
    </li>
    <li class="book__lit">
      Для чего информацию нужно представлять в&nbsp;разных формах?
    </li>
    <li class="book__lit">
      Какие есть основные формы представления информации?
    </li>
    <li class="book__lit">
      Чем числовая информация отличается от&nbsp;текстовой информации?
    </li>
    <li class="book__lit">
      Как получить мультимедийную информацию?
    </li>
  </ol>

  <p class="book__descr book__descr-tbold">
    10. Закончите предложения.
  </p>
  <ol class="book__lits">
    <li class="book__lit">
      Информация&nbsp;&mdash; это ... .
    </li>
    <li class="book__lit">
      Информатика&nbsp;&mdash; это ... .
    </li>
    <li class="book__lit">
      Способы получения информации&nbsp;&mdash; это ... .
    </li>
    <li class="book__lit">
      Теоретическая информатика изучает ... .
    </li>
    <li class="book__lit">
      Вычислительная техника изучает ... .
    </li>
    <li class="book__lit">
      Алгоритмизация и&nbsp;программирование изучают ... .
    </li>
    <li class="book__lit">
      Прикладная информатика изучает ... .
    </li>
    <li class="book__lit">
      Искусственный интеллект изучает ... .
    </li>
    <li class="book__lit">
      Новая информация уменьшает ... .
    </li>
    <li class="book__lit">
      Информацию можно представить ... .
    </li>
  </ol>

  <p class="book__descr book__descr-tbold">
    11. Заполните таблицу &laquo;Разделы современной информатики&raquo;.
  </p>
  <table class="table table__words">
    <tbody>
      <tr class="table__row table__row-head">
        <td>Как называется раздел информатики?  </td>
        <td>Что изучает раздел информатики?  </td>
      </tr>
      <tr class="table__row table__row-empty">
        <td>  </td>
        <td>  </td>
      </tr>
    </tbody>
  </table>

  <p class="book__descr book__descr-tbold">
    12. Заполните таблицу, разделив слова и&nbsp;словосочетания на&nbsp;группы.
  </p>
  <table class="table table__words">
    <tbody>
      <tr class="table__row table__row-head">
        <td>Виды информации  </td>
        <td>Формы представления информация  </td>
      </tr>
      <tr class="table__row table__row-empty">
        <td> </td>
        <td> </td>
      </tr>
    </tbody>
  </table>
  <p class="book__descr">
    <i>Слова и&nbsp;словосочетания</i>: зрительная информация, видеоинформация, звуковая информация, графическая информация, обонятельная информация, числовая информация, вкусовая информация, текстовая информация, осязательная информация, мультимедийная информация.
  </p>

  <p class="book__descr book__descr-tbold">
    13. Заполните таблицу &laquo;Виды информации и&nbsp;способы её&nbsp;получения&raquo;.
  </p>
  <table class="table table__words">
    <tbody>
      <tr class="table__row table__row-head">
        <td>Орган чувств </td>
        <td>Способ получения информации </td>
        <td>Вид информации </td>
        <td>Источник информации </td>
      </tr>
      <tr class="table__row table__row-empty">
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
      </tr>
    </tbody>
  </table>

  <p class="book__descr book__descr-tbold">
    14. Определите вид информации, которую получает человек, когда...
  </p>
  <table class="table table__words">
    <tbody>
      <tr class="table__row">
        <td>
          <p class="book__descr">
            1) читает книгу
          </p>
          <p class="book__descr">
            2) слушает музыку
          </p>
          <p class="book__descr">
            3) пьёт сладкий чай
          </p>
          <p class="book__descr">
            4) смотрит фильм
          </p>
          <p class="book__descr">
            5) нюхает цветы
          </p>
          <p class="book__descr">
            6) слушает радио
          </p>
          <p class="book__descr">
            7) гладит кошку
          </p>
          <p class="book__descr">
            8) выбирает парфюм
          </p>
          <p class="book__descr">
            9) трогает воду
          </p>
          <p class="book__descr">
            10) ест хлеб
          </p>
        </td>
        <td class="table__cell-middle">
          <p class="book__descr">
            А) осязательная информация
          </p>
          <p class="book__descr">
            Б) звуковая информация
          </p>
          <p class="book__descr">
            В) обонятельная информация
          </p>
          <p class="book__descr">
            Г) вкусовая информация
          </p>
          <p class="book__descr">
            Д) зрительная информация
          </p>
        </td>
      </tr>

    </tbody>
  </table>

  <p class="book__descr book__descr-tbold">
    15. Заполните таблицу &laquo;Формы представления информации и&nbsp;устройства ввода-вывода информации&raquo;.
  </p>
  <table class="table table__words">
    <tbody>
      <tr class="table__row table__row-head">
        <td>Формы представления информации </td>
        <td>Устройства ввода информации </td>
        <td>Устройства вывода информации </td>
      </tr>
      <tr class="table__row table__row-empty">
        <td> </td>
        <td> </td>
        <td> </td>
      </tr>
    </tbody>
  </table>

  <p class="book__descr book__descr-tbold">
    16. Составьте план текста и&nbsp;расскажите текст по&nbsp;плану.
  </p>

</div>
