<hr>
<div class="book__content">
  <p class="book__descr book__descr-tbold">
    7. Найдите в&nbsp;тексте ответы на&nbsp;вопросы.
  </p>
  <ol class="book__lits">
    <li class="book__lit">
      Откуда человек получает информацию? Приведите примеры.
    </li>
    <li class="book__lit">
      Что такое сигнал?
    </li>
    <li class="book__lit">
      Что такое информация для человека?
    </li>
    <li class="book__lit">
      Что дают человеку сообщения?
    </li>
    <li class="book__lit">
      На&nbsp;какие группы можно разделить сигналы?
    </li>
    <li class="book__lit">
      Чем отличаются непрерывный и&nbsp;дискретный сигналы?
    </li>
    <li class="book__lit">
      Какие сигналы понимает и&nbsp;использует человек в&nbsp;своей жизни?
    </li>
    <li class="book__lit">
      Зачем человеку нужно информация?
    </li>
    <li class="book__lit">
      Какая информация помогает человеку принимать правильные решения?
    </li>
    <li class="book__lit">
      Какие есть свойства информации?
    </li>
    <li class="book__lit">
      Что человек использует для работы с&nbsp;информацией?
    </li>
    <li class="book__lit">
      Что такое данные?
    </li>
    <li class="book__lit">
      В&nbsp;виде чего могут быть данные?
    </li>
    <li class="book__lit">
      Что такое информационные процессы?
    </li>
    <li class="book__lit">
      Какие есть виды информационных процессов?
    </li>
    <li class="book__lit">
      Что происходит во&nbsp;время обработки информации?
    </li>
    <li class="book__lit">
      Зачем нужно хранить информацию?
    </li>
    <li class="book__lit">
      Что такое носитель информации?
    </li>
    <li class="book__lit">
      Когда человек передаёт информацию?
    </li>
    <li class="book__lit">
      Как человек может передавать информацию?
    </li>
  </ol>

  <p class="book__descr book__descr-tbold">
    8. Закончите предложения.
  </p>
  <ol class="book__lits">
    <li class="book__lit">
      Информация для человека&nbsp;&mdash; это ... .
    </li>
    <li class="book__lit">
      Сигнал&nbsp;&mdash; это ... .
    </li>
    <li class="book__lit">
      Номера дискретного сигнала&nbsp;&mdash; это ... .
    </li>
    <li class="book__lit">
      Свойства информации&nbsp;&mdash; это ... .
    </li>
    <li class="book__lit">
      Данные&nbsp;&mdash; это ... .
    </li>
    <li class="book__lit">
      Информационные процессы&nbsp;&mdash; это ... .
    </li>
    <li class="book__lit">
      Виды информационных процессов&nbsp;&mdash; это ... .
    </li>
    <li class="book__lit">
      Носитель информации&nbsp;&mdash; это ... .
    </li>
  </ol>

  <p class="book__descr book__descr-tbold">
    9. Найдите соответствия в&nbsp;левой и&nbsp;правой колонках.
  </p>
  <table class="table table__words">
    <tbody>
      <tr class="table__row table__row-head">
        <td>Информация</td>
        <td>Свойства информации</td>
      </tr>
      <tr class="table__row ">
        <td class="table__cell-middle">
          <p class="table__cell">1. Информация представлена на&nbsp;понятном языке.</p>
          <p class="table__cell">2. Информация не&nbsp;зависит от&nbsp;мнения других людей.</p>
          <p class="table__cell">3. Информация содержит верные сообщения.</p>
          <p class="table__cell">4. Информация важна в&nbsp;настоящее время.</p>
          <p class="table__cell">5. Информации достаточно, чтобы решить задачу.</p>
          <p class="table__cell">6. Информацию можно использовать, чтобы решить задачу.</p>
        </td>
        <td class="table__cell-middle">
          <p class="table__cell">А. Полнота</p>
          <p class="table__cell">Б. Полезность</p>
          <p class="table__cell">В. Объективность</p>
          <p class="table__cell">Г. Актуальность</p>
          <p class="table__cell">Д. Понятность</p>
          <p class="table__cell">Е. Достоверность</p>
        </td>
      </tr>
    </tbody>
  </table>

  <p class="book__descr book__descr-tbold">
    10. Вставьте вместо точек глаголы, данные под чертой, в&nbsp;нужной форме.
  </p>
  <ol class="book__lits">
    <li class="book__lit">
      Человек ... информацию из&nbsp;различных источников.
    </li>
    <li class="book__lit">
      Носитель информации&nbsp;&mdash; это предмет, на&nbsp;котором можно ... информацию.
    </li>
    <li class="book__lit">
      Информация нужно ... на&nbsp;языке, который понимает человек.
    </li>
    <li class="book__lit">
      Данные&nbsp;&mdash; это информация, которую ... в&nbsp;виде, удобном для обработки с&nbsp;помощью устройств.
    </li>
    <li class="book__lit">
      Человек ... с&nbsp;информацией, ... информационные процессы.
    </li>
    <li class="book__lit">
      Информационные процессы&nbsp;&mdash; это процессы, в&nbsp;которых ... информация.
    </li>
    <li class="book__lit">
      При решении любой задачи человек ... информацию, которую ... в&nbsp;данный момент.
    </li>
    <li class="book__lit">
      Чтобы информацию можно было ... в&nbsp;любое время, её&nbsp;нужно ... на&nbsp;носителе.
    </li>
    <li class="book__lit">
      Человек ... информацию до&nbsp;обработки и&nbsp;после обработки.
    </li>
  </ol>
  <table class="table table__words">
    <tbody>
      <tr class="table__row">
        <td class="table__cell-border">Сохранить, использовать(ся), представлять, обрабатывать, получать, выполнять, работать, передавать, записать. </td>
      </tr>
    </tbody>
  </table>

  <p class="book__descr book__descr-tbold">
    11. Заполните таблицу &laquo;Виды сигналов&raquo;.
  </p>
  <table class="table table__words">
    <tbody>
      <tr class="table__row table__row-head">
        <td>Вид сигнала </td>
        <td>Пример сигнала </td>
        <td>Множество значений сигнала </td>
      </tr>
      <tr class="table__row table__row-empty">
        <td> </td>
        <td> </td>
        <td> </td>
      </tr>
    </tbody>
  </table>

  <p class="book__descr book__descr-tbold">
    12. Заполните таблицу &laquo;Информационные процессы&raquo;.
  </p>
  <table class="table table__words">
    <tbody>
      <tr class="table__row table__row-head">
        <td>Информационный процесс </td>
        <td>Что делает человек, когда выполняет этот информационный процесс? </td>
      </tr>
      <tr class="table__row table__row-empty">
        <td> </td>
        <td> </td>
      </tr>
    </tbody>
  </table>

  <p class="book__descr book__descr-tbold">
    13. Составьте план текста и&nbsp;расскажите текст по&nbsp;плану.
  </p>

</div>
