<hr>
<div class="book__content">
  <p class="book__descr book__descr-tbold">
    2. Подберите существительные к&nbsp;прилагательным. Укажите, где возможно, варианты. Поставьте прилагательные в&nbsp;правильной форме.
  </p>
  <table class="table table__words">
    <tbody>
      <tr class="table__row">
        <td class="table__cell-middle">
          <p class="book__descr">
            Компьютерный
          </p>
          <p class="book__descr">
            Зрительный
          </p>
          <p class="book__descr">
            Звуковой
          </p>
          <p class="book__descr">
            Искусственный
          </p>
          <p class="book__descr">
            Обонятельный
          </p>
          <p class="book__descr">
            Вкусовой
          </p>
          <p class="book__descr">
            Машинный
          </p>
          <p class="book__descr">
            Осязательный
          </p>
          <p class="book__descr">
            Текстовый
          </p>
          <p class="book__descr">
            Числовой
          </p>
          <p class="book__descr">
            Теоретический
          </p>
          <p class="book__descr">
            Графический
          </p>
          <p class="book__descr">
            Звуковой
          </p>
          <p class="book__descr">
            Мультимедийный
          </p>
        </td>
        <td class="table__cell-middle">
          <p class="book__descr">
            информатика
          </p>
          <p class="book__descr">
            перевод
          </p>
          <p class="book__descr">
            информация
          </p>
          <p class="book__descr">
            интеллект
          </p>
          <p class="book__descr">
            система
          </p>
        </td>
      </tr>
    </tbody>
  </table>

  <p class="book__descr book__descr-tbold">
    3. Сгруппируйте однокоренные слова.
  </p>
  <p class="book__descr">
    Информатика, сбор, компьютер, число, вычислять, сборщик, осязание, информаци-онный, вычислительный, обучение, получение, обонять, вкус, собирать, компьютерный, вкусовой, звук, вычислить, текст, информация, текстовый, звуковой, обучать, собрать, обоняние, звучать, информатор, получить, обонятельный, осязать, осязательный, звучание, число, числовой, теория, самообучение, сборка, теоретический, теоретик, графика, информировать, графический, получать, обучить, вычисление, получатель.
  </p>

  <p class="book__descr book__descr-tbold">
    4. Подберите существительные к&nbsp;глаголам. Укажите, где возможно, варианты.
  </p>
  <table class="table table__words">
    <tbody>
      <tr class="table__row">
        <td class="table__cell-middle">
          <p class="book__descr">
            Искать (что?)
          </p>
          <p class="book__descr">
            Использовать (что?)
          </p>
          <p class="book__descr">
            Сохранять (что?)
          </p>
          <p class="book__descr">
            Получать (что? из&nbsp;чего? откуда?)
          </p>
          <p class="book__descr">
            Изучать (что?)
          </p>
          <p class="book__descr">
            Уменьшить (что?)
          </p>
          <p class="book__descr">
            Передавать (что? кому?)
          </p>
          <p class="book__descr">
            Пробовать (чем?)
          </p>
          <p class="book__descr">
            Трогать (что?)
          </p>
          <p class="book__descr">
            Представить (в&nbsp;чём? как?)
          </p>
          <p class="book__descr">
            Характеризовать (что?)
          </p>
          <p class="book__descr">
            Чувствовать (что?)
          </p>
          <p class="book__descr">
            Увеличивать (что?)
          </p>
        </td>
        <td class="table__cell-middle">
          <p class="book__descr">
            книги в&nbsp;библиотеке
          </p>
          <p class="book__descr">
            новые знания
          </p>
          <p class="book__descr">
            запах
          </p>
          <p class="book__descr">
            следующим поколениям
          </p>
          <p class="book__descr">
            информацию
          </p>
          <p class="book__descr">
            следующим поколениям
          </p>
          <p class="book__descr">
            языком
          </p>
          <p class="book__descr">
            разнообразие в&nbsp;окружающем мире
          </p>
          <p class="book__descr">
            из&nbsp;различных источников
          </p>
          <p class="book__descr">
            знания
          </p>
          <p class="book__descr">
            предмет
          </p>
          <p class="book__descr">
            неопределённость знаний
          </p>
          <p class="book__descr">
            в&nbsp;разных формах
          </p>
        </td>
      </tr>

    </tbody>
  </table>

  <p class="book__descr book__descr-tbold">
    5. Образуйте прилагательные от данных существительных по&nbsp;образцу.
  </p>
  <p class="book__descr">
    А) <i>Образец</i>: смысл&nbsp;&mdash; смысл<b>овой</b>
  </p>
  <p class="book__descr">
    Число, звук, вкус, текст.
  </p>
  <p class="book__descr">
    Б) <i>Образец</i>: система&nbsp;&mdash; систем<b>ный</b>
  </p>
  <p class="book__descr">
    Неопределённость, компьютер, мультимедиа, информация, машина.
  </p>

  <p class="book__descr book__descr-tbold">
    6. Образуйте существительные от&nbsp;данных глаголов по&nbsp;образцу.
  </p>
  <p class="book__descr">
    А) <i>Образец</i>: выполнить&nbsp;&mdash; выполн<b>ение</b>
  </p>
  <p class="book__descr">
    Уменьшить, изучить, выделить, вычислить, получить, хранить, объединить, представить, увеличить.
  </p>
  <p class="book__descr">
    Б) <i>Образец</i>: указать&nbsp;&mdash; указ<b>ание</b>
  </p>
  <p class="book__descr">
    Создать, понимать, описать, кодировать.
  </p>
  <p class="book__descr">
    В) <i>Образец</i>: читать&nbsp;&mdash; чита<b>тель</b>
  </p>
  <p class="book__descr">
    Получать, исполнить, писать, слушать, преподавать.
  </p>
  <p class="book__descr">
    Г) <i>Образец</i>: входить&nbsp;&mdash; вход
  </p>
  <p class="book__descr">
    Выходить, вводить, собрать, выводить, записать, переводить.
  </p>

  <p class="book__descr book__descr-tbold">
    7. Преобразуйте словосочетания по&nbsp;образцу.
  </p>
  <p class="book__descr">
    <i>Образец</i>: решить задачу (4)&nbsp;&mdash; решение задачи (2)
  </p>
  <p class="book__descr">
    Сохранить знания, передавать знания, собрать информацию, хранить информацию, увеличить знания, уменьшить неопределённость знаний, изучать алгоритмы, объединить слова, получать информацию, выделить разделы, представить информацию.
  </p>

</div>
