<hr>
<div class="book__content">
  <p class="book__descr book__descr-tbold">
    7. Прочитайте текст.
  </p>

  <p class="book__descr book__descr-tbold">
    Программное обеспечение
  </p>
  <p class="book__descr">
    Чтобы человек мог использовать компьютер для решения задач, на&nbsp;компьютер нужно установить программное обеспечение (англ. software).
  </p>
  <p class="book__descr">
    Программное обеспечение (ПО)&nbsp;&mdash; это весь набор программ компьютера для ввода, обработки, вывода и&nbsp;передачи данных.
  </p>
  <p class="book__descr">
    Всё программное обеспечение компьютера можно разделить на&nbsp;три группы&nbsp;&mdash; системные программы, системы программирования и&nbsp;прикладные программы.
  </p>
  <p class="book__descr">
    Всех людей, кто работает с&nbsp;компьютерами, также можно разделить на&nbsp;три группы&nbsp;&mdash; системные администраторы, программисты и&nbsp;пользователи.
  </p>
  <p class="book__descr">
    Пользователи используют прикладные программы, чтобы решать свои задачи. Примеры прикладных программ&nbsp;&mdash; это редакторы текстовой, графической, звуковой, видеоинформации, электронные таблицы, системы управления базами данных, CAD-системы, браузеры, игры и&nbsp;другие.
  </p>
  <p class="book__descr">
    Программисты используют системы программирования, чтобы писать новые программы. Примеры систем программирования&nbsp;&mdash; Visual Studio Code, IntelliJ IDEA, Eclipse, PyCharm, Microsoft Visual Studio, Xcode и&nbsp;другие.
  </p>
  <p class="book__descr">
    Системные администраторы настраивают системное программное обеспечение и&nbsp;все другие программы так, чтобы все, кто использует компьютер, могли решать свои задачи. Системное программное обеспечение&nbsp;&mdash; это комплекс программ. Задачи системных программ обеспечить:
  </p>

  <ul class="book__lits">
    <li class="book__lit">
      работу всех устройств компьютера,
    </li>
    <li class="book__lit">
      удобный интерфейс (способ обмена данными) между пользователем и&nbsp;прикладными программами,
    </li>
    <li class="book__lit">
      удобный интерфейс между пользователем и&nbsp;устройствами компьютера.
    </li>
  </ul>

  <p class="book__descr">
    В&nbsp;состав системного программного обеспечения входят операционные системы (например, Windows, Unix, Linux, macOS, Android, iOS и&nbsp;другие), драйверы (программы, которые управляют устройствами компьютера), утилиты (служебные программы для проверки и&nbsp;настройки компьютера).
  </p>

  <p class="book__descr book__descr-tbold">
    Файловая система
  </p>
  <p class="book__descr">
    Жёсткий диск&nbsp;&mdash; это устройство внешней постоянной памяти компьютера. Современные жёсткие диски могут иметь объём памяти больше 10&nbsp;Тбайт. Большие жёсткие диски можно делить на&nbsp;логические диски (разделы).
  </p>
  <p class="book__descr">
    Все устройства внешней памяти, которые подключаются к&nbsp;компьютеру (физические и&nbsp;логические диски), имеют логическое имя. Для операционной системы Windows логическое имя устройств внешней памяти&nbsp;&mdash; это буква латинского алфавита и&nbsp;двоеточие. Например, c:, d:, e: и&nbsp;так далее.
  </p>
  <p class="book__descr">
    Часть операционной системы, которая определяет правила организации, именования, хранения информации на&nbsp;внешних носителях,&nbsp;&mdash; это файловая система. Основные объекты файловой системы&nbsp;&mdash; это файл и&nbsp;каталог.
  </p>
  <p class="book__descr">
    Вся информация в&nbsp;памяти компьютера&nbsp;&mdash; программы и&nbsp;данные&nbsp;&mdash; хранится в&nbsp;виде файлов. Файл&nbsp;&mdash; это именованная область внешней памяти. Файл&nbsp;&mdash; это информация, которая имеет имя и&nbsp;хранится во&nbsp;внешней памяти компьютера как один объект.
  </p>
  <p class="book__descr">
    Каталог&nbsp;&mdash; это именованный список файлов и&nbsp;других каталогов. Каталоги нужны, чтобы разделить файлы на&nbsp;группы для удобной работы.
  </p>
  <p class="book__descr">
    Основные операции с&nbsp;файлами и&nbsp;каталогами, которые выполняет файловая система,&nbsp;&mdash; это создание, переименование, копирование, перемещение и&nbsp;удаление.
  </p>
  <p class="book__descr">
    Логическое имя устройства внешней памяти&nbsp;&mdash; это имя корневого каталога. Все другие каталоги, которые находятся на&nbsp;внешнем носителе внутри корневого каталога,&nbsp;&mdash; это вложенные каталоги. Все каталоги, начиная с&nbsp;корневого, образуют дерево каталогов.
  </p>
  <p class="book__descr">
    Каталоги и&nbsp;файлы имеют имя. Имя любого вложенного каталога&nbsp;&mdash; набор символов, слово или фраза&nbsp;&mdash; это информация о&nbsp;том, что находится в&nbsp;этом каталоге.
  </p>
  <p class="book__descr">
    Полное имя файла&nbsp;&mdash; это набор символов, который состоит из&nbsp;двух частей&nbsp;&mdash; короткого имени и&nbsp;расширения. Короткое имя файлу может давать пользователь, который создаёт файл, или программа, в&nbsp;которой пользователь сохраняет файл. Короткое имя файла&nbsp;&mdash; это информация для пользователя о&nbsp;том, что находится в&nbsp;данном файле. Расширение файлу даёт программа, в&nbsp;которой пользователь сохраняет файл. Расширение&nbsp;&mdash; это информация для пользователя и&nbsp;для операционной системы. Пользователь по&nbsp;расширению может определить, какой вид информации хранится в&nbsp;файле&nbsp;&mdash; текст, рисунок, музыка, программа и&nbsp;так далее. Операционная система по&nbsp;расширению определяет, какую программу нужно использовать для работы с&nbsp;данным файлом. В&nbsp;таблице 1&nbsp;приведены примеры типов файлов и&nbsp;примеры их&nbsp;расширений.
  </p>

  <table class="table table__words">
    <caption style="text-align: right;">
      Таблица&nbsp;1. Примеры типов файлов и&nbsp;их&nbsp;расширений
    </caption>
    <tbody>
      <tr class="table__row table__head">
        <td>Тип файла </td>
        <td>Примеры расширений </td>
      </tr>
      <tr class="table__row">
        <td>Системный файл (например, драйвер) </td>
        <td>drv, sys, dll </td>
      </tr>
      <tr class="table__row">
        <td>Исполняемый файл (например, программа) </td>
        <td>exe, com, bat </td>
      </tr>
      <tr class="table__row">
        <td>Текстовый файл (например, документ) </td>
        <td>txt, doc, docx, rtf, pdf, odt </td>
      </tr>
      <tr class="table__row">
        <td>Графический файл (например, фото) </td>
        <td>pic, gif, jpg, png, psd, cdr, csc </td>
      </tr>
      <tr class="table__row">
        <td>Звуковой файл (например, музыка) </td>
        <td>wav, mp3, mid </td>
      </tr>
      <tr class="table__row">
        <td>Видеофайл (например, фильм) </td>
        <td>avi, flv, mkv, mov, mp4, mpeg, wmv </td>
      </tr>
      <tr class="table__row">
        <td>Электронная таблица </td>
        <td>xls, xlsx, ods, silk, cgm, cwk, cws </td>
      </tr>
      <tr class="table__row">
        <td>Презентация </td>
        <td>ppt, pptx, ppsx, odp </td>
      </tr>
      <tr class="table__row">
        <td>База данных </td>
        <td>mbd, accdb, db, .sl, dbf, pjt, fpt, ora, dbg, dbs </td>
      </tr>
      <tr class="table__row">
        <td>Файл CAD-системы </td>
        <td>cdw, frw, kdw, dws, dwt, mcd, mcdx </td>
      </tr>
      <tr class="table__row">
        <td>Веб-страница </td>
        <td>htm, html, xhtml </td>
      </tr>
      <tr class="table__row">
        <td>Архив </td>
        <td>zip, rar, 7z </td>
      </tr>
      <tr class="table__row">
        <td>Исходный код (текст) программы </td>
        <td>py, pas, cpp, java, js, php </td>
      </tr>
    </tbody>
  </table>

</div>
