<div class="book__content">
  <br>
  <figure class="book__figure book__figure-text">
      <img class="book__img book__img-text" loading="lazy" src="./img/part-4/pic-4-1.jpg" alt="Шеннон">
  </figure>

  <p class="book__descr book__title">
    Клод Э&#769;лвуд Ше&#769;ннон
  </p>
  <p class="book__descr book__title">
    (30.04.1916&nbsp;&mdash; 24.02.2001)
  </p>
  <p class="book__descr">
    Инженер, криптоаналитик и&nbsp;математик Клод Элвуд Шеннон родился в&nbsp;городке Петоски штата Мичиган (США). В&nbsp;детстве Шеннон увлекался математическими головоломками, делал модели самолётов. В&nbsp;1936 году Клод Шеннон получил степень бакалавра по&nbsp;электронике и&nbsp;математике Мичиганского университета.
  </p>
  <p class="book__descr">
    Работая в&nbsp;Массачусетском технологическом институте, Шеннон заинтересовался булевой алгеброй и&nbsp;применил её&nbsp;к&nbsp;соединительным схемам компьютера. В&nbsp;своей магистерской диссертации показал, как реализовать алгебру логики (булеву алгебру) с&nbsp;помощью электронных схем реле и&nbsp;переключателей. Этим он&nbsp;заложил основу проектирования цифровых схем, которые являются важнейшим элементом микроэлектроники.
  </p>
  <p class="book__descr">
    С&nbsp;1941 года К.&nbsp;Шеннон работал в&nbsp;Bell Labs над разными проектами. Одними из&nbsp;таких проектов были криптография и&nbsp;кодирование речи. В&nbsp;1949 году была опубликована его работа в&nbsp;этой области&nbsp;&mdash; &laquo;Теория связи в&nbsp;секретных системах&raquo;.
  </p>
  <p class="book__descr">
    Основу теории информации Клод Шеннон опубликовал в&nbsp;работе &laquo;Математическая теория связи&raquo; в&nbsp;1948&nbsp;году. В&nbsp;этой работе Шеннон использовал методы теории вероятностей Норберта Винера, ввёл понятие информационной энтропии как меры неопределённости информации в&nbsp;сообщении.
  </p>
  <p class="book__descr">
    Также Клод Шеннон занимался изучением теории игр, создавал различные устройства, в&nbsp;том числе логические машины, продолжая работы Джона фон Неймана и&nbsp;Алана Тьюринга.
  </p>

</div>
