<hr>
<div class="book__content">
  <p class="book__descr book__descr-tbold">
    2. Сгруппируйте однокоренные слова.
  </p>
  <p class="book__descr">
    Сбор, изменение, информировать, носить, передача, изменить, понятный, полно, полезно, достоверный, актуальность, сборщик, полный, информатор, достоверно, польза, носитель, передавать, информация, сохранённый, актуально, изменять, понять, осязание, сборка, полезность, сохранение, понятность, актуальный, собрать, информационный, понимать, достоверность, передать, полнота, полезный, собирать, сохранить, нести, хранить, изменённый, объект, осязательный, носильщик, объективный, осязать, объективность, обработка, хранение, обрабатывать, носимый, обработать, передатчик.
  </p>

  <p class="book__descr book__descr-tbold">
    3. Образуйте существительные от&nbsp;данных глаголов по&nbsp;образцу.
  </p>
  <p class="book__descr">
    А) <i>Образец</i>: выполнить&nbsp;&mdash; выполн<b>ение</b>
  </p>
  <p class="book__descr">
    Сообщить, изучить, получить, хранить, изменить, представить (в//вл), сохранить.
  </p>
  <p class="book__descr">
    Б) <i>Образец</i>: указать&nbsp;&mdash; указ<b>ание</b>
  </p>
  <p class="book__descr">
    Создать, понимать, описать, содержать.
  </p>
  <p class="book__descr">
    В) <i>Образец</i>: читать&nbsp;&mdash; чита<b>тель</b>
  </p>
  <p class="book__descr">
    Получать, носить, писать, слушать, преподавать.
  </p>

  <p class="book__descr book__descr-tbold">
    4. Образуйте прилагательные от данных существительных по&nbsp;образцу.
  </p>
  <p class="book__descr">
    А) <i>Образец</i>: смысл&nbsp;&mdash; смысл<b>овой</b>
  </p>
  <p class="book__descr">
    Число, звук, вкус, текст.
  </p>
  <p class="book__descr">
    Б) <i>Образец</i>: достоверность&nbsp;&mdash; достовер<b>ный</b>
  </p>
  <p class="book__descr">
    Понятность, непрерывность, объективность, конечность, полезность, актуальность, бесконечность, дискретность.
  </p>

  <p class="book__descr book__descr-tbold">
    5. Подберите существительные к&nbsp;глаголам. Укажите, где возможно, варианты.
  </p>
  <table class="table table__words">
    <tbody>
      <tr class="table__row">
        <td class="table__cell-middle">
          <p class="book__descr">
            получать (что? откуда? в&nbsp;виде чего?)
          </p>
          <p class="book__descr">
            принимать (что? с&nbsp;помощью чего?)
          </p>
          <p class="book__descr">
            давать (что?)
          </p>
          <p class="book__descr">
            принимать (что?)
          </p>
          <p class="book__descr">
            зависеть (от&nbsp;чего?)
          </p>
          <p class="book__descr">
            использовать (что? для чего?)
          </p>
          <p class="book__descr">
            решить (что?)
          </p>
          <p class="book__descr">
            найти (что?)
          </p>
          <p class="book__descr">
            обрабатывать (что?)
          </p>
          <p class="book__descr">
            сохранить (что? где? на&nbsp;чём?)
          </p>
          <p class="book__descr">
            передавать (что? с&nbsp;помощью чего?)
          </p>
        </td>
        <td class="table__cell-middle">
          <p class="book__descr">
            информацию
          </p>
          <p class="book__descr">
            на&nbsp;носителе
          </p>
          <p class="book__descr">
            в&nbsp;виде сигналов
          </p>
          <p class="book__descr">
            задачу
          </p>
          <p class="book__descr">
            с&nbsp;помощью приборов
          </p>
          <p class="book__descr">
            из&nbsp;различных источников
          </p>
          <p class="book__descr">
            новые знания
          </p>
          <p class="book__descr">
            бесконечно много значений
          </p>
          <p class="book__descr">
            номера
          </p>
          <p class="book__descr">
            непрерывные сигналы
          </p>
          <p class="book__descr">
            одно из&nbsp;значений
          </p>
          <p class="book__descr">
            правильные решения
          </p>
          <p class="book__descr">
            различные устройства
          </p>
          <p class="book__descr">
            конечное число значений
          </p>
          <p class="book__descr">
            для работы
          </p>
          <p class="book__descr">
            от&nbsp;мнения людей
          </p>
          <p class="book__descr">
            с&nbsp;помощью устройств
          </p>
        </td>
      </tr>

    </tbody>
  </table>

</div>
