// базовые подключения
@use "vars";
@use "mixins";
@use "fonts";
@use "settings";

// подключения компонентов страницы
@use "./components/header";
@use "./components/book";
@use "./components/posobie";
@use "./components/part";
@use "./components/footer";
@use "./components/text-end-btn";
