// базовые подключения
@import "vars";
@import "mixins";
@import "fonts";
@import "settings";


// подключения компонентов страницы
@import "./components/header";
@import "./components/book";
@import "./components/posobie";
@import "./components/part";
@import "./components/footer";
@import "./components/text-end-btn";
